[2017-10-25 04:51] paagla123 commented on #116
@javpowell team is using contactservice/GetContactsByPage . However, we need help with document/example of how to use
<SortExpression>String content</SortExpression>

For example, to sort "FirstName ASC, LastName DSC", What I need to put in SortExpression?

[2017-10-25 04:51] daver78 commented on #132
Yes; no problem. Do you need to?

On Tue, Oct 24, 2017 at 9:31 PM Coa <notifications@github.com> wrote:

--
-dr-

*PS*:  *Are you an auditory learner?  Weekly, we bring you the latest
strategies for using multi-channel marketing automation to boost leads &
sales <http://bit.ly/PixelsAndInk>.  From the industry's top sales &
marketing minds, you’ll hear what’s working -- and not working -- so you
c

[2017-10-25 06:12] coa0329 commented on #132
@daver78

We may because the new version will not have publish button.

[2017-10-25 07:23] paweenwich commented on #116
@paagla123 Done,  For contact set < 10000, we do previous memory mode.  (Load everything in memory and do search/sort/page in memory).   For contact > 10000, we switch to server mode.  Right now only paging and searching work.  Sort need server side API.

[2017-10-25 07:29] paagla123 commented on #137
Closing this one!

[2017-10-25 07:29] #137 closed

[2017-10-25 07:31] paagla123 commented on #127
@daver78 we do not need launch!

[2017-10-25 07:33] paagla123 commented on #116
@paweenwich ok thank you great work

[2017-10-25 07:38] paagla123 commented on #91
@daver78 ready to close this?

[2017-10-25 07:39] paagla123 commented on #77
Copying @jiewsone - ready to move forward you know. Tx

[2017-10-25 07:41] paagla123 commented on #72
@daver78 are you planning to look into this? Thx

[2017-10-25 08:14] #161 closed

[2017-10-25 08:16] #160 closed

[2017-10-25 08:59] coa0329 commented on #162
@daver78 @paagla123
They will not show on prod.
They will show on stage.

[2017-10-25 10:59] jiewsone commented on #142
@paagla123  Fixed on stage.

[2017-10-25 11:06] coa0329 commented on #140
@paagla123

We remove publish button from both versions of blog.
It will publish when you click save.

[2017-10-25 11:46] jiewsone commented on #140
@paagla123  The new UI progress.
Here is the issue have fix on stage.
1. Use Timezone from setting.
2. Publish campaign when click Save. (No need Publish button like eBook)
3. Step 3 - Done.
4. I'm working on Step 4 set Email#1 Schedule.
Now we can save it in case you create only Email#1. If you have create Email#2 and you try to set Email#1 Schedule, it will alert you to set Email#2 schedule too.

[2017-10-25 14:41] daver78 commented on #160
@paagla123 Are you finding the summernote "air" method difficult to use?

[2017-10-25 14:41] daver78 commented on #72
@paagla123 Yes.  Is the list above everything we need to modify?  Or are there more.

[2017-10-25 14:42] daver78 commented on #132
@coa0329 Technically and philosophically, that's no problem.

[2017-10-25 14:44] daver78 commented on #91
@paagla123 We can close this issue and open a new one for "_you mean vertical style? If so, yes._" -- unless you've already created one.

[2017-10-25 14:45] daver78 commented on #127
@paagla123 OK sure ;-)

[2017-10-25 14:51] javpowell commented on #166
Hmmmmm, its hard to say how this would be in the real world, sounds like a
great idea but I wonder if people would use it. Kinda like sharing a report
view, I feel like its a cool option but people usually just add users to
the dashboard instead to get full control of reporting.

*Jason Voigt*
*Client Services Manager*
jvoigt@mindfireinc.com | *949.579.9840*
http://www.mindfirestudio.com/

On Tue,

[2017-10-25 14:55] daver78 commented on #166
@paagla123 I think there are analogs to this in the outside world -- things like sharing a Google Doc for a round of edits/feedback, etc.

Also, I believe that when there is a mismatch in 'attention to detail' (say one person is very attentive to details, and the other person can't see those things), then if the person with the detailed eyes is the "Customer", they'll benefit from being able to tw

[2017-10-25 14:56] #43 closed

[2017-10-25 14:56] Mcfarsheed commented on #166
Well if it's an easy enough tool, the "me" in this case would assign the
task of weekly deploying campaigns to a marketing coordinator or something
and in that case I would want to see tests and approve every single one
then provide her/him feedback to go update.

Sincerely,

Mackenzi
MindFireInc.
949-842-4388
www.mindfireinc.com

On Tue, Oct 24, 2017 at 10:11 PM, daver78 <notifications@github.com

[2017-10-25 14:58] daver78 commented on #166
@Mcfarsheed Are you saying that you would prefer the workflow you had yesterday with Kush?  That's what I read from "_I would want to see tests and approve every single one then **provide her/him feedback to go update**_."

[2017-10-25 15:03] Mcfarsheed commented on #166
You mean prefer that to going in and doing it myself? Well I think if I
ideally had a marketing coordinator who was in the marketing role, this
should be something that they take on. Here's how the workflow would go:
1. I assign topic/assignment (well more like discuss or it's all mapped out
weeks in advance)
2. Marketing coordinator writes email copy, creates image, creates TA,
creates links with

[2017-10-25 15:28] javpowell commented on #116
@paagla123 I will ask Amir today about how the Sort works.

[2017-10-25 16:06] daver78 commented on #166
@Mcfarsheed Hmmm one of us is confused.  We'll talk phone later :)

[2017-10-25 16:38] paagla123 opened #167 "[Chat] Move chat window to left hand side of the screen"
Right now it blocks some UI elements.
![image](https://user-images.githubusercontent.com/29718335/32010975-36b72816-b968-11e7-9462-023132ffa0dc.png)

[2017-10-25 16:42] daver78 opened #168 "[PABP] User can see ##vars## in Email"
When viewing the emails, I can see the `##defViewOnline## `at the top of the email, and `##vars##` in the footer.  The user should not see the vars: they should see the replaced values.

[2017-10-25 16:43] paagla123 commented on #168
![image](https://user-images.githubusercontent.com/29718335/32011227-fc20ffbe-b968-11e7-9e38-51e42d717222.png)

[2017-10-25 16:44] daver78 opened #169 "[PABP] Spacing is wrong in accordion"
Seems like a `<div>` was erroneously added or deleted:

![image](https://user-images.githubusercontent.com/7561473/32011248-14d51356-b969-11e7-8933-7a4bcf1d8c54.png)

Please fix in all Blueprints.

[2017-10-25 16:46] daver78 opened #170 "[PABP] New Email UI needs to show the right "Day""
In the left listing of Emails, the 'x' in "Day x" should be based on the schedule set by the User.  Currently, it is hardcoded.

[2017-10-25 16:47] paagla123 commented on #170
![image](https://user-images.githubusercontent.com/29718335/32011354-62ad42b0-b969-11e7-9c68-f651d3aa6a34.png)

[2017-10-25 16:48] daver78 opened #171 "[PABP] Toggle Notifications UI is a bit fugly"
Dave, fix this:
![image](https://user-images.githubusercontent.com/7561473/32011436-a73d6c66-b969-11e7-82de-a16830acf17c.png)

[2017-10-25 16:59] daver78 opened #172 "[PABP] Schedule Broadcasts: Provide "Boomerang" UI"
![image](https://user-images.githubusercontent.com/7561473/32011823-c824f984-b96a-11e7-9e79-724cfa242847.png)

When the user checks the box, a sleek modal should appear with the following options:
- Repeat this Schedule in X days; we should not allow X to be anything less than 15 days.
- Do this Y # of times; no more than 24 times.

[2017-10-25 17:02] paagla123 commented on #140
@jiewsone awesome. I will test and we can discuss Fri. When you work on schedule, can you please make the schedule name editable? Pl see screenshot below.
![image](https://user-images.githubusercontent.com/29718335/32012093-a6699fd8-b96b-11e7-9a30-97741e9c4d2f.png)

[2017-10-25 17:09] daver78 commented on #109
@AumpaiFung I reviewed this w/ @paagla123, and I have a suggestion to improve the User Experience:

1- I notice that when I click on each of the folders, you re-load the page.  This causes a slight delay for the User.

2- Instead, I suggest that you grab all data from S3 up-front, and then use angular to restrict what I see on the screen based on the folder I'm clicking on.

If you do this, moving

[2017-10-25 17:10] paagla123 opened #173 "[Asset Library] How to figure out is an asset is being used or not"
This is necessary because we don;t want an asset property (e.g. rename etc) to change while it is in use. See screenshot below.
![image](https://user-images.githubusercontent.com/29718335/32012400-940dc50c-b96c-11e7-8444-0efd949d7555.png)

[2017-10-25 17:17] javpowell commented on #116
@paagla123 For sort expression you can do 3 things.

1) "FieldName" - this will sort Ascending by default on the selected fieldname
2) "FieldName ASC" or "FieldName DESC" - this will sort Ascending or Descending on the selected fieldname
3) "FieldName,FieldName ASC" or "FieldName,FieldName DESC" - this will sort Ascending or Descending on the selected fieldnames

[2017-10-25 17:17] Mcfarsheed commented on #166
Ok you can call me whenever. I don't know what you are referring to but the
process I outlined above is exactly how I see it going down in an ideal
situation.

Me - Manager
Marketing Coordinator - Executer

The exact steps are listed.

Sincerely,

Mackenzi
MindFireInc.
949-842-4388
www.mindfireinc.com

On Wed, Oct 25, 2017 at 11:06 AM, daver78 <notifications@github.com> wrote:

[2017-10-25 17:18] paagla123 commented on #109
@AumpaiFung two comments please:
1) Please grab image (or video, audio as appropriate) properties for display, e.g. description, size etc. Talk to me if you have qus.
2) Please retain the original image file name being uploaded - you are creating a file name. If duplicate name, pop-up warning asking File with same name exists, do you want to overwrite (Y/N)?

[2017-10-25 17:20] paagla123 commented on #109
@AumpaiFung please rename Audio Clips folder to Audio, remove folders PODCasts and Blueprint Defaults.

[2017-10-25 17:35] daver78 opened #174 "[Content Library] Add drag-n-drop features"
Allow dropzone for upload, and drag from right side to appropriate folder.

[2017-10-25 17:42] daver78 opened #175 "[PABP] Allow User to pull Email from Content Library"
![image](https://user-images.githubusercontent.com/7561473/32013829-19c84e7a-b971-11e7-8fa7-00df1d47ecaf.png)

Need to find an easy, elegant way to allow them to start from a template or an existing Email in the Content Library.

[2017-10-25 18:01] daver78 opened #176 "[PAEB] Every time you save a Landing Page page, save it to the Content Library"
@paagla123 will speak to you about this.

[2017-10-25 18:02] paagla123 commented on #140
@jiewsone every time user saves the email, please save a copy to the Email folder of the account in the asset library. If user saves multiple times, please overwrite - no need to prompt the user

[2017-10-25 18:03] daver78 opened #177 "[Content Library] Allow User to specify which areas are editable for "regular" Users"
When you upload HTML for Emails or Landing Page pages, you can designate which areas are editable.  We insert a `<div class="hover">`

[2017-10-25 18:19] daver78 commented on #6
@coa0329 I discussed this with @paagla123, and we would like to show the first rows of the uploaded file beneath the mapping section:

![image](https://user-images.githubusercontent.com/7561473/32015601-6c4b6b0a-b976-11e7-8e42-640abfc60394.png)

Can you do that, please?

[2017-10-25 18:22] paagla123 commented on #23
@paweenwich are we still doing this? Thx

[2017-10-25 18:25] daver78 commented on #47
@paagla123 I'm tagging you to remind you to add the gist of the conversation about ummm how to keep two people form editing the same campaign.

[2017-10-25 18:29] daver78 opened #178 "[Form Builder] Give "Settings" modal some love"
Dave you lazy a** bastard, fix this please:

![image](https://user-images.githubusercontent.com/7561473/32016040-b8af9a06-b977-11e7-88ae-e83bcad3d887.png)

[2017-10-25 18:29] paagla123 commented on #55
Need to answer questions and set up next steps for @jiewsone here to finish this off.

[2017-10-25 18:33] daver78 commented on #65
@paagla123 and Dave decided to fall back to Plan B: Using our web-tracking method.  @paagla123 will take next steps with @javpowell and team.

[2017-10-25 18:37] paagla123 commented on #72
Provide message content to @coa0329 👍
Create text/content for each of these for @coa0329 👍

Success sending test email, which you already did.
PUBLISH SUCCESS when we successfully publish a campaign
Failure to publish when we have a problem in Studio
Update campaign - previously launched (Blog)

[2017-10-25 18:40] daver78 commented on #91
@paagla123 It seems that all of these are still open per our discussion.

[2017-10-25 18:41] paagla123 opened #179 "[eBook] Need to modify email UI to match with revised UI in Blog"

[2017-10-25 18:44] daver78 commented on #123
@paagla123  Is this specific to DV/Studio -- or does it happen in general?

[2017-10-25 19:29] paagla123 commented on #164
@paweenwich I understand from @daver78 that Summernotes has paste from Word and other RTE's (https://summernote.org/deep-dive/#initialization-options )We need to include this in our release as otherwise people will run into trouble.

[2017-10-25 19:38] paagla123 commented on #166
@Mcfarsheed it was very confusing yesterday. I can see why you had the problem with Kathy way back. You cannot keep saying over Skype what you want. You have to take time to write it down, which is what you did eventually in GDoc. Might as well have done that directly in DV. Same thing - right?

VROOM! VROOM!!

[2017-10-25 19:46] paagla123 commented on #116
@paweenwich pl see answers to your questions here. Thx

[2017-10-25 19:52] Mcfarsheed commented on #166
Exactly! But there is one main difference - you and kathy are not the
marketing person so there's a disconnect and confusion.

So, in this case, I would be the person doing the campaign. BUT like I said
in my previous email, I would want a marketing coordinator to do it. The
main difference is that this person would ALSO be writing the copy etc.. so
it wouldn't be me telling them and then them exe

[2017-10-25 21:15] javpowell commented on #65
Maml: https://s3.amazonaws.com/documentsin/WebTracking.maml

Steps:
1)Publish MAML with a Schedule
2)Get Schedule ID the Schedule from Maml
3)Use this PHP file to get your Identifier necessary for the cloud connect callback URL passing account ID and Schedule ID: http://ccihelp.mindfireinc.com/cgi-bin/production/MindFire-QOS-Scripts/customDev/helpprod.php?accountId=[AccountID]&scheduleId=[Schedule

[2017-10-26 20:47] paagla123 commented on #46
I am going to close this one and start a new issue with teh discussions I've had with Dave and Ali separately.

[2017-10-26 20:47] #46 closed

[2017-10-26 23:48] paagla123 opened #180 "[REPORTING] API's required for Reporting"
Query for individual email summary
@amalekshahi  https://studio.dashboard.mdl.io/api/Report//GetAdminReportData?rn=allprogram_allemail_detail&si=0&ai=679&st=0&fd=01/01/2017&td=08/29/2017&seed=false&datasourceType=redshift
This is existing and should remain unchanged. I don;t believe the dashboard is recording the custom unsubscribes - any thoughts on that?
@coa0329  please include Delivered in a n

[2017-10-26 23:56] paagla123 commented on #149
@coa0329 once Ali delivers the summary level stats (see #180), please use the no of click to show "Clicks to Blog Post" for Blog and show the % of clicks to sent as Click Thru Rate.

For eBooks, pl show Clicked a Link from download.html page as no of eBooks downloaded and % of that number compared to visits to Welcome.html page as download rate

[2017-10-26 23:59] paagla123 commented on #180
@amalekshahi please also provide an endpoint to get page, no of unique visits, submits, clicks on external links for each page in the microsite. Pl ask if any questions.

[2017-10-27 00:19] paagla123 commented on #65
@daver78 I will discuss with @coa0329 when I am over in Bangkok

[2017-10-27 00:21] paagla123 commented on #166
@Mcfarsheed vroom vroom!

[2017-10-27 00:22] paagla123 commented on #91
@daver78 I will discuss with @coa0329

[2017-10-27 00:28] paagla123 commented on #160
@daver78 I am ok - I just did not expect this to be the solution - not sure why.

[2017-10-27 00:29] paagla123 commented on #142
@jiewsone only for the new UI - right? We can close this once we can publish and test in the new UI. Thx

[2017-10-27 00:30] amalekshahi commented on #180
- Query for individual email summary: What do you mean by the custom unsubscribes
- Query for Email Summary: Is the difference between summary and detail report just the omission of program name?
- Drill down to contact detail: Please talk to Amir/ Aref about this. This is their endpoint
- Authentication: The endpoint that I provided was just a backdoor for your use and shouldn't be used in a prod

[2017-10-27 04:17] jiewsone commented on #142
@paagla123 I already add Timezone both of setting. It's under Button Color(Old UI).

[2017-10-27 04:36] coa0329 commented on #168
@daver78 @paagla123 @paweenwich

![026](https://user-images.githubusercontent.com/7914690/32088094-12ca975e-bb0b-11e7-9dab-de186e6d2659.JPG)

They are the variables in studio.

We need studio to render them.

[2017-10-27 06:54] coa0329 commented on #6
@daver78 @paagla123
Show the first 3 rows. : Fixed on stage.

[2017-10-27 07:03] coa0329 commented on #72
@paagla123

Please give me more information.

[2017-10-27 07:49] paweenwich commented on #164
@paagla123 I don't understand what you need.  Right now, summer support HTML paste.  This means, if clipboard HTML formatted code, summer note will use that by default.  So, if you copy formatted text from webpage, when paste, that formatted will retain.

Do you want to allow only text to paste into summernote?

[2017-10-27 11:33] jiewsone commented on #169
@daver78 @paagla123  Fixed on stage.

[2017-10-27 14:40] daver78 commented on #149
@paagla123 This is how I would describe it so there is no confusion:

**For Promote a Blog Post**
Definition of data for each column:

- **Reach**: We may re-label this to "# Targeted", but either way, will represent the total # of unique people we sent emails to.

- **Clicks to Blog Post**: # of unique people who clicked the blog links in any email.

- Click-Thru Rate: # of unique people who clic

[2017-10-27 14:51] daver78 commented on #180
@paagla123 I think that in general, you're on the right track here.  Sounds like you need to clarify @amalekshahi's questions.

The only difference I would have employed in the spec is showing what I'd like the JSON columns/data to look like to make Ali's job easier & more clear, and perhaps enable @coa0329 to complete those sections w/mocks.

The only yellow-flag I see above is the endpoint for P

[2017-10-27 16:21] paagla123 commented on #149
@daver78 we do not have a reach on eBook, since we are not sending and outbound leading to the microsite visit. That is why I had asked for visits vs downloads. Thoughts?

[2017-10-27 17:43] paagla123 commented on #149
@javpowell let's discuss this when you have chance.

[2017-10-27 18:01] paagla123 commented on #180
@amalekshahi here're answers to your questions.
However, first of all, the team has requested that we pass program id along with the account id so that we only get back data related to the specific program. Current call is:
https://studio.dashboard.mdl.io/api/Report//GetAdminReportData?rn=allprogram_allemail_detail&si=0&ai=228&st=0&fd=08/28/2017&td=08/31/2017&seed=false&datasourceType=redshift
We

[2017-10-27 18:04] daver78 commented on #65
@paagla123 OK.  Are you clear with @javpowell how this solution would work?

[2017-10-27 18:05] daver78 commented on #168
@paagla123 and @coa0329 It didn't used to be this way.  Did we recently change something about our approach?

If we didn't use the Rule Group Variables in the MAML, would this be solved?

[2017-10-27 18:07] daver78 commented on #6
@coa0329 Thank you.  @paagla123 You will test this?

[2017-10-27 18:07] daver78 commented on #72
@paagla123 Tagging you in case you missed this.

[2017-10-27 18:07] daver78 commented on #164
@paagla123 You got this?

[2017-10-27 18:11] paagla123 commented on #164
@paweenwich I would like to add that options, or add options for things like paste from Word etc. Html works great. What does not work very well is if I copy and paste from a Rich text Editor, e.g. Word. We can test when we're together next week.

[2017-10-27 18:19] paagla123 commented on #6
Tested. Closing.

[2017-10-27 18:19] #6 closed

[2017-10-27 18:20] paagla123 commented on #168
@coa0329 can you please respond to this? Thx

[2017-10-27 18:22] paagla123 commented on #65
@daver78 I am clear at a 5,000 ft level. I will get clearer when I blunder into it!

[2017-10-27 19:07] daver78 commented on #167
![image](https://user-images.githubusercontent.com/7561473/32120908-38c5576a-bb0f-11e7-8239-96f575813b97.png)

Done; please check.  I did this by customizing the Olark code in Google Tag Manager.  Let's see if this does it.  If not, I can tweak more.

[code]

[2017-10-27 19:07] daver78 commented on #167
@paagla123 Please check.

[2017-10-27 19:12] daver78 commented on #132
@paagla123 I'm closing this for now, even though it's not entirely complete.  Let's see how it goes and if we need to finish it.  You OK with that?

[2017-10-27 19:12] #132 closed

[2017-10-27 19:12] daver78 commented on #143
@paagla123 I'm closing this for now.

[2017-10-27 19:12] #143 closed

[2017-10-27 19:41] paagla123 commented on #132
@daver78 I am always happy when you close shit!

[2017-10-27 19:43] paagla123 commented on #167
@daver78 it disappeared

[2017-10-27 20:03] daver78 commented on #167
@paagla123 Hot damn, you've never checked something that quickly :)

I decided to change approaches and NOT put this in Google Tag Manager.  I used the Olark javascript API inside the left wrapper so that it is easier to maintain going forward.  I also added some helpful details for the operators:

[code]

[2017-10-27 20:06] paagla123 commented on #167
Figures!

[2017-10-27 20:42] daver78 commented on #178
Modified to the following:

![image](https://user-images.githubusercontent.com/7561473/32124450-a8d9905e-bb1c-11e7-8486-b7a8c0415cae.png)

@paagla123 Please close once checked.

[2017-10-27 21:29] daver78 commented on #172
Showing Boomerang now as follows:
![image](https://user-images.githubusercontent.com/7561473/32125948-22af1b32-bb23-11e7-88b4-e10be5f93dbb.png)

... and when clicked to expand:

![image](https://user-images.githubusercontent.com/7561473/32125938-17bcb66c-bb23-11e7-8835-544f1d59bc3b.png)

[2017-10-27 21:29] daver78 commented on #172
@paagla123 Take a look.  If OK, please confirm w/team.

[2017-10-27 21:31] daver78 commented on #127
@paagla123 Do we still need this open?

[2017-10-27 21:48] daver78 commented on #178
@paagla123 This is a case where there are two HTMLs that do almost the same thing.  I only applied this to `FormEditorEdit.html`, not `FormEditorNew.html`.

Can you see if we want to refactor this and combine into one HTML?  Not sure who worked on it.

[2017-10-27 22:56] paagla123 opened #181 "[PAEB] Reporting API for Microsite Visits for eBooks"
@amalekshahi There should be an end point which, when called will return the following:
Parameters to be passed - account id, program id (or ALL), from date, to date

{
"Program": "Test10203", [or ALL]
"Page": "Welcome",
"Visitors": 17,
"Submits": 4,
"Clicks": 2,
},

@coa0329 we need to have the data in the eBook reporting. Reach should be visitors and % conversion should be Clicks on download.htm

[2017-10-27 23:05] daver78 commented on #171
After love, we look like this:

![image](https://user-images.githubusercontent.com/7561473/32128136-4b24976a-bb30-11e7-80cb-86285fcfe13f.png)

I made a few slight changes to fix things up.  @paagla123 In the process I noted a few issues:

**1) "Select Some Optio"**.  Before you add anything to the select, it looks like the words "Select Some Optio" are cut off.  I'm OK if we reduce this to "Select

[2017-10-28 01:27] coa0329 commented on #168
@daver78 @paagla123

Please see https://github.com/coa0329/BhaangWeb/issues/114

[2017-10-30 08:03] paweenwich commented on #116
@paagla123 Done, sort is supported

[2017-10-30 11:23] AumpaiFung commented on #109
@paagla123   Stage updated.
Delete individual function (cogs icon).

[2017-10-30 18:57] amalekshahi commented on #180
allprogram_allemail_detail report: I added an optional Program_ID filter to this report and changed it such a way that it only shows emails that start with "Email" in their name. If you pass Program_ID to ##si##, the report will show only rows for that program otherwise if ##si## is zero, it will show all programs.

[2017-10-30 20:28] amalekshahi commented on #180
I added summary report. You can use the same endpoint to test it:
https://studio.dashboard.mdl.io/api/Report//GetAdminReportData?rn=allprogram_allemail_summary&si=0&ai=228&st=0&fd=8/01/2017&td=10/30/2017&seed=false&datasourceType=redshift
This report uses the same filters (account_ID, OPTIONAL program_ID and Email name filters)

[2017-10-30 22:59] amalekshahi commented on #181
2 new reports are done. You have the optional program ID isn ##si##:
Summary:
https://studio.dashboard.mdl.io/api/Report//GetAdminReportData?rn=allprogram_allmspagesl_summary&si=0&ai=679&st=0&fd=10/01/2017&td=10/30/2017&seed=false&datasourceType=redshift

Detail:
https://studio.dashboard.mdl.io/api/Report//GetAdminReportData?rn=allprogram_allmspagesl_detail&si=0&ai=679&st=0&fd=10/01/2017&td=10/30/

[2017-10-30 23:02] amalekshahi commented on #180
Regarding authentication: We are going to close this backdoor (access queries without authentication) soon. Please use Fiddler with our standard dashboard to understand how to authenticate and pass tokens to access the assets ASAP

[2017-10-30 23:13] daver78 opened #182 "PII passed in query string?"
@paagla123, I see what I think is PII passed in the query string as I view activity from the email you sent for Mac's blog:

![image](https://user-images.githubusercontent.com/7561473/32200107-366b4c74-bd8d-11e7-8ab6-ca6b11e1d45e.png)

Can you check w/team to see if are passing the email address in the query string?

[2017-10-30 23:14] daver78 commented on #182
@paagla123 Here's an example of a full link with PII passed to GA:

`http://www.mindfirestudio.com/blog/video-october-economic-webinar-same-ol-same-ol-and-more/?campaignID=dffb7af45eee08a6ab70be4489d89a5a&contactID=94086&source=EMAIL1&utm_source=Email&utm_medium=Email&utm_campaign=BlogPromotion&utm_term=WTTOctober&utm_content=Button&t=&e=mschroeder@inwk.com&h=1c2ad484`

[2017-10-31 00:54] coa0329 commented on #182
@daver78

http://www.mindfirestudio.com/blog/video-october-economic-webinar-same-ol-same-ol-and-more/?campaignID=dffb7af45eee08a6ab70be4489d89a5a&contactID=94086&source=EMAIL1&utm_source=Email&utm_medium=Email&utm_campaign=BlogPromotion&utm_term=WTTOctober&utm_content=Button&t=&e=mschroeder@inwk.com&h=1c2ad484

Is this the correct link that you want ?

[2017-10-31 03:06] #42 closed

[2017-10-31 04:09] paweenwich commented on #168
@paagla123 Done.   However, DV can render only ##variable## that DV manage.  It can not render contacts variable (Ex. ##firstname##).

[2017-10-31 05:07] paagla123 commented on #182
@coa0329 @daver78 this was initial part of the plan for the conversion tracking, which I guess we never changed in the code. @coa0329 we should not send email in URL - Google will block it. What are t & h?
In any case, this will now get replaced with Studio's own tracking - so we will have to change this part of the code anyway.

[2017-10-31 05:10] paagla123 commented on #180
@amalekshahi thank you very much. We will test it today and respond. Please do not close the backdoor this week - let us test and then we will put the code in place with the authentication by end of the week. You can close the backdoor next week, if that's ok.
@coa0329 pl see here - we can discuss at the meeting this afternoon.

[2017-10-31 05:20] paagla123 commented on #181
@amalekshahi thank you. We will review in detail and let you know if we have any issues
@coa0329 - another one to discuss this afternoon

[2017-10-31 05:24] paagla123 commented on #116
@paweenwich @daver78 @javpowell Thanks to all of you. I will test today and close if no issues.
This does not seem that critical, but can be really problem-some from user experience point of view.

[2017-10-31 05:26] paagla123 commented on #178
@coa0329 do we need to discuss this or is @AumpaiFung going to handle?

[2017-10-31 05:27] paagla123 commented on #127
@daver78 I am going to test this quite a bit before closing.

[2017-10-31 05:28] paagla123 commented on #172
@coa0329 another item for us to discuss

[2017-10-31 05:32] coa0329 commented on #182
@paagla123

Those links with email are not from davinci. We don't put email in it.

These are the parameter davinci put in the link

campaignID={{campaignID}}&contactID=##id##&source=EMAIL1&{{URL-BLOG-POST-UTM}}

[2017-10-31 05:58] coa0329 commented on #180
@amalekshahi @paagla123

I can pass the token to your api. You can close the backdoor.

[2017-10-31 07:03] coa0329 commented on #178
@AumpaiFung  will.

[2017-10-31 07:31] AumpaiFung commented on #178
@daver78  - Both pages are in use, and I will change it, follow your prototype.

[2017-10-31 10:03] coa0329 commented on #180
@paagla123

I add Delivered column.

[2017-10-31 10:05] coa0329 commented on #181
@paagla123

I add page report in ebook campaign.

![032](https://user-images.githubusercontent.com/7914690/32218497-9fc5dd3a-be5d-11e7-8c13-4f436b9b580b.JPG)

[2017-10-31 12:03] AumpaiFung commented on #178
@daver78  @paagla123  Stage done.

[2017-10-31 13:28] paagla123 opened #183 "[Reporting] For contact drill down, need help understanding API parameters"
@amalekshahi I see that we have the following API for drill down to get to contact details:
https://studio.dashboard.mdl.io/api/Report/GetReportView?rn=contactslist&cc=10&mt=2&m=1&sct=1&si=197&ai=16916&fd=8/2/2017&td=10/31/2017&seed=False&token=45320803-1e76-47d6-8aa6-ede08ac8c3d3&ut=0933d697e27e401ba81ef5dbde03b877&title=DaVinci%20%2F%20KD-1003-Blog-002%20%2F%20Recipients
Can you please explain e

[2017-10-31 13:50] paagla123 commented on #182
@daver78 I looked at the links DaVinci is creating - and the dashboard. None of the 3 contacts (last 3 in your screenshot) opened the emails, per dashboard. So where are these page visits coming from?

[2017-10-31 13:53] paagla123 commented on #180
@amalekshahi for the summary report, we need only one record returned, which should be the summary of all emails. It should be the combined activities across all emails.
@daver78 does that make sense to you?

[2017-10-31 13:55] paagla123 commented on #178
@AumpaiFung thank you.

[2017-10-31 13:55] #178 closed

[2017-10-31 13:57] paagla123 commented on #176
@daver78 recommendation from @paweenwich today - may be for now we should just have a download button show up after page is saved in cDB.

[2017-10-31 14:01] paagla123 commented on #173
@paweenwich we discussed this today

[2017-10-31 14:03] paagla123 commented on #179
@paweenwich @coa0329 @jiewsone reminder use structured programming techniques and not duplicate common code blocks.

[2017-10-31 14:15] #169 closed

[2017-10-31 14:18] paagla123 commented on #167
Works

[2017-10-31 14:18] #167 closed

[2017-10-31 14:20] paagla123 commented on #163
Tested ok.

[2017-10-31 14:20] #163 closed

[2017-10-31 14:28] paagla123 commented on #141
Closing this one - I will open a new issue for grabbing image from asset library and adding URL for existing image

[2017-10-31 14:28] #141 closed

[2017-10-31 14:31] paagla123 opened #184 "[PABP] Enhancements to Image Upload"
Additional options
- Grab an image from asset library
- Add URL to an existing image

I suggest we add couple of more custom buttons here:
![image](https://user-images.githubusercontent.com/29718335/32229165-6dd03ed8-be0d-11e7-8aaf-fae18dbe8c20.png)

[2017-10-31 14:34] paagla123 commented on #139
@jiewsone what is the status here? Thanks

[2017-10-31 14:43] paagla123 commented on #76
@paweenwich @coa0329 @daver78 I believe this is ready to be closed - right?

[2017-10-31 14:49] paagla123 commented on #65
Closing this one and opening new issue for Web Tracking

[2017-10-31 14:49] #65 closed

[2017-10-31 14:51] paagla123 opened #185 "[PABP] Conversion Tracking using Cloud Connect based Web Tracking"
@coa0329 , per @javpowell

Maml: https://s3.amazonaws.com/documentsin/WebTracking.maml

::IMPORTANT::

To set the cookie (and make it work across all devices) you need to CNAME a sub-domain of your Microsite URL to track.mindfireinc.com. If the microsite you are setting the cookie on is SSL enabled, an SSL must be added on this sub-domain. I don't know how this will work in your MDL.IO structure y

[2017-10-31 15:32] paagla123 commented on #183
@amalekshahi I found it.
@coa0329 here's the documentation on the parameters:
https://sites.google.com/a/mindfiremail.info/mindfire-support-center/developers/reporting-integration

[2017-10-31 15:33] daver78 opened #186 "Add RF and BT to Git Repo"
Aref is: `rmemarian`
Behzad is: `btalebpour`

[2017-10-31 15:34] paagla123 commented on #175
@paweenwich Let's discuss this one more time.

[2017-10-31 15:39] paagla123 commented on #152
Test card# 4242 4242 4242 4242 CVC any 3 digit no, Expiration 12/20 zip 92614

[2017-10-31 15:39] daver78 commented on #152
@paagla123 To test:
One of Stripe's test card numbers, such as 4242424242424242
Any three-digit CVC code
Any expiration date in the future
Any billing ZIP code, such as 12345

[2017-10-31 15:42] paagla123 commented on #152
Te token that is returned needs to be stored with the user, and go to the HOME page of DV.
Any time we need to charge any money to the users credit card, use this token to call stripe

[2017-10-31 15:42] paagla123 commented on #152
Read up on Stripe here:
https://stripe.com/docs/quickstart
https://stripe.com/docs/charges#saving-credit-card-details-for-later
https://stripe.com/docs/elements

[2017-10-31 16:25] amalekshahi commented on #180
Done. Summary report is changed to include the grand total of unique contacts.

[2017-10-31 19:31] daver78 commented on #186
@coa0329 Can you add these two, please?  Thx!

[2017-10-31 23:43] paagla123 commented on #23
@coa0329 @paweenwich do you guys know the status of this one?

[2017-10-31 23:50] paagla123 commented on #182
Based on the findings so far, I am closing this one - @daver78 and @coa0329 .
We will reopen if this crops up again.

[2017-10-31 23:50] #182 closed

[2017-10-31 23:51] paagla123 commented on #180
@amalekshahi thank you. You've been awesome help.
I will test and let you know if I have any questions/comments.

[2017-10-31 23:55] paagla123 opened #187 "[PABP] Allow users to download the html for the emails they create"
Per discussions with @paweenwich  and @daver78 , we need to add a download button in the screen where the emails are saved. The download button should be clickable after the emails are saved, and will download the html to the user's local drive for use elsewhere, e.g., with Studio. @daver78 will help define the UI modification initially, and then we will assign to @jiewsone to implement.

[2017-10-31 23:57] paagla123 opened #188 "[PAEB] Allow users to download html generated for landing pages and emails"
Per discussions with @paweenwich and @daver78 , we need to add a download button in the screen where the webpages and the emails are saved. The download button should be clickable after the documents are saved, and will download the html to the user's local drive for use elsewhere, e.g., with Studio. @daver78 will help define the UI modification initially, and then we will assign to @jiewsone to i

[2017-11-01 00:01] paagla123 commented on #175
@paweenwich, I have discussed with @daver78 . While he agreed that we can lower the priority of saving htmls in the asset library from da Vinci, there is another requirement of people wanting to upload an externally generated landing page (which will be static - no edits) into da Vinci and use da Viinci to simplify the scheduling function. So we should keep this requirement alive.

[2017-11-01 00:03] paagla123 commented on #175
@daver78 will you define a place in the UI where this can be done? Both PABP and PAEB - landing pages and emails.

[2017-11-01 00:04] paagla123 commented on #176
Moving to Backlog

[2017-11-01 00:53] coa0329 commented on #186
@daver78 I send the invite to them.

[2017-11-01 00:56] coa0329 commented on #23
@paagla123 @daver78

Is this the same as https://github.com/coa0329/BhaangWeb/issues/163 ?

[2017-11-01 03:09] paagla123 commented on #23
@coa0329 I don;t think so. @daver78 can you please clarify?

[2017-11-01 03:25] paagla123 commented on #168
This has tested OK

[2017-11-01 03:25] #168 closed

[2017-11-01 04:14] paagla123 opened #189 "[PABP] When the logo and color in settings are changed, the email does not pick it up"
This happens even if the email has not been created - as long as the campaign was saved. Steps to recreate:
1) Start a new blog campaign
2) Type in a blog URL and save (do not create email)
3) Go to settings and change logo, button color, address, phone.
4) Open campaign and create new email.
RESULT: Email uses new address and phone but old logo and button color.
If you create a new campaign at th

[2017-11-01 04:26] coa0329 commented on #183
https://studio.dashboard.mdl.io/api/Report/GetReportView?rn=contactslist&cc=9&mt=1&m=20102&sct=3&si=1203&ai=17124&fd=10/01/2017&td=11/01/2017&seed=False&token=789d0994-fce7-4c0f-a7b0-d608d1157460&ut=6dfbf4c9a59442c095ca0a1ff076bcea&title=coatest-blog-110101%20%2F%20Email%20%2F%20Email1%20%2F%20Recipients

What are the following parameter, I cannot find them in that document ?
- cc
- mt
- m
- sct
-

[2017-11-01 04:48] paagla123 opened #190 "[PABP] Email schedule Header is ONE day short"
See screenshots below - should be self-explanatory
![image](https://user-images.githubusercontent.com/29718335/32260417-fdfd8638-be84-11e7-8d74-b4ed192030da.png)
See the problem caused here: Day 1 and then Day 0
![image](https://user-images.githubusercontent.com/29718335/32260435-20f8eb96-be85-11e7-8ddf-1b2fcd6d034f.png)

For 3rd email, we need to add the number of days selected to the Day No in t

[2017-11-01 04:57] paagla123 opened #191 "[PABP] Test All Emails in Sequence still not working"
We should only display audiences with 10 contacts or less and launch the campaign based on test schedule selected.

See screenshot below:
![image](https://user-images.githubusercontent.com/29718335/32260625-4ea63502-be86-11e7-8589-a09e38407e62.png)

[2017-11-01 05:03] paagla123 opened #192 "[PABP] Toggle Alerts (#3 in accordion) does not turn green even when saved, turns green only after Schedule Broadcast (#4) turns green"
Pl see screenshot below. #3 has been saved, but nit green yet, It will turn green only after #4 is saved.
![image](https://user-images.githubusercontent.com/29718335/32260777-4647a6a6-be87-11e7-9822-d4f995612fef.png)

[2017-11-01 05:07] paweenwich commented on #189
@paagla123 Done

[2017-11-01 05:51] paagla123 commented on #185
Check latest documentation and helper here:
https://studio.dashboard.mdl.io/api/Report//GetAdminReportView?rn=httpapplog&si=1&ai=2321

[2017-11-01 06:10] paagla123 commented on #156
@AumpaiFung can you please add your schema requirement here for assets library?

[2017-11-01 07:01] coa0329 commented on #191
@paagla123 @jiewsone

We should have the checkbox in audience to check to show that list in that dropdown.

[2017-11-01 07:09] coa0329 commented on #149
@paagla123 @daver78

To show the stat in this page, we may need a cron to get that information then save in couchDB.
We should not get the stat real time when we show this page.

[2017-11-01 07:43] coa0329 commented on #180
@paagla123

I show data from the summary in PERFORMANCE REPORTS.

[2017-11-01 08:01] coa0329 commented on #159
@paagla123

This is the link we use now.
http://##purl##.dv{{accountID}}.m.mdl.io/{{campaignID}}/Email1.html

I am not sure this will work.
http://##purl##.{{accountID}}.dv.m.mdl.io/{{campaignID}}/Email1.html

[2017-11-01 08:03] paagla123 commented on #159
@coa0329
For https Studio requires the PURL to be in virtual folder, e.g.,
https://{{accountID}}.dv.m.mdl.io/{{campaignID}}/##purl##/Email1.html

[2017-11-01 08:09] paagla123 commented on #162
Tested - not showing in production as promised by @coa0329

[2017-11-01 08:09] #162 closed

[2017-11-01 08:20] paagla123 opened #193 "[PABP] Should not be able to schedule emails at a time that is in the past"
For example, I tested this on Oct 31 11PM PST. I scheduled the first email for Oct 30th 1230PM EST - the system allowed me to create the schedule in the past. However, after that I could not change the schedule any more to correct it, nor does the system allow me to add a new schedule to the next audience.

[2017-11-01 08:37] paagla123 commented on #152
TO create the account call /REST/accountservice/CreateAccount and pass the following JSON data (example only):
{
  "ClientType": 0,
  "CustomReportName": null,
  "FocusArea_ID": 0,
  "Name": "Test-daVinci",
  "PasswordRenewalFrequency": 0,
  "PasswordStrengthLevel": 0,
  "ServicePackage_ID": 2,
  "SqlServerName": null,
  "SqlServer_ID": 0,
  "StatementDay": 0,
  "Status": 1,
  "TimeoutMin": 30,

[2017-11-01 08:58] paagla123 commented on #152
@MFNunOff @coa0329 @paweenwich :
Here's  the sequence for the sign up steps.
1) Fill up the couple forms prototypes by @daver78
2) Call Stripe (documentation above) to get payment token which should be saved along with account and primary user information in a database (probably RedShift).
3) Call above Studio API to create account.
    Studio API will return both Account ID and GUID.
4) Call http

[2017-11-01 09:06] paagla123 commented on #152
@javpowell a few related things:
1) Reminder to upload the goal cloning mod to production prior to ThxGiving
2) CreateAcocunt is returning the GUID, but don't see the password. Do you know where we have to get it from?

[2017-11-01 09:24] paagla123 commented on #139
@daver78 please give permission to kdutta@mindfireinc.com for new UI
@coa0329 in the global settings tab please add color changing ability for the buttons
@daver78 please discuss your vision on email protection (how to implement), grading and scoring, billing.

[2017-11-01 09:35] paagla123 opened #194 "[PABP] Using Image Link Adds a new image instead of replacing the Hero Image"
![image](https://user-images.githubusercontent.com/29718335/32268599-00b95258-bead-11e7-8366-0cb82aeaf593.png)

When you insert an existing link, instead of uploading a file, it adds an image above teh Hero Image instead of replacing the Hero Image.

In addition, we will need to add a new option to select an image from the asset library - @daver78 can you please check into the UI?

[2017-11-01 09:38] coa0329 commented on #192
@paagla123

User may not want any trigger so we will change step3 to green when user save step2.

[2017-11-01 10:00] coa0329 commented on #77
@daver78 @paagla123

![036](https://user-images.githubusercontent.com/7914690/32269832-29603a2c-bf26-11e7-919f-7330039a5ce5.JPG)

We can add users in setting. Can we remove "Add this email" in each sendto list ?

[2017-11-01 10:02] paagla123 commented on #170
Superceded by #190 . I am closing this one.

[2017-11-01 10:02] #170 closed

[2017-11-01 10:04] paagla123 commented on #140
@jiewsone @coa0329 there are some serious problems here. The MAML publishes, but cannot be opened in Studio - gives error. Try opening KD-1101-Blog-004 under Jon Snow user in Davinci account in Studio. The MAML does not execute - so I did not get any of the emails.

[2017-11-01 10:07] AumpaiFung commented on #156
@paagla123
We want 2 DB (for prod and stage).

TableName : S3FileDescription
Field:
	ID			ID
	lasteditdate	Datetime
	accountID	varchar(10)
	programID	varchar(10)
	filename		varchar(100)
	awspath		varchar(100)
	pageuse		varchar(1)(Y/N)
	description	varchar(500)
	dimension	varchar(50)
	duration		varchar(50)
	filetype		varchar(50)

[2017-11-01 10:08] paagla123 commented on #156
@amalekshahi here is your answer re RedShift schema. Pl let us know when this can be done. Thanks.

[2017-11-01 10:12] paagla123 commented on #191
@coa0329 I told @jiewsone that he should show only audiences with <=10 members in the dropdown. Does that not work? I want to minimize the need for checkboxes etc.

[2017-11-01 10:20] paagla123 commented on #116
Closing. Thanks

[2017-11-01 10:20] #116 closed

[2017-11-01 10:22] paagla123 commented on #149
@daver78  @coa0329 @paweenwich this will require the campaign lists and summary level stats to be stored in a database. There will have to be a cron updating this stat.

[2017-11-01 10:25] paagla123 commented on #131
I am closing this one - this is a duplicate of #77 . All the notes are in #77 .

[2017-11-01 10:25] #131 closed

[2017-11-01 10:27] paagla123 commented on #91
@daver78 , this will ve addressed by @jiewsone after he finished the PABP mods.

[2017-11-01 10:36] coa0329 commented on #140
@paagla123
![037](https://user-images.githubusercontent.com/7914690/32271056-dbc2d964-bf2a-11e7-8c84-453e91c39f2e.JPG)

This is because date and time of schedule3 are blank. So we put "undefined" in Start DateTime of Email1Schedule3. So it make the maml error.

This should not happen again when @jiewsone  fix that disable issue.

[2017-11-01 10:46] paagla123 commented on #159
@javpowell I have question for you here.
We plan to add domain which will be formatted like:
https://{{accountID}}.dv.m.mdl.io/{{campaignID}}/##purl##/pagename.html

Question is - if we add SSL to dv.m.mdl.io, will it be able to handle all of the subdomains without having to buy a SSL for each one? Wht are our options here?

[2017-11-01 10:50] paagla123 commented on #155
@javpowell I am requesting Anthony - can you please follow up tomorrow? thx

[2017-11-01 11:04] paagla123 commented on #72
More pop-ups are getting added - I will deal with it altogether

[2017-11-01 11:13] paagla123 commented on #55
@daver78  Finally!

[A] Can you apply the chosen style to the pull-down (just like in Promote a Blog Post Step 2)? Also, the label "Form Template:" is likely confusing. @paagla123 what are we really trying to say?
@AumpaiFung we need to apply correct style here
@daver78 I cannot think of a different phrase. What do you suggest?

[B] Does it make sense to have "Settings" when the fields are on the

[2017-11-01 11:32] paagla123 commented on #123
@daver78 @javpowell
I tested in Studio - same thing happened. So I am closing this  from DV - this is a Studio bug.
When we use shortened URL and put UTM code after it, Studio removes the UTM codes when the URL gets expanded.
To replicate, login to Studio as kdutta@mindfireinc.com, open program Autodemo_02162016, send teh email called DriveEmail to yourself and then click on the link in the email

[2017-11-01 11:32] #123 closed

[2017-11-01 14:55] daver78 commented on #159
Two things we're talking about here:

1- The sign-up process will be at `dv.mindfireinc.com`, so we need this to have SSL. @paagla123 will work on this.

2- The other issue is how to put SSL on microsites.  @paagla123 just needs to test this.

[2017-11-01 15:35] javpowell commented on #159
@daver78 @paagla123

https://{{accountID}}.dv.m.mdl.io/{{campaignID}}/##purl##/pagename.html

will only work with a WildCard SSL, not our existing certificate. They cost around 700bux a year through entrust I believe.

[2017-11-01 16:00] javpowell commented on #123
@paagla123 are you sure this works in the real world the way you are doing it? You may need to URL encode the query string to do it properly so that the browser does not drop it. If you feel its a Studio bug, please escalate to support.

[2017-11-01 16:31] daver78 opened #195 "[PABP] Add note to use short URL in blog post instead of long URL"
Since @paagla123 says that `bit.ly` type links have an issue with query string params, alert User not to use them.

[2017-11-01 16:32] daver78 opened #196 "Remove or change "greeter" function for support Olark"
Takes up too much screen real-estate.  Try to minimize.

[2017-11-01 16:49] daver78 commented on #123
Woah hold up kids.  I think this is user error ... sorry :)

**In general, my recollection/belief is that if you wish to add tracking params to your link, for example Google Analytics UTM codes, simply append them to the end of your long URL _before_ shortening.**

I do not believe this is a Studio bug.

I do not believe this is a serious issue.

Sorry @paagla123, no need to get excited :)  @javpo

[2017-11-01 16:51] daver78 commented on #159
@paagla123 Can you handle issue #2?  If we can't use mdl.io for some reason, let's get another generic domain and do it there.

It also looks like you own the next step on issue #1 too.  Please confirm.

[2017-11-01 17:00] daver78 commented on #55
[A] @paagla123 I'm not sure, but I think it is in the wrong spot, too.  See snapshot below.  If @AumpaiFung can move it for me and apply `chosen`, I'll give it love when she is done (including re-wording it).

[B] @paagla123 I'm hesitant to let this go in the initial release.  Is it hard for @AumpaiFung?

[C] Actually, @paagla123, I think the inline editing style we're using throughout the UI is b

[2017-11-01 17:01] daver78 commented on #155
@paagla123 Are we shying away from creating parent accounts for these sign-ups because we don't have an easy way to duplicate the XML email templates?

My concern is that we will very soon be getting service providers (printers, agencies) who are going to ask for sub-accounts.

As long as you have a migration path for them, I'm OK.  But I think it may be better to do this the "right" way sooner ra

[2017-11-01 17:05] daver78 commented on #149
@paagla123 @coa0329 and @paweenwich, I'm not sure I agree here.  @paagla123 told me the same thing this morning, but I showed him that the API calls do not take a long time.

If they do, I agree we should find a way to compensate for @amalekshahi weakness :)  However, I'd rather operate from data rather than assume the calls are slow.

However, when I ran the call that @paagla123 gave me, it took

[2017-11-01 17:08] daver78 commented on #104
@paagla123 Are we dead in the water here?

[2017-11-01 17:08] daver78 commented on #173
@paagla123 Where did you end up on this?

[2017-11-01 17:15] daver78 commented on #152
@paagla123 Two questions:

- Who is the primary person working on this?  Is it @MFNunOff? :)

- After you hit submit on the second page -- and before you see the `welcome.php` page -- do we need a page that says something like "Please wait, we're getting ready to launch ...!" or something cute?  I'm wondering how long it takes for us to issue all the API calls to create an account, and if it requi

[2017-11-01 17:16] daver78 commented on #77
@coa0329 No, I would prefer not to remove the "Add this email".  Why do you think we should remove it?  I believe the use-case will be fairly common for the User.

[2017-11-01 17:18] daver78 commented on #165
@paagla123 I'm going to make that 24% "real" based on the data in our DW.

@amalekshahi I will provide you some spec regarding a new `rn` that we need here.

[2017-11-01 17:18] daver78 commented on #171
@coa0329 Let me know if you saw the above notes.

[2017-11-01 17:19] daver78 commented on #172
@paagla123 Are there any logical/conceptual issues with this yet?  Or is it OK?

[2017-11-01 17:21] daver78 commented on #194
@paagla123 When you say:

`When you insert an existing link, instead of uploading a file, it adds an image above teh Hero Image instead of replacing the Hero Image.`
... do you mean "instead of inserting a file"?  I don't think it needs to upload it.  That said the fact that it now has two images is a bug.

When you say:
`In addition, we will need to add a new option to select an image from the as

[2017-11-01 17:22] daver78 commented on #109
@paagla123 I haven't heard about this in a few days.  How is our progress with @AumpaiFung? :)

[2017-11-01 17:23] daver78 commented on #37
@paagla123 I will do something that is "good enough for now" to carry us over here.

[2017-11-01 17:24] daver78 commented on #164
@paagla123 How is this one doing?

[2017-11-01 17:42] daver78 commented on #196
@paagla123 Done.

[2017-11-01 17:42] #196 closed

[2017-11-01 17:47] daver78 commented on #195
Putting in backlog.

[2017-11-01 17:54] daver78 opened #197 "[PABP] Give reporting.php some love"
Few issues on the page that I can resolve to move us along.

[2017-11-01 18:25] amalekshahi commented on #156
@AumpaiFung - Questions:
- Is the ID an integer field? Do you want that auto-increment or you will pass the ID for inserts?
- Are AccountID and ProgramID the same ones as in Studio data? If so, why don't you have them as integers? Integers take less space and are faster it queries
- PageUse: Are you Ok with data type Boolean for this field? Boolean data type is more efficient than string
- Duratio

[2017-11-01 19:04] daver78 commented on #197
@paagla123 You should be able to spot what I updated:
![image](https://user-images.githubusercontent.com/7561473/32292247-bdcc1840-befc-11e7-9461-06b4933e4379.png)

[2017-11-01 21:13] daver78 opened #198 "[PABP] The "Performance Snapshot" should be one line, displaying the aggregate for all "Emails""
For PABP, the "Performance Snapshot" should be one line, displaying the aggregate for all "Emails" (do not include lead alerts):

![image](https://user-images.githubusercontent.com/7561473/32298179-c850d5aa-bf0e-11e7-8667-f4d303fd6e7f.png)

We’re also missing %’s and conversions.

Note that I fixed the numbers so that when appropriate, they are like this: x,xxx ... using the angularjs built in fil

[2017-11-01 21:14] daver78 commented on #198
@paagla123 I think you have this somewhere, but I can't find it as a discrete issue.  You can kill this if it is a dupe, or assign as required.

[2017-11-01 21:35] daver78 opened #199 "[PABP] Give love to revised Schedule section"
Now:
![image](https://user-images.githubusercontent.com/7561473/32299175-db2fba62-bf11-11e7-9eff-597d86973110.png)

After:

[2017-11-01 22:04] daver78 commented on #199
@paagla123 You can check:
- Hid the “## people in this schedule” until the count is > 0
- Fixed the default audience name from “empty” to something more loving
- Formatted the number of people in the audience like x,xxx

[2017-11-01 22:12] daver78 commented on #37
![image](https://user-images.githubusercontent.com/7561473/32300506-089d0068-bf17-11e7-9678-b68b4eb93bb5.png)

[2017-11-01 22:22] daver78 commented on #37
@paagla123 While I was in this section, I noticed that if you remove the subject line you saw the word "EMPTY".  So I made it so that if you remove the subject, it will be blank.  Is that what we want, or do we want to force the User to have a subject?

[2017-11-01 22:42] daver78 commented on #37
@paagla123 Do you think this is OK for now? I imagine when you click on it, we launch a new tab (your favorite) that has a list of all the vars on it, as well as many some other instructions on how to configure email.  What do you think?

Or do you think a modal is better?

![image](https://user-images.githubusercontent.com/7561473/32301423-2067a12c-bf1b-11e7-904a-12a28104fe41.png)

PS: The other

[2017-11-01 22:56] daver78 opened #200 "[Welcome] Fix spacing so that if possible, we have room for a what's new msg"

[2017-11-01 23:42] daver78 commented on #200
@paagla123, made the following adjustments seen here:
![image](https://user-images.githubusercontent.com/7561473/32303098-a4ee28a0-bf23-11e7-84f0-83dd3e5c7f1b.png)

[2017-11-02 04:41] coa0329 commented on #198
@daver78 @paagla123

I add % and conversions.

![038](https://user-images.githubusercontent.com/7914690/32310125-c97e4854-bfc2-11e7-8c6f-0f6ad641b2e8.JPG)

[2017-11-02 04:43] daver78 commented on #198
Ok! Are you waiting for Ali to provide the one line summary data?

On Wed, Nov 1, 2017 at 9:41 PM Coa <notifications@github.com> wrote:

--
-dr-

*PS*:  *Are you an auditory learner?  Weekly, we bring you the latest
strategies for using multi-channel marketing automation to boost leads &
sales <http://bit.ly/PixelsAndInk>.  From the industry's top sales &
marketing minds, you’ll hear what’s workin

[2017-11-02 05:07] coa0329 commented on #171
@daver78 Yes I saw it.

[2017-11-02 05:17] coa0329 commented on #171
@daver78 Yes I saw it.

   2) Do you want to add the email in that sendto only or add it to user in setting too ?

![041](https://user-images.githubusercontent.com/7914690/32310828-b6473f2a-bfc7-11e7-8cea-28bf026aac12.JPG)

[2017-11-02 05:19] paweenwich commented on #194
@paagla123 This is normal behavior of summernote.  Actually, it happens when you upload the file from your HDD also, however, on the upload case, we do something special to make it "replace".   I can not find a way to do that for "Image URL" case.

[2017-11-02 05:26] paweenwich commented on #60
@daver78 @paagla123  Can we using UUID for program name (in MAML) instead?  In GUI user still see that he/she name the program.  Only in MAML that we will gen UUID and use it as program name.  This will eliminate the duplication problem once for all.

[2017-11-02 05:37] AumpaiFung commented on #156
@amalekshahi
1. ID is auto-increment
2. AccountID is the same with Studio, but programID is not.
3. PageUse could be boolean.
4. Duration is video / audio duration time, I think it should not be integer.
5. I never work with Redshift before, and now still have no idea about how to insert, update and select data.
------------------------------------------------
New schema :
TableName : S3FileDescri

[2017-11-02 06:08] amalekshahi commented on #156
I recommend changing everything that is essentially integer to integer data type. You got to think about the storage and performance for things like queries and sorting.
- Why do you want ProgramID as varchar when it is integer?
- Also you can save duration as minutes or seconds (integer) instead of float. You can always present 380 minutes as 06 h and 20 mins to users.
- Where is the source data

[2017-11-02 06:46] coa0329 commented on #171
@daver78

1) I change it to Select Options

2) I make "Add this email" work. I can save the new email to couchdb. But we must add that email to user in setting too. If we don't add it, it will not show when we revisit that campaign.

![042](https://user-images.githubusercontent.com/7914690/32313150-f1cb60a6-bfd3-11e7-9acf-4b9739844751.JPG)

So I will add the new email to Name and Official Name too

[2017-11-02 07:33] paagla123 commented on #171
@daver78 @coa0329 - guys what's the point here. Why can't we just use the emails from the settings?

[2017-11-02 07:38] paagla123 commented on #156
@amalekshahi Source data is the asset manager in daVinci. You can log into incistage.mindfireis.com/admin/login.html using my email and MindFire2012 as pwd, go to Davinci account and go to asset manager, you will get the idea.

[2017-11-02 07:43] paagla123 commented on #60
@daver78 @paweenwich I am fine with that. Are you saving that in a data structure?
Campaign Name
UUID
In Use
What else?

[2017-11-02 07:49] paagla123 commented on #194
@daver78 OK closing this one. Its not a big deal.

[2017-11-02 08:46] paagla123 commented on #198
@daver78  Ali already provided. @coa0329 can you please use the summary API?

[2017-11-02 08:52] paagla123 commented on #37
@daver78 what will be the user experience? How about using the big blank space on the left?
"Blank" subject is fine

[2017-11-02 08:52] coa0329 commented on #198
@paagla123

[2017-11-02 08:55] paagla123 commented on #164
@paweenwich has this one. Pl provide update

[2017-11-02 08:57] paagla123 commented on #172
@daver78 no issues - waiting for @jiewsone to finish

[2017-11-02 09:00] paagla123 commented on #152
@daver78 we can add that when we get to that point - depending what the performance results are
@paweenwich , in the morning @MFNunOff was waiting to discuss with you. Have you spoken to her about this?

[2017-11-02 09:00] paagla123 commented on #173
@daver78 its in the database that @amalekshahi has created for @AumpaiFung

[2017-11-02 09:01] paagla123 commented on #104
@daver78 why we have to be dead - we are on a boat in the Chao Praya River!

[2017-11-02 09:04] paagla123 commented on #155
@daver78 primary reason is the XML - yes. We will have to deal with the service provider scenario. Not sire where @javpowell is on this issue for a long term solution. I think this part of Studio needs to be revamped.

[2017-11-02 09:05] coa0329 commented on #171
@daver78 @paagla123

I add new email to user in setting

[2017-11-02 09:06] coa0329 commented on #198
@daver78 @paagla123

I show the summary data from summary api.

![043](https://user-images.githubusercontent.com/7914690/32317830-ca153348-bfe7-11e7-8675-9780936b4ad7.JPG)

[2017-11-02 09:07] coa0329 commented on #200
@paagla123

What do you want me to do in this issue ?

[2017-11-02 09:08] paagla123 commented on #55
@daver78
[B] - which one do you not want to let go? If settings @AumpaiFung can figure it out. Asdd a field has other ramifications. Pl clarify.

[G] - We should discuss. I don;t see how the html of a form will be useful without the rest of the page

[2017-11-02 09:09] paagla123 commented on #200
@coa0329 Fix whatever spacing @daver78 wants to fix

[2017-11-02 09:10] paagla123 commented on #198
@coa0329 what @daver78 says is that we do not need the details here

[2017-11-02 09:12] paagla123 commented on #159
@daver78 let's discuss tonight. I am not sure I follow 100%

[2017-11-02 09:16] paagla123 commented on #156
@amalekshahi can you please provide some documentation and sample code of how to connect to the RedShift DB and insert, select, update etc?

[2017-11-02 09:20] paagla123 commented on #152
@daver78 - per discussion with @paweenwich , @MFNunOff started today

[2017-11-02 09:21] paagla123 commented on #164
@daver78 I spoke to @paweenwich - we need too push this in backlog.

[2017-11-02 09:34] coa0329 commented on #198
@daver78 @paagla123

I remove the detail.

![044](https://user-images.githubusercontent.com/7914690/32318984-8d590b6a-bfeb-11e7-8ad9-8dcc088d8c5f.JPG)

[2017-11-02 09:35] coa0329 commented on #200
@paagla123

I think @daver78 already did that.

[2017-11-02 11:20] paagla123 commented on #198
@coa0329 something got messed up here - let us discuss
![image](https://user-images.githubusercontent.com/29718335/32323422-8d25f69e-bffa-11e7-8031-0b088b0a017c.png)

[2017-11-02 12:09] daver78 commented on #200
No action required. I already checked in.

[2017-11-02 12:22] AumpaiFung commented on #109
@daver78  I'm still working on it.
@paagla123  Stage updated about new folder feature.

[2017-11-02 12:23] jiewsone commented on #190
@paagla123 Fixed on stage.

[2017-11-02 12:23] jiewsone commented on #191
@paagla123 Fixed on stage.

[2017-11-02 12:24] jiewsone commented on #192
@paagla123 Fixed on stage.

[2017-11-02 12:24] jiewsone commented on #193
@paagla123 Fixed on stage.

[2017-11-02 12:54] daver78 commented on #197
@coa0329 Thank you for [E].

@paagla123 Will you have time to read and review questions/notes above before we speak?

[2017-11-02 12:56] daver78 commented on #60
@paagla123 and @paweenwich That makes sense to me :)

[2017-11-02 12:57] daver78 commented on #194
@paagla123 Are you sure this should be closed? I thought 1 below was a bug, and 2 is required, isn't it?

1) When you insert an existing link, instead of uploading a file, it adds an image above teh Hero Image instead of replacing the Hero Image.
... do you mean "instead of inserting a file"? I don't think it needs to upload it. That said the fact that it now has two images is a bug.

2) In additi

[2017-11-02 12:58] daver78 commented on #37
@paagla123 I gave a few options for the UX above; did you see?  Are you saying you don't like any of those, or you didn't read? :)

I hesitate to use the "blank space" on the left.  We need to leave it open so that when we allow user to add up to `n` emails, they will display appropriately.  Right?

[2017-11-02 12:59] daver78 commented on #104
@paagla123 Well I don't know which river that is, but I still feel like we have no progress.  If that's the case, we need to take a different path down this river.

[2017-11-02 13:03] daver78 commented on #55
@paagla123 **[B]** I'm talking about 'add a field'.  Let me know what the issues are.

**[G]** @paagla123 You're right: it seems likely that most often, people will need the entire page.  But I have seen people (even those on our team) struggle with just the `<form>` portion, whereas the rest of the page is OK.  I think they should be able to grab the `<form>` html, as well as the entire page.

[2017-11-02 13:04] daver78 commented on #152
@paweenwich and @MFNunOff HOORAY!!!!!!!!

[2017-11-02 13:05] daver78 commented on #164
@paagla123 OK.  I'm concerned about this because even you, with your esteemed knowledge of the internets, had a problem with your content.  Are you sure we should backlog it? Tell me what the problem is and which options we've looked at, and let's see if we can come to a peaceful conclusion.

[2017-11-02 13:14] daver78 opened #201 "Add Amir to github repo"
@coa0329 Please add: `manoochehr45`

[2017-11-02 14:44] daver78 commented on #159
@javpowell From Kushal: If I buy a domain, like “mydv.com”, then can I use accountID.mydv.com, get SSL on *.myDV.com, then will that work for all such microsites?  Have you tested this, or are you saying it should work?

[2017-11-02 14:48] paagla123 commented on #139
@coa0329 can you please add the color changing ability for buttons in this tab?

[2017-11-02 14:53] javpowell commented on #159
I have not tested this, but this is how a WildCard certificate is supposed to work. So it "should" work.

[2017-11-02 14:54] javpowell commented on #159
https://www.entrustdatacard.com/products/ssl-certificates/wildcard-ssl

[2017-11-02 14:56] daver78 commented on #159
@paagla123 Just did the infamous eye roll, "_Ohh Godddd ... fuuucccckkk ...._" :)

@javpowell He asks if you can have Kathy or Manasa purchase a wildcard SSL and set it up.  @paagla123 is sending you a domain later today.

[2017-11-02 15:07] javpowell commented on #159
@daver78 @paagla123 how many years?

1 $699 each |2  $608.13 /year |3 $573.18 /year

[2017-11-02 16:14] daver78 opened #202 "[Settings] Create spec for "Email Protection" and mark it as coming soon"

[2017-11-02 16:14] daver78 opened #203 "[Settings] Make grading and scoring "coming soon""

[2017-11-02 16:14] daver78 opened #204 "[Settings] Comment out sub-accounts for now"

[2017-11-02 16:15] daver78 opened #205 "[PABP] Give "Performance Snapshot" some love"

[2017-11-02 16:15] daver78 opened #206 "[PABP] Figure out how to do distinct # of targeted people"
@amalekshahi @coa0329 is now consuming the data provided from your query.  However, we need to fine-tune this in order to show the correct # in the pink box:

![image](https://user-images.githubusercontent.com/7561473/32344309-abe27a94-bfc3-11e7-93e3-d17bfcc1f364.png)

This should be **the total number of unique people targeted across all `n` emails**.  @amalekshahi Can you devise a way to do this

[2017-11-02 16:56] daver78 commented on #204
@paagla123 I did this.  Shall we close for now?

[2017-11-02 16:57] daver78 commented on #203
@paagla123 I did this.  Shall we close for now?

[2017-11-02 17:14] daver78 commented on #205
@paagla123 What are we doing about Unsubs?  I know conversions is on hold pending web tracking.

[2017-11-02 17:22] daver78 commented on #205
@paagla123 After you confirm, we can close this one.

[2017-11-02 17:41] javpowell commented on #159
Hold the brakes, just spoke to Kush and we need to figure out how to handle this certificate on the Microsite server now since we already have a cert there. Let me ask RF.

[2017-11-02 17:43] daver78 commented on #200
@paagla123 Unless you see something else required here, we can close for now.

[2017-11-02 18:43] daver78 commented on #37
@paagla123 Based on our discussions this morning:

1) The "See Personalization Vars" button links to this page: [davincistage.mindfireis.com/admin/helpCenter_systemVariables.php](davincistage.mindfireis.com/admin/helpCenter_systemVariables.phpl) (shown below)

2) I created `systemVariables.js` to hold the module and controller for this page.

3) There is a mock `$scope.variables` array in it.  Thi

[2017-11-02 18:46] daver78 commented on #37
@paagla123 Let me know if you need anything else from me on this.  By the way, the above UI can serve as the basis for another section that allows the user to edit/add their contact fields.

[2017-11-02 18:55] daver78 opened #207 "style.css not updated?"
On staging, I can tell that `style.css` was not updated.  Not sure how it wouldn't be included if you're pulling from git, but I can tell given that the "Delivered" section is missing the `bg-color`.

![image](https://user-images.githubusercontent.com/7561473/32344569-8fba4d0a-bfc4-11e7-9181-d4437484b196.png)

Please check `style.css` to make sure:
[code]

... is there.

[2017-11-02 20:09] daver78 commented on #165
@paagla123 Revised to look like this:

![image](https://user-images.githubusercontent.com/7561473/32347774-fbdc50a0-bfce-11e7-8032-fabc957c86fa.png)

... but the data point is still hardcoded (not real from our DW).

[2017-11-02 21:20] daver78 commented on #187
@paagla123 For now, what do you think of this:

![image](https://user-images.githubusercontent.com/7561473/32350878-da54ccd2-bfd8-11e7-8aa8-a146464d44ed.png)

... and then once clicked, you see this:

![image](https://user-images.githubusercontent.com/7561473/32350881-dc95ca00-bfd8-11e7-87de-6fb5bc97aa23.png)

Do you think we do both of these by T-day, or just download the HTML?

[2017-11-02 21:21] amalekshahi commented on #206
@daver78, by devise do you mean providing you with the Redshift query? sorry, I don't have the full context to provide you with a correct answer.
If you are asking how we calculate # of unique email sent in Studio reporting, I can tell you to SUM the contactscount field for event 20101

[2017-11-02 21:24] daver78 commented on #188
@paagla123 I think we have multiple items referencing the same task here.  How is this different than #187?

I have implemented "download HTML" for emails -- but not landing pages yet.

[2017-11-02 21:26] daver78 commented on #175
@paagla123 What is "facify"?

In #187, I've added the ability to insert your own HTML.  How is this Issue different?  Should we close one of them?

[2017-11-02 21:26] daver78 commented on #30
@paagla123 Have you "felt" this yet, or no?  Maybe you're too close and know what to do so it never comes up?  Advise what you think we should do (put in backlog, or do now).

[2017-11-02 21:28] daver78 commented on #175
@paagla123 Looks like facify is a word but not sure how to apply in this context:

![image](https://user-images.githubusercontent.com/7561473/32351289-15bd8f92-bfda-11e7-8bd1-b9d965895193.png)

[2017-11-02 21:32] daver78 commented on #206
@amalekshahi If `SUM` of `contactscount` field for `event 20101` provides the distinct number of people to whom an email was sent in that Program, then yes we're on the right track.

Confirm?

[2017-11-02 21:33] amalekshahi commented on #206
Confirmed.

[2017-11-02 21:37] amalekshahi commented on #206
@daver78 , this can't guarantee uniqueness. If you send email A 5 times to a@b.com in 5 different schedules, then this contact will be counted 5 times in the sum. Is that acceptable?

[2017-11-02 21:47] daver78 commented on #186
@coa0329 Sorry, can you add: `btalebpour-mfi` too?

[2017-11-02 21:51] daver78 commented on #206
@amalekshahi No.

Using your Example: If I send email A 5 times to a@b.com in 5 different schedules, then **Targeted People is 1**.

For the report view above (screenshot), we need _unique people for all tallies_ (not just Targeted People).  I think this is what @paagla123 initially spec'd with you, but it's worth verifying that in fact that's what you did?

[2017-11-02 22:10] amalekshahi commented on #206
@daver78 , No, it will be 5. It will be much harder to get the unique contacts in the sent column as contact IDs to whom emails were sent are in a separate table. You have to join that table with eventtransaction and that won't be easy. The query will slow down too. Are you sure you want to do that?

[2017-11-02 22:27] daver78 commented on #206
@amalekshahi Yes, that's what we need.  How slow will the query be?

If it is too slow, we will cache it or do some other trick to give you some breathing room.

Are the other figures you're returning unique contacts, or something else?

[2017-11-02 22:49] amalekshahi commented on #206
@daver78 I don't know until I test it. Do you have an account-program-date range for me to write the query against and check the performance?

[2017-11-02 22:50] amalekshahi commented on #206
other figures are all unique contacts

[2017-11-02 22:55] daver78 commented on #206
@amalekshahi I think below is a good example; let me know if I missed a param:

`https:\/\/studio.dashboard.mdl.io\/api\/Report\/\/GetAdminReportData?rn=allprogram_allemail_summary&si=346&ai=679&st=0&fd=10\/03\/2017&td=11\/02\/2017&seed=false&datasourceType=redshift&token=11b57fe0-7c38-4011-bfb0-c250fa8b1693`

[2017-11-02 23:55] amalekshahi commented on #206
@daver, I wrote the new query. The sent column is 11,505, compared to 21,630 with the previous query. The query runtime jumped to 7.5 seconds compared to just .2 seconds before.
Do you want the query changed? If so, do you also want the detail query to change too?

[2017-11-03 00:48] coa0329 commented on #201
@daver78 @manoochehr45
I send invite to manoochehr45.

[2017-11-03 00:54] coa0329 commented on #186
@daver78 @btalebpour-mfi
I send the invite to btalebpour-mfi

[2017-11-03 01:07] daver78 commented on #206
Yes, and yes.

Can you envision a way to optimize the speed?

On Thu, Nov 2, 2017 at 4:55 PM amalekshahi <notifications@github.com> wrote:

--
-dr-

*PS*:  *Are you an auditory learner?  Weekly, we bring you the latest
strategies for using multi-channel marketing automation to boost leads &
sales <http://bit.ly/PixelsAndInk>.  From the industry's top sales &
marketing minds, you’ll hear what’s wor

[2017-11-03 03:03] coa0329 commented on #207
@daver78

Do you fix it ? I see it show in green.

[2017-11-03 03:12] coa0329 commented on #198
@paagla123

What is messed up ?

We don't show detail in that section.

[2017-11-03 03:15] coa0329 commented on #183
https://studio.dashboard.mdl.io/api/Report/GetReportView?rn=contactslist&cc=9&mt=1&m=20102&sct=3&si=1203&ai=17124&fd=10/01/2017&td=11/01/2017&seed=False&token=789d0994-fce7-4c0f-a7b0-d608d1157460&ut=6dfbf4c9a59442c095ca0a1ff076bcea&title=coatest-blog-110101%20%2F%20Email%20%2F%20Email1%20%2F%20Recipients

@amalekshahi @javpowell What are the following parameter, I cannot find them in that document

[2017-11-03 03:32] daver78 commented on #201
@coa0329 Thank you.  @manoochehr45 Welcome to the dark side :)

[2017-11-03 03:32] #201 closed

[2017-11-03 03:33] AumpaiFung commented on #156
@amalekshahi
1. ProgramID of davinci is something like this >>5ba63afb49811f82e6c17f260bdb32a1.
So I will change field name from programID to campaignID.
And studioProgramID change to programID also.

2. About duration time I think it's just file detail to display, it's not nessessay to calculate everytime to display or sorting.
Please define it to varchar(8)

TableName : S3FileDescription
Field:

[2017-11-03 03:33] daver78 commented on #186
@coa0329 Thank you.

[2017-11-03 03:33] #186 closed

[2017-11-03 03:35] daver78 commented on #207
@coa0329 No, I didn't do anything.  Where do you see green?  On staging??

[2017-11-03 03:36] daver78 commented on #198
@coa0329 We can close this one.  It's one line now, I think @paagla123 was confused.

There is another issue open on this topic for @amalekshahi to provide the distinct # of targeted contacts.

[2017-11-03 03:36] #198 closed

[2017-11-03 03:37] daver78 commented on #156
@paagla123 Don't forget to discuss this with team; I'm not sure why we need Redshift here.  Couch should be sufficient and faster, easier for @AumpaiFung.

[2017-11-03 03:38] coa0329 commented on #207
Yes on staging.

![047](https://user-images.githubusercontent.com/7914690/32359820-27e6b33e-c083-11e7-8107-d4763f5cbdc6.JPG)

[2017-11-03 03:40] daver78 commented on #207
@coa0329 So strange!  Old css must be cached for me.  We'll close for now!

[2017-11-03 03:40] #207 closed

[2017-11-03 03:47] paweenwich commented on #156
@daver78 Without relational database, this will be difficult.  For example, suppose we need to add/insert/modify single record.  In CouchDB we need to get all records, writing code to find the record (incase of modify or delete), perform add/insert/delete  then  save all records back to database.   Moreover, if there are more than one session doing this.  Only first save will success and other wil

[2017-11-03 04:01] paagla123 commented on #206
@amalekshahi @daver78 guys guys - we must not get carried away here. Don;t want to do somethng that increases query time by 35-40 times. What are our other options?

[2017-11-03 04:03] paagla123 commented on #175
@daver78 => Fancify.. Its a word I made up. Facify was a typo. Are yiu ok with the dropdown suggested by @paweenwich ?

[2017-11-03 04:04] daver78 opened #208 "[Welcome] Try something like "x other users logged in now""

[2017-11-03 04:07] daver78 commented on #206
@paagla123 Don't worry.  We'll get it.  No other options.  Stay the course for now.

[2017-11-03 04:10] daver78 commented on #175
@paagla123 Where does the drop-down go?

[2017-11-03 04:11] daver78 commented on #156
@paweenwich I agree.  I'd prefer not to use Redshift so there is no "block" in completing the task.  If we're going to use MySQL, I'd eventually like it to be as-a-service from AWS, but we can run it on the machine for now unless @paagla123 throw a fit! :)

[2017-11-03 05:16] paagla123 commented on #55
@daver78 we spoke to @AumpaiFung . Here's what we will do.
1) Setting will not show in left column
2) Add a field will add only a form field
3) In line edits only for header, footer and button text.
4) Download HTML button to be added next to SAVE (move Cancel and Save to left)
5) What is the vision of the form preview? Where do you want to show it? Just a pop-up?

[2017-11-03 09:15] coa0329 commented on #197
@daver78 @paagla123

1 I hide % if it is (∞%)
2 Fixed bug when user click "today".
3 @daver78 , Can you remove People from the graph ? @paagla123 don't want it.
![049](https://user-images.githubusercontent.com/7914690/32366777-407b5cae-c0b2-11e7-8738-9751da8f7679.JPG)

[2017-11-03 09:47] paagla123 commented on #206
@amalekshahi I spoke to the team. Please get this query tuned as much as possible. Thanks

[2017-11-03 09:51] paagla123 commented on #156
@daver78 we spoke - me, @paweenwich and @coa0329 . We will use the MySQL on Google Cloud. I need the billing account setup. We have done the initial estimate - right now it will cost around $17 per month.
I am closing this issue as we don;t need this any more.  I'll open a new one re Google Cloud SQL

[2017-11-03 09:51] #156 closed

[2017-11-03 10:06] paagla123 opened #209 "[Database] Create Billing Profile for Google SQL Cloud"
@javpowell please get together with Baker and have him input the credit card here. Thanks for your help. You are assigned to the project owner role, so you should be able to log in to your Mindfire acct and do it. @daver78 FYI.
Go To http://console.cloud.google.com , select daVinci from dropdown, then go to Billing. See screenshot below. Thanks
![image](https://user-images.githubusercontent.com/29

[2017-11-03 10:09] coa0329 commented on #139
@paagla123

1 I put the color picker in global settings tab.
2 I put save and cancel button in global settings, email settings and Integrations tab.

[2017-11-03 10:12] paagla123 opened #210 "[Database] Create MySQL Instance in Google"
@coa0329 Once @javpowell provides the billing acct, @coa0329 please go into the SQL module under storage @ http://console.cloud.google.com (use MindFire login @ mindfiremail.info) please get the MySQL instance initiated. Please use micro edition for now, as discussed with @paweenwich

@daver78 this is FYI.

[2017-11-03 10:22] paagla123 opened #211 "[Database] Migrate from Server based CouchDB to Service based Cloud DB"
The JSON that is being stored in teh server today will be stored in a Cloud Service moving forward.

@daver78 @coa0329 this is FYI.

[2017-11-03 11:07] paagla123 opened #212 "[Forms] Need some updates"
Forms need the following updates:
Add new fields in the left hand side (template). Save template by account
Add download button next to save for download of html
Hide settings gear in left column
Inline edit of form header, footer and button text

[2017-11-03 11:09] paagla123 commented on #55
Closing this one - opened a new issue for final updates #212 based on discussions with @coa0329 and @paweenwich

@daver78 FYI.

[2017-11-03 11:13] paagla123 commented on #139
@coa0329 will test over weekend.

[2017-11-03 11:17] paagla123 commented on #175
@daver78 its coming, flight is delayed!
Its assigned to @jiewsone but I don;t think we will address it until he is done with his current assignment.
@jiewsone please put a fake dropdown in the  UI stating Read from Asset Library (Coming soon)

[2017-11-03 11:20] paagla123 opened #213 "[MAML] Add scoring per settings tab"
v12 for blog, v2 for eBook

[2017-11-03 11:21] paagla123 commented on #30
@daver78 based on feedback from Sylvia, this is now important. However, I want to make sure team finishes what they have started by Thxgvng without adding to scope. So putting in backlog.

[2017-11-03 11:23] paagla123 commented on #188
This one is PAEB, #187 is for PABP. :-)

[2017-11-03 11:25] paagla123 commented on #165
@daver78 putting this in as discussion point for you and I - how to get that data point.

[2017-11-03 11:27] paagla123 commented on #37
@coa0329 @paweenwich please review the possibility of putting this in the current release with @jiewsone  and let me know.

[2017-11-03 11:28] paagla123 commented on #200
@daver78 closing for now, but we need to discuss at some point who will create and populate this content on a regular basis. I believe this cannot be static content - needs to be changed periodically.

[2017-11-03 11:28] #200 closed

[2017-11-03 11:36] paagla123 commented on #159
@javpowell need another help here. I put my-dv.com in the cart, but cannot pay for it from here - credit card info comes up as blank. Can you please get together with Baker and complete the purchase? Then please have Iram or Pronit to get it to point to Studio - as well as stage.my-dv.com.
This means we will need the SSL for my-dv.com and stage.my-dv.com. Thx

[2017-11-03 11:40] paagla123 commented on #205
@daver78 we are having another staging release tonight - I will test over weekend and close

[2017-11-03 11:40] #203 closed

[2017-11-03 11:41] paagla123 commented on #204
@daver78 where are these sub accounts. I am Confucius!

[2017-11-03 11:43] paagla123 commented on #164
Actually @paweenwich looked into it and suggested we put it in backlog.
@paweenwich can you please comment on this?

[2017-11-03 11:44] paagla123 commented on #104
@daver78 I am putting this in our discussions list.

[2017-11-03 11:47] paagla123 commented on #194
@daver78 let us address this once @jiewsone has finished all the UI updates and I have tested. I am reopeneing and putting in our discussions list.

[2017-11-03 11:49] paagla123 commented on #109
@AumpaiFung thank you. Please discuss with @paweenwich on Monday and follow the go live approach we discussed today.

[2017-11-03 15:50] manoochehr45 commented on #201
Thank you all. happy to join the team on the dark side.

On Thu, Nov 2, 2017 at 8:32 PM, daver78 <notifications@github.com> wrote:

[2017-11-03 16:36] daver78 commented on #208
@paagla123 I did this last night but ended up re-doing it to use chartbeat instead of my previous method.

![image](https://user-images.githubusercontent.com/7561473/32385158-75101b18-c07a-11e7-90df-66c3dd6d9200.png)

Closing for now unless there is any issue.

[2017-11-03 16:36] #208 closed

[2017-11-03 16:43] amalekshahi commented on #206
@paagla123 @daver78 It will probably be end of next week before I have time to spend on fine-tuning and I can't guarantee if it will be faster

[2017-11-03 16:47] amalekshahi commented on #183
@coa0329 Here is the parameter list I received from Aref.
[Drilldown.docx](https://github.com/coa0329/BhaangWeb/files/1441814/Drilldown.docx)

[2017-11-03 16:52] daver78 opened #214 "[Forms] Add download button next to save for download of html"

[2017-11-03 16:54] daver78 commented on #197
@coa0329 Yes, I'm OK if we remove it from UI.  Or, are you asking me to do the task?

[2017-11-03 17:00] daver78 commented on #175
@paagla123 and @jiewsone For the sake of the User, I would prefer that for now, we do **not** add another pull-down.  Instead, let's put all the options inside the existing pull-down, group-by "Templates" or "Asset Library" like this:

_Templates
- Template 1
- Template 2
Asset Library
- HTML 1
- HTML 2
- HTML n_

I believe this reduces clutter and cognitive overhead for the User.  There's only on

[2017-11-03 17:02] daver78 commented on #30
@paagla123 Let's pull it out of backlog and assign to me.  I'm pretty sure I can create a `<div class>` to accomplish this and wrap these sections accordingly.  I'm going to assign it to myself to research and see what I can come up with.

[2017-11-03 17:05] daver78 commented on #188
@paagla123 OK, I will add the "download HTML" section to PAEB landing page(s).  Re-assigning this to me.

[2017-11-03 17:06] daver78 commented on #165
@paagla123 OK.  I intend to assign to @amalekshahi.

[2017-11-03 17:07] daver78 commented on #37
@paagla123 @paweenwich @coa0329 @jiewsone This should be "easy" since you can copy the API calls made in Studio for this section, then place `response.data` in `$scope.variables` and I'll take it from there.

If no time let me know and I'll handle this.

[2017-11-03 17:08] daver78 commented on #200
@paagla123 Agreed.  Should change with every release.

[2017-11-03 17:08] daver78 commented on #205
@paagla123 What are we doing about Unsubs? I know conversions is on hold pending web tracking.

[2017-11-03 17:10] daver78 commented on #206
@amalekshahi OK, no problem, that is fine.  Is there a new `rn` for this data, or is it included in what you've already sent @coa0329?

[2017-11-03 18:02] javpowell commented on #209
@paagla123 @daver78 I don't seem to have access to do this:

https://www.screencast.com/t/u87uxRoL

[2017-11-03 18:10] daver78 commented on #212
@paagla123 Are these (referenced in #55) still going to happen?

![image](https://user-images.githubusercontent.com/7561473/32389302-8f435286-c087-11e7-8c80-e10f422bb2ce.png)

[2017-11-03 18:28] javpowell commented on #155
@paagla123 @daver78 Clone account should now include goals! Please trust but verify.

[2017-11-03 18:43] javpowell commented on #159
@paagla123 @daver78 Domain purchased and DNS pointed to Studio. SSL has not been figured out yet. Stay tuned.

[2017-11-03 18:51] daver78 commented on #188
- Commented out “Upload Image” from toolbar, since I believe we will allow when you roll over (although we have the dupe image issue)
- Gave love to Page Template & Form insertion pull-downs
- Moved “Edit in Full Screen” to tool-bar area
- “Added “Download HTML” to tool-bar area

[2017-11-03 20:11] daver78 opened #215 "[PAEB] Fix fugly alignment issue with "SUBJECT""
![image](https://user-images.githubusercontent.com/7561473/32393907-8b1edd40-c098-11e7-8f14-f1015e9a8ffc.png)

What is this sh*t, Dave?  You're better than that.  C'mon!

[2017-11-03 22:05] amalekshahi commented on #206
@daver78 This query received some special love this Friday afternoon! It takes about a second to run now. Please test and let me know if I should change it in other rn s too

[2017-11-03 23:49] daver78 commented on #30
@paagla123 I'm working on this, but requires some focused love.  Will continue to try and find the best solution.

[2017-11-03 23:52] daver78 commented on #206
@amalekshahi HOLY SH*T!  It's great!  Yes, let's change it in the other `rn`s too -- but ONLY the DV ones.  Not the ones used elsewhere.  Confirm?

@paagla123 When you tried to spank us above with this:
_@amalekshahi @daver78 guys guys - we meust not get carrixed away here. Don;t want to do somethng that increases querfy time by 3.5-430 times. What are our othe\or options?_
... how many beers had

[2017-11-03 23:55] daver78 commented on #206
@amalekshahi I see:
![image](https://user-images.githubusercontent.com/7561473/32399952-c1a8b042-c0b7-11e7-8055-d849df9f3223.png)

... which looks perfect.  We need @Mcfarsheed to investigate why we only get 50% delivery rate, but that's another issue.

@paagla123 call off the hounds!

[2017-11-04 01:07] coa0329 commented on #197
@daver78
Please tell me how to do it.

[2017-11-04 01:07] coa0329 commented on #183
@amalekshahi

Thank you.

[2017-11-05 01:36] daver78 commented on #30
@paagla123 I think I'm happier with this -- for now.  In order to test this, create a new email using template “Test 2 Image (Kwang)”.  Then roll over the various elements, including non-editable things.  Give me suggestions based on what you see.

If we like this, we need too apply the <div class> to the non-editable stuff in the templates we intend to go-live with.

For reference, header.php is

[2017-11-05 01:38] daver78 commented on #30
@paagla123 Please take a look, and if you're OK with this for now, assign to the right member to apply this `div class` to all templates (email and landing page) which we intend to use for go-live.

[2017-11-05 02:15] daver78 commented on #215
![image](https://user-images.githubusercontent.com/7561473/32411289-592d5652-c194-11e7-9463-1d1eb9bbc38f.png)

@paagla123 I'm not sure if I did this or someone else, but I removed `style="white-space: nowrap;text-overflow: ellipsis;max-width: calc(100% - 275px);display: inline-block;overflow: hidden;` from the _x-editable_ thingsy.  Then I put a light rounded border around the section, and moved t

[2017-11-05 12:58] paagla123 commented on #215
@daver78 cab't see this change yet in stage. @coa0329 can you please pull Dave's changes from weekend to stage  on Mon AM? Thx

[2017-11-05 12:59] paagla123 commented on #30
@daver78  I will once @coa0329 pulls stage tomorrow AM. Thx

[2017-11-05 13:06] paagla123 commented on #206
@amalekshahi Thank you.

@coa0329 please incorporate.  Thx

[2017-11-05 13:08] paagla123 commented on #197
@daver78 , @coa0329 not sure how to remove that legend. You can either remove it or email him how to do it. Thx

[2017-11-05 13:12] paagla123 commented on #188
@daver78 perfect - looks good. Thanks.
Only problem is I wish we didn't comment out the upload button until @jiewsone got to the hover, but at this point, it should be a matter of day or two.

[2017-11-05 13:13] paagla123 commented on #159
@javpowell excellent thank you.

[2017-11-05 13:13] #159 closed

[2017-11-05 13:33] paagla123 commented on #155
@javpowell thanks. Works.
@coa0329 I have now sub account call DVStage under Main Account dv-stage where I have cloned everything. We should use this moving forward, and use dv-production account for cloning purpose.
Domains assigned: stage.my-dv.com and 17763.stage.my-dv.com, 17763 is the account id. We should use this account moving forward for testing - I will get the API keys. You are assigned

[2017-11-05 13:39] paagla123 commented on #212
@AumpaiFung pl let get this done. @daver78 I am going to leave comments in #55 and not clutter this one. Thx

[2017-11-05 13:41] paagla123 commented on #55
@daver78 - what items from this issue are missed in #212 - can you please specify here? I listed in #212 everything you and I spoke about on Thu night Thailand time. Pl advise

[2017-11-05 13:42] paagla123 commented on #214
I saw that - thanks. I assume @jiewsone will add the actual download code.

[2017-11-05 13:42] #214 closed

[2017-11-05 13:53] paagla123 commented on #209
@javpowell you are most certainly assigned. Pl select mindfiremail.info org and you will see daVinci:
![image](https://user-images.githubusercontent.com/29718335/32415352-9cc54a92-c1ed-11e7-867e-223012bd44da.png)

[2017-11-05 13:59] paagla123 commented on #205
@daver78 excellent question. @amalekshahi does not follow the custom unsub issue. However, default is standard unsub and it should show up in the dashboard. We will test it and let you know. I believe this issue exists even in Studio standard dashboard and only for custom unsubs.

This brings up a related issue, which many customers have brought up in the past including Whiteboard. @javpowell not

[2017-11-05 14:02] paagla123 commented on #200
@daver78 while I agree we should change WHat's New with every release, I also see an opportunity to add Tip of the Day and change that almost on a daily basis. Should we consider adding a UI here to use internally for this purpose?

[2017-11-05 14:06] paagla123 commented on #37
@daver78 this is ok for now. We should discuss for future improvement, but later.
@jiewsone @paweenwich @coa0329 I think this is a scope change we have to allow for production release, otherwise new users will be in trouble. Thx

[2017-11-05 14:08] paagla123 commented on #175
@daver78 Yep good. @jiewsone I think this will make things easier for you.

[2017-11-05 14:10] paagla123 commented on #208
@daver78 how come I do not see in staging?

[2017-11-05 14:11] paagla123 commented on #210
@paweenwich @coa0329 we're waiting for billing to be enabled. Sounds like it will happen Monday CA time - sorry about that.

[2017-11-05 14:11] daver78 commented on #208
Look on welcome page.

On Sun, Nov 5, 2017 at 6:10 AM Paagla123 <notifications@github.com> wrote:

--
-dr-

*PS*:  *Are you an auditory learner?  Weekly, we bring you the latest
strategies for using multi-channel marketing automation to boost leads &
sales <http://bit.ly/PixelsAndInk>.  From the industry's top sales &
marketing minds, you’ll hear what’s working -- and not working -- so you
can be

[2017-11-05 14:12] daver78 commented on #210
If this is a block, can I do it??

On Sun, Nov 5, 2017 at 6:11 AM Paagla123 <notifications@github.com> wrote:

--
-dr-

*PS*:  *Are you an auditory learner?  Weekly, we bring you the latest
strategies for using multi-channel marketing automation to boost leads &
sales <http://bit.ly/PixelsAndInk>.  From the industry's top sales &
marketing minds, you’ll hear what’s working -- and not working -- so

[2017-11-05 14:33] daver78 commented on #209
@paagla123 and @javpowell This should be done.  The UI in that particular section is a little confusing, I think @javpowell may have missed it.

Anywho, I linked this project to the MindFire billing account we use in Google.

Please confirm this worked and then close this issue.

[2017-11-05 14:41] paagla123 commented on #209
Works. Thanks'

[2017-11-05 14:41] #209 closed

[2017-11-05 14:41] paagla123 commented on #210
@coa0329 @paweenwich This is done. We can create MySQL instance now.

[2017-11-05 15:06] daver78 commented on #206
@paagla123 an @coa0329 No need to do anything.  We replaced the value of the `param` @coa0329 is using in that section with the correct value.  No change required.

[2017-11-05 15:07] daver78 commented on #188
@paagla123 OK, easy to put back if you need it.

[2017-11-05 15:09] daver78 commented on #55
@paagla123

![image](https://user-images.githubusercontent.com/7561473/32416095-49398568-c1f8-11e7-8ed5-d22558fb98bb.png)

[2017-11-05 15:12] daver78 commented on #214
@paagla123 Yes, @jiewsone should do it.  Is there a discrete task for this?

[2017-11-05 15:14] daver78 commented on #205
@paagla123 OK few things on your good points to make sure I understand:

1- You'll test the standard unsub and verify it shows up correctly.

2- You mention that unsub clicks show up in the clicks tally, but this isn't a problem for DV, is it?  Aren't you using a goal instead of standard link clicks?  If YES, then we should be OK in DV.

3- @coa0329 doesn't need to do anything.  We fixed it.

[2017-11-05 15:15] daver78 commented on #200
@paagla123 Excellent idea, love the way you're thinking.  Easy to add a list of these in couchDB, then use angularjs to pick a random one and display it.

Is that OK, or do we want everyone to see the same tip at the same time?

[2017-11-05 15:16] daver78 commented on #37
@paagla123 OK.  This should be easy for someone to fit into their schedule, but if we are in trouble, let me know and I'll do it or assign BT.

[2017-11-05 15:22] daver78 opened #216 "[PABP] See if Email 2 and 3 should use the scheduleID from Email 1?"
@paagla123 Yesterday I was thinking about the campaign you ran with @Mcfarsheed 2 weeks back.

I believe that Email #3 ended up having a larger number of targeted people because @Mcfarsheed ended up updating the database.  There's no problem with this and I'm sure it will happen in the wild all the time.

However, it made me think -- you were slightly confused by it, and it does seem odd that the

[2017-11-05 18:43] paagla123 commented on #155
@coa0329 I have emailed you API credentials for these accounts separately. Once you start using the new account DVStage I will close this issue. Thx

[2017-11-05 18:46] paagla123 commented on #216
@daver78 I am not sure if there was anything wrong with what @Mcfarsheed did. Initially I though they had duplicated the records, but once she gave the proper explanation I am ok. So I think let's leave things the way they are - we can address this later if this comes up again.

[2017-11-05 18:46] #216 closed

[2017-11-05 18:48] paagla123 commented on #200
@daver78 randomize better

[2017-11-05 18:49] paagla123 commented on #214
No

[2017-11-05 18:55] paagla123 commented on #55
@AumpaiFung ...

[2017-11-05 19:31] paagla123 commented on #55
@AumpaiFung pl see note above. Tx

[2017-11-05 19:32] paagla123 commented on #206
@daver78 Thx

[2017-11-05 19:34] paagla123 commented on #208
@daver78 I did. I'll reset cache

[2017-11-05 19:50] daver78 commented on #208
Ok. Let me know if no luck.

[2017-11-05 19:51] daver78 commented on #200
Ok. Create issue and let's backlog so we don't forget?

[2017-11-06 01:25] coa0329 commented on #215
@daver78 @paagla123

I pull the code to stage.

[2017-11-06 02:18] paagla123 commented on #215
Thanks. Closing this. Looks good. Thanks Dave

[2017-11-06 02:18] #215 closed

[2017-11-06 02:18] paagla123 commented on #208
I see it after clearing cache. I will open if I see issues

[2017-11-06 02:20] paagla123 opened #217 "[Welcome] Add tip of the day and randomize display in the space underneath what's new"

[2017-11-06 02:20] paagla123 commented on #200
Done

[2017-11-06 02:38] paagla123 opened #218 "[Settings] Changes can be saved only from Integrations Tab"
Save button is enabled only when changes are made in the integrations tab - changes in any other tab does not enable it. It should be enabled whenever changes are made in any tab

[2017-11-06 02:40] paagla123 opened #219 "[Settings] Hide Permissions in Add Users (and display) for now"
...for the Thxgiving release - seems we don't have time to deal with this - right?
I suggest we give all users ADMIN access - should be ok since no one is expected to log into Studio.

[2017-11-06 02:46] paagla123 opened #220 "[SummerNotes] Deal with Table Icon - works Fugly!"
@daver78 I suggest we either hide the table icon from summer notes or give it some special love. The way it is right now, it will definitely bring up a lot of user issues.

[2017-11-06 02:48] daver78 commented on #220
Hide it! Assign?

[2017-11-06 02:49] daver78 commented on #219
Yes let's hide the column and do as you suggest.

[2017-11-06 02:50] daver78 commented on #208
Great.

[2017-11-06 02:51] paagla123 opened #221 "[Emails] Send Test Drop Down is Transparent"
Please make this have zero transparency always - right now it is sometimes transparent and sometimes not. Looks ugly when transparent - see below.
![image](https://user-images.githubusercontent.com/29718335/32423282-5dd6e7ce-c25a-11e7-8d3e-cee8bca645af.png)

[2017-11-06 02:53] paagla123 opened #222 "[Emails] Should we hide the + in Send Test?"
And allow users from settings tab in this list only?

[2017-11-06 02:56] paagla123 opened #223 "[Emails] Need a strategy for SPF and DKIM"
I got this today. @javpowell thoughts or recommendations here?
![image](https://user-images.githubusercontent.com/29718335/32423390-f95c1b4c-c25a-11e7-8068-8a6fd3b2587c.png)

[2017-11-06 03:01] daver78 commented on #222
Interesting. I think we should leave it for now because people I send my test emails to aren't necessarily people I want as users.

[2017-11-06 03:03] daver78 commented on #221
@paagla123  which browser are you using?  This may be browser specific.  I intentionally made the sliding modal a bit transparent so I could see what was behind it -- but only a tiny bit.

The `chosen` drop down, though, looks OK for me.  Let me know which browser you're using.

[2017-11-06 03:04] paagla123 commented on #221
@daver78 chrome

[2017-11-06 03:04] #222 closed

[2017-11-06 03:05] paagla123 commented on #219
@coa0329 who should this be assigned to?

[2017-11-06 03:06] paagla123 commented on #220
@jiewsone can you pl handle this? Thx

[2017-11-06 03:09] paagla123 commented on #191
@jiewsone great work - love what you have done. Two issues still remaining, after testing.
1) You have used a target audience sendTestList that is not defined in the MAML. @coa0329 are you able to add this to the template?
2) I scheduled only emails 1 and 2. However, in the published MAML you have scheduled emails 2 & 3, and email 1 was actually scheduled in the past. @jiewsone please address this

[2017-11-06 03:16] coa0329 commented on #191
@paagla123

target audience sendTestList is in the MAML v12.

![051](https://user-images.githubusercontent.com/7914690/32423800-5088ca66-c2db-11e7-9905-d756a569bbf2.JPG)

===========

@coa0329 I told @jiewsone that he should show only audiences with <=10 members in the dropdown. Does that not work? I want to minimize the need for checkboxes etc.

If you use those lists in send test, Will they coun

[2017-11-06 03:24] coa0329 commented on #155
@paagla123

I add API credentials to davinci db.

[2017-11-06 03:26] daver78 commented on #30
@paagla123 Did you look at this yet?  Remember that in order to test this, create a new email using template “Test 2 Image (Kwang)”. Then roll over the various elements, including non-editable things.

See my instructions above.  We need to apply this to the real email templates if you're OK with it.

[2017-11-06 03:30] paagla123 commented on #191
@coa0329 my fault - I did not see the seedList because it was below. YES IT WORKS - YEAH!

@jiewsone only one bug left now. I had set up emails 1 & 2, send test list sent me emails 2 & 3.

@coa0329 re test list, it is showing correct - I only see lists with small numbers. @jiewsone has done good work here. Thanks

[2017-11-06 03:41] paagla123 commented on #155
@coa0329 please add the new accounts (3 of them) to the daVinci DB. Please also list all the all the exisitng accounts here, we will close down ones we are not using. Thx

[2017-11-06 03:42] paagla123 commented on #30
@daver78 I will check

[2017-11-06 03:42] paagla123 commented on #193
Works

[2017-11-06 03:42] #193 closed

[2017-11-06 03:42] #192 closed

[2017-11-06 03:44] coa0329 commented on #155
I add DV-Stage and DV-Production.

What is the 3rd ?

You can find them here.
Stage : http://162.243.155.57:5985/_utils/document.html?master/studioAPI
Prod : http://web2xmm.com:5984/_utils/document.html?master/studioAPI

[2017-11-06 03:44] coa0329 commented on #155
@paagla123

I add DV-Stage and DV-Production.

What is the 3rd ?

You can find them here.
Stage : http://162.243.155.57:5985/_utils/document.html?master/studioAPI
Prod : http://web2xmm.com:5984/_utils/document.html?master/studioAPI

[2017-11-06 03:54] paagla123 commented on #155
@coa0329 Its called DVStage - this is a sub-acct under dv-stage. This has been cloned from dv-production. We should use dv-production as our to be cloned template - never to create any campaign under dv-production. We can discuss during the call today.

[2017-11-06 03:55] #190 closed

[2017-11-06 03:56] paagla123 commented on #127
@daver78 closing this one. Some issues left open still - listed under #191 .

[2017-11-06 03:56] #127 closed

[2017-11-06 03:58] coa0329 commented on #210
@paagla123

I get  "You don't have permissions to perform the action on the selected resource." when I click on http://console.cloud.google.com with mindfiremail.info.

![053](https://user-images.githubusercontent.com/7914690/32424807-44ef68e4-c2e1-11e7-8ab2-fd39d71cc54e.JPG)

[2017-11-06 03:59] coa0329 commented on #155
@paagla123

Please send me GUID and PSWD of DVStage.

[2017-11-06 03:59] paagla123 commented on #142
@jiewsone working correct except one problem still. You have not handled the Daylight Savings here. So now we are one hour off when you give the error message about not allowing to set schedule in Past Time. Please discuss with @paweenwich and @coa0329 to see what you have to do to resolve, unless you already know the answer. Rest working great - thank you.

[2017-11-06 04:00] #189 closed

[2017-11-06 04:00] #180 closed

[2017-11-06 04:02] coa0329 commented on #191
@paagla123

For report :
Can we ask Ali to exclude data that send to TargetAudiences "sendTestList" [Id="41"] ?

[2017-11-06 04:04] paagla123 commented on #191
@coa0329 yes we can. However, the schedule id will change from time to time, and there will be a separate test schedule id for each of the emails. Can we send him an array of schedule ids that we want to exclude? Thanks

[2017-11-06 04:13] coa0329 commented on #191
@paagla123

![054](https://user-images.githubusercontent.com/7914690/32425091-350b1f02-c2e3-11e7-9c40-2a873c34edc0.JPG)

All test emails will send to TargetAudiences "sendTestList".
So it should be easier to filter with the condition TargetAudiences not "sendTestList" [Id!="41"].

[2017-11-06 04:14] paagla123 commented on #210
@coa0329 are you logged in to boonsom@mindfiremail.info from the browser you are using?
If so, please try https://console.cloud.google.com/sql/instances?project=davinci-184904&organizationId=548539852975 . You definitely have access.

![image](https://user-images.githubusercontent.com/29718335/32425156-e57d2b9c-c265-11e7-8298-0e8ab98cb8f4.png)

[2017-11-06 04:16] paagla123 commented on #191
@coa0329 what's the ID=41? Who's ID is that?

[2017-11-06 04:17] paagla123 commented on #204
@daver78 we can close provided you tell me where these sub accounts were that you commented out?

[2017-11-06 04:18] coa0329 commented on #191
@paagla123

The id of TargetAudiences "sendTestList"

![055](https://user-images.githubusercontent.com/7914690/32425216-0ed8d2b0-c2e4-11e7-83bf-5ac71f4a0f3f.JPG)

![056](https://user-images.githubusercontent.com/7914690/32425226-23126692-c2e4-11e7-9466-2e60e1076d5f.JPG)

[2017-11-06 04:19] paagla123 commented on #191
@coa0329 OK thanks, I will ask.

[2017-11-06 04:19] AumpaiFung commented on #55
@paagla123  I see.

[2017-11-06 04:20] coa0329 commented on #210
@paagla123

I must visit with https://console.cloud.google.com/sql/instances?project=davinci-184904&organizationId=548539852975

If I visit with http://console.cloud.google.com, I will get that error

[2017-11-06 04:37] paagla123 commented on #210
@coa0329 So this issue is resolved now?

[2017-11-06 04:42] daver78 commented on #204
@paagla123 Did I misunderstand you when you asked me to comment them out?

![image](https://user-images.githubusercontent.com/7561473/32425671-cd6269ec-c269-11e7-93ce-477dde828134.png)

[2017-11-06 05:07] coa0329 commented on #220
@paweenwich  will hide it.

[2017-11-06 05:50] coa0329 commented on #219
@paagla123

Fixed on stage,

[2017-11-06 05:50] coa0329 commented on #218
@paagla123

Fixed on stage,

[2017-11-06 05:55] paweenwich commented on #220
@paagla123 Done

[2017-11-06 07:14] coa0329 commented on #210
@paagla123 @paweenwich @AumpaiFung @jiewsone

I create database on google cloud.

You can connect via HeidiSQL.

Server : 104.196.251.122
User : root
Password : davinci2017
Port : 3306
Database Name : davinci

[2017-11-06 08:55] paweenwich commented on #188
@paagla123 Done, After click the "Download HTM" button on both welcome-page and thankyou-page, you will be ask for save the content of that page to local storage.

[2017-11-06 09:24] paweenwich commented on #187
@paagla123 Done.  same as #188

[2017-11-06 10:50] coa0329 commented on #183
@paagla123 @amalekshahi

![061](https://user-images.githubusercontent.com/7914690/32437667-ab9e6368-c31a-11e7-9a2a-9dc1fe5a2ce5.JPG)

![060](https://user-images.githubusercontent.com/7914690/32437678-b051e56a-c31a-11e7-9477-8888a07ba3d1.JPG)

![062](https://user-images.githubusercontent.com/7914690/32437701-be95deba-c31a-11e7-8c8b-d006cd8244e2.JPG)

I can create the call to get the detail for Deli

[2017-11-06 11:42] jiewsone commented on #191
@paagla123
"@jiewsone only one bug left now. I had set up emails 1 & 2, send test list sent me emails 2 & 3."
Fixed on stage.

[2017-11-06 12:05] AumpaiFung commented on #212
@daver78  From picture above.
I moved form name text box to the left and move template select box down.
FormEditorEdit.html:
  I try to change select box to chosen but it's look and field doesn't look like another page. Please help.
FormEditorNew.html:
    I have problem with x-editable, it's not compatible with ng-route. Then I still didn't change it to x-editable.

@paagla123
Forms need the foll

[2017-11-06 14:51] paagla123 commented on #212
@AumpaiFung thank you. I will wait for you to finish before testing

[2017-11-06 15:23] daver78 commented on #30
@paagla123 OK let me know.

[2017-11-06 15:25] daver78 opened #224 "[Go-live] Where is production environment?"
@paagla123 When we go live, I think we should consider if our production environment is in the right place.  Where is it now?

We may want to consider putting it at AWS so that we can more easily scale the computing resources we may eventually need.  Not sure what the plan is on this front -- can you advise?

[2017-11-06 15:26] daver78 opened #225 "[Go-live] Powered by Da Vinci?"
@paagla123 Especially in our free tier, do we want to consider injecting "Powered by DV" or something similar at the bottom of emails and landing pages?

Not necessarily for go-live, but something to consider.

[2017-11-06 15:26] daver78 opened #226 "[Go-live] Make repo private"
@paagla123 Given that we have some of our creds and other things in our code, we should make this repo private so that people can't snoop around.  Can you handle this?

[2017-11-06 15:28] daver78 commented on #37
@paagla123 @jiewsone @paweenwich and @coa0329, regarding:
![image](https://user-images.githubusercontent.com/7561473/32448543-03f120de-c2c4-11e7-8d23-a86e2680e5fe.png)

... **please make sure you read the above instructions**.  Let's **not** do this manually; find the correct endpoints and pull it dynamically as suggested above.  Much easier that way.

[2017-11-06 15:28] #191 closed

[2017-11-06 15:38] daver78 opened #227 "[Reports] Remind me of query behind rn=emailopenratio?"
@amalekshahi, I want to use the data provided in `rn=emailopenratio` within DV.  Can you remind me of how you constructed the query for this?

You can either paste the query or describe it in English.

Lastly, it runs fairly slowly; do you see a way to speed it up?  If not, we may need to cache it.

Here's a query you can try: `https://studio.dashboard.mdl.io//api/Report/GetAdminReportView?rn=emai

[2017-11-06 15:47] #218 closed

[2017-11-06 16:03] paagla123 commented on #191
@jiewsone I think the issue is that you are undoing changes instead of publish, once you have published the first schedule for test. And therefore no subsequent schedule gets published.
![image](https://user-images.githubusercontent.com/29718335/32450425-07a80d6e-c2c9-11e7-978b-a506ad74dcb4.png)

[2017-11-06 16:06] paagla123 commented on #142
@jiewsone It should be Central Standard time and not Central America Standard time.

[2017-11-06 16:07] paagla123 commented on #37
OK

[2017-11-06 16:09] paagla123 commented on #226
@daver78 don;t we need to move to the paid Git for this? Can you add me and @coa0329 to it?

[2017-11-06 16:11] paagla123 commented on #225
I would say Powered by MindFire - or Powered by Da Vinci from MindFire

[2017-11-06 16:13] paagla123 commented on #224
@daver78 that's in my list to discuss next week with @paweenwich and @coa0329

[2017-11-06 16:14] paagla123 commented on #30
@paweenwich we should move this to every one of the templates - who can handle that? Thx

[2017-11-06 16:30] javpowell commented on #159
@paagla123 @daver78 I have some follow up on the SSL side of things still. RF and I discussed how to make this happen Friday and I have a call with Entrust today. Stay tuned on next step here.

[2017-11-06 16:38] javpowell commented on #223
@paagla123 @daver78 whats the from address used? If SPF is not set this will always happen. Maybe for DaVinci you should create a from address that you can set an SPF for for everyone to use? Otherwise, you need to make sure the user sets SPF and cannot send email unless they do. DKIM would be nice but SPF is 100% necessary.

[2017-11-06 17:44] paagla123 commented on #183
@coa0329 I looked at "coatest-blog-102506", it appears to be doing the correct things. What is teh issue that you are still having? Re the questions you asked, I would check with @amalekshahi :
How can I create the call to get the detail of Sent of each email ?
How can I create the call to get the detail of the summary of all emails in the campaign ?

@daver78 do you have any comments?

[2017-11-06 17:45] paagla123 commented on #223
@daver78 we need to discuss.

[2017-11-06 17:46] paagla123 commented on #159
@javpowell thanks. Pl open a new issue when you have some actionable item here/ Thx

[2017-11-06 17:53] paagla123 commented on #187
@paweenwich - sorry - #187 and #188 are different, one for Blog and one for eBook.  #188 includes download for landing pages.
When you say done, what is it that you refer to?
Download works for Blog, so I will close #187. I will close #188 after testing eBook. Thx

[2017-11-06 17:53] #187 closed

[2017-11-06 17:59] paagla123 commented on #210
@coa0329 I am getting error below. Also - pl remove the credentials from here (since this is not secure) and put in teh Google Doc that you started for credentials a while ago. Thx
![image](https://user-images.githubusercontent.com/29718335/32456047-0efeeb5e-c2d9-11e7-8bbb-dca5ad43dfc2.png)

[2017-11-06 18:00] #220 closed

[2017-11-06 18:01] #219 closed

[2017-11-06 18:02] paagla123 commented on #204
@daver78 that one - yes its ok. Thanks

[2017-11-06 18:02] #204 closed

[2017-11-06 18:03] #139 closed

[2017-11-06 18:05] paagla123 commented on #221
@daver78 what is the next step here?

[2017-11-06 18:05] paagla123 commented on #206
Closing now

[2017-11-06 18:05] #206 closed

[2017-11-06 18:12] #184 closed

[2017-11-06 18:14] paagla123 commented on #173
@AumpaiFung can you please put notes here re the table structure you will be using in Google Cloud so I can close it? Thanks

[2017-11-06 18:15] paagla123 commented on #171
@daver78 is this ready to be closed? The UI still seems a bit off to me?

[2017-11-06 18:16] paagla123 commented on #165
@daver78 @amalekshahi - have you all discussed?

[2017-11-06 18:27] paagla123 commented on #155
@coa0329 we should only have the following accounts:
CampaignLauncher
DaVinci for Atrium
DaVinci
DV-Production
DV-Stage
DVStage
MindFire Master
Omnifiq
Solution21
We're missing DVStage right now. It is a subacct of DV-Stage and should have same creds. This is the account that should be our new testing env. Thx

[2017-11-06 18:28] paagla123 commented on #152
@paweenwich & @MFNunOff - any updates here. I may have missed a checkin, pl let me know. Thanks

[2017-11-06 18:31] #76 closed

[2017-11-06 18:34] paagla123 commented on #26
@daver78 - backlog this?

[2017-11-06 18:35] paagla123 commented on #23
@daver78 did not see a response here. Can you pl carify @coa0329 's question as well as tell me if we can close this one? Thx

[2017-11-06 18:37] paagla123 commented on #223
@javpowell what does that lens look like? Can we discuss sometimes?

[2017-11-06 18:49] javpowell commented on #223
Sure. I think the SPF and DKIM process changes slightly.

*Jason Voigt*
*Client Services Manager*
jvoigt@mindfireinc.com | *949.579.9840*
http://www.mindfirestudio.com/

On Mon, Nov 6, 2017 at 10:37 AM, Paagla123 <notifications@github.com> wrote:

[2017-11-06 19:39] amalekshahi commented on #227
The actual query is below. Basically, it aggregates Opens, sent and ratio (percentage of opens to sent) across days of the week (Sun .. Sat) for an account and for a date range.
We went through different revisions of this query and the current one is the most efficient one I could develop, given the complexity of the query and the exclude clauses:

Select DayOfWeekNumber, DayOfWeek, Sum (Opened),

[2017-11-06 19:48] amalekshahi commented on #183
@coa0329 I don't know either. Aref or Amir are the best persons to ask about this endpoint

[2017-11-06 19:51] amalekshahi commented on #165
No

[2017-11-06 20:24] javpowell opened #229 "[SSL]"
@daver78 @paagla123 I need your input on how we want to handle ssl.

For entrust: WildCard Cert is 700 for 1 year, this includes 1 wildcard domain (*.my-dv.com). To add another  wildcard SAN (*.stage.my-dv.com) it would be 700 + 540 for a year. If we go multi year the 700 drops but the 540 remains.

1-year
$1240

**This method allows us to use this cert only for all domains that we already use for

[2017-11-06 23:00] daver78 commented on #229
@javpowell I'm a little fuzzy on what you've written here, so forgive me for asking two questions:

1) Why do we need SSL for staging?

Did @paagla123 ask for this?

2) @paagla123 Are you still handling the SSL for the sign-up process?  That's separate from this, yes?

[2017-11-06 23:00] daver78 commented on #165
@paagla123 We can close this issue once you've verified this adjustment is OK.

I will open a separate issue with @amalekshahi re: the data.

[2017-11-06 23:02] daver78 commented on #183
@paagla123 and @coa0329 I'm confused why you're asking for these two?

1- How can I create the call to get the detail of Sent of each email?
2- How can I create the call to get the detail of the summary of all emails in the campaign?

[2017-11-06 23:04] daver78 commented on #227
@amalekshahi OK, now I am remembering the details a bit more.  I didn't dissect your SQL yet, but are we looking at the open rate for emails sent the SAME day?

[2017-11-06 23:05] javpowell commented on #229
@paagla123 recommended SSL for Staging as well. Not sure if its just a want or necessity.

@daver78  Might be easier to discuss details here in person. Theres a lot there and I was confusing myself as I wrote it. There is a lot to managing SSL from requests to maintaining the SSL on Studio servers so I think we should have a chat to make sure we go down the right path. Took a good ammount of time

[2017-11-06 23:07] daver78 commented on #23
@paagla123 and @coa0329 and @paweenwich If I recall from the code, we have some areas where the logged in user's email address and password are visible in the HTML (view source).  Shouldn't we remove that?

[2017-11-06 23:07] daver78 commented on #26
@paagla123 backlog this b*tch

[2017-11-06 23:09] daver78 commented on #171
@coa0329 Sorry I missed your note above.  I think the way you've done it is fine.  @paagla123 Have you tested it?

@paagla123 Regarding "the UI still seems a bit off" can you paste a snapshot with arrows pointing to the "bit off" portion?

[2017-11-06 23:10] daver78 commented on #221
@paagla123 I'm using chrome too.  Let's have someone else check in chrome.  Can you ask team?

[2017-11-07 00:18] daver78 commented on #226
@paagla123 Yes, we need to pay.  I think this is something @coa0329 needs to initiate.  If he can't, he can send me his creds and I'll figure it out (or send them to you).

[2017-11-07 00:18] daver78 commented on #225
@paagla123 So do we want to modify all the templates?

[2017-11-07 00:19] daver78 commented on #217
@paagla123 Can we backlog for right now?  Not necessary before T-day is it?

[2017-11-07 00:19] daver78 commented on #213
@paagla123 Did you discuss this with the team?  Is this something we will do by T-day?

[2017-11-07 00:21] daver78 commented on #212
@AumpaiFung It looks like you got x-editable work?

![image](https://user-images.githubusercontent.com/7561473/32470739-864efed0-c30e-11e7-95e1-34d235ec8cfc.png)

[2017-11-07 00:22] daver78 commented on #202
@amalekshahi Can you review and comment on the above?  Thx.

[2017-11-07 00:25] daver78 commented on #149
@paagla123 Who is assigned to this one?  I don't see any action as of late.

[2017-11-07 00:37] daver78 commented on #223
@paagla123 I spoke to @javpowell briefly about this.  I know that we had an issue many moons ago on this topic but backlogged it until after go-live.  Worth discussing this in the next week or so.

[2017-11-07 00:46] amalekshahi commented on #227
No, not necessary. I aggregate sent per weekday and open per weekday separately. Opens might be for Sent for the same day or previous days

[2017-11-07 01:13] daver78 opened #230 "[Database] Shutterfly & Sandy Alexander Use-Case"
@javpowell I was thinking about something Joe said today re: Shutterfly and Sandy Alexander both having the same exact issue re: the need to pull data from an external source.

It made me think about DV as a possible solution.

Are you able to nutshell the requirement here for me to ponder?

@paagla123 CC'ing you just as FYI.  This is for future.  Has no impact on immediate plans.

[2017-11-07 01:21] coa0329 commented on #210
I remove the credential.

![020](https://user-images.githubusercontent.com/7914690/32472294-8a3320e0-c394-11e7-8885-e65343e2f480.JPG)

What is your ip ?
We must add your ip to the Authorized networks first.

[2017-11-07 01:22] paagla123 commented on #210
I see - I am on a mobile 4G card so it keeps changing! :-(
May be when I get back to the office

[2017-11-07 01:24] paagla123 commented on #230
I feel we're making a bigger deal than it actually is. Summit pulls the data from external sources all the time! So do many other clients.

[2017-11-07 01:25] paagla123 commented on #223
OK

[2017-11-07 01:26] paagla123 commented on #149
@coa0329 will get to it - don;t worry. He is working on other stuff.

[2017-11-07 01:30] paagla123 commented on #213
Well - discussed with Coa. Team does not have to do much - its all in the MAML template which Coa or I can take care of easily.
Question is, what do we do with the score? What are the actions?

[2017-11-07 01:30] coa0329 commented on #226
@daver78 @paagla123

Should I Transfer ownership this repo to you ?

[2017-11-07 01:30] paagla123 commented on #217
OK

[2017-11-07 01:32] paagla123 commented on #225
Probably - we can talk. This can be addressed easily after all the critical tasks are done

[2017-11-07 01:33] paagla123 commented on #221
OK

[2017-11-07 01:35] paagla123 commented on #229
@daver78 @javpowell SSL for sign-up is separate - that is standard GoDaddy!

[2017-11-07 01:36] paagla123 commented on #183
@daver78 asking about any end points available for contact level drill down on these numbers. Currently they are not drillable. I am ok if the answer is NO - just checking

[2017-11-07 01:40] coa0329 commented on #210
Yes -> Bhaang Credentials.

[2017-11-07 01:40] coa0329 commented on #210
Yes -> "Bhaang Credentials" in Google Doc.

[2017-11-07 01:44] paagla123 commented on #226
@daver78 can you deal with the payment? I cannot from here - already got blocked by GoDaddy!

[2017-11-07 01:44] paagla123 commented on #226
I will take over the ownership when I am back in CA

[2017-11-07 02:12] daver78 commented on #230
@paagla123 Humor me.  What is the requirement?  I think @javpowell can nutshell it?

[2017-11-07 02:13] daver78 commented on #213
@paagla123 Hmmm.  Are you sure it's just in the MAML?  Based on what the User specifies in global properties, you need to carry that through all published MAMLs.  Have you thought that thru?

[2017-11-07 02:14] daver78 commented on #225
@paagla123 OK, let's backlog this biotch then.

[2017-11-07 02:16] daver78 commented on #183
@paagla123 Are you asking if "Sent" (which should probably be changed to "Targeted" to match other areas) should be clickable?

![image](https://user-images.githubusercontent.com/7561473/32473882-9af9150e-c31e-11e7-8714-219b64d9560f.png)

[2017-11-07 02:17] daver78 commented on #226
@coa0329 If you can switch ownership to me, I'll handle it for ya'll.

[2017-11-07 02:33] coa0329 commented on #226
@daver78

I send Transfer ownership request to you.

![063](https://user-images.githubusercontent.com/7914690/32474361-bf3ce47e-c39e-11e7-8b53-855899af06ed.JPG)

[2017-11-07 02:35] daver78 commented on #226
Ok I accept the challenge

On Mon, Nov 6, 2017 at 6:33 PM Coa <notifications@github.com> wrote:

--
-dr-

*PS*:  *Are you an auditory learner?  Weekly, we bring you the latest
strategies for using multi-channel marketing automation to boost leads &
sales <http://bit.ly/PixelsAndInk>.  From the industry's top sales &
marketing minds, you’ll hear what’s working -- and not working -- so you
can be on

[2017-11-07 02:41] coa0329 commented on #183
@daver78 @paagla123

Yes, I need the call to show Targeted for each emails.

[2017-11-07 02:41] coa0329 commented on #183
@daver78 @paagla123

![064](https://user-images.githubusercontent.com/7914690/32474582-caf3b68e-c39f-11e7-9cf7-5057caba644f.JPG)

I need the call to show the drill down for the summary too.

[2017-11-07 02:49] coa0329 commented on #155
@paagla123

I show only those accounts in dv.

Please add tt994613@gmail.com to DVStage.

[2017-11-07 03:02] coa0329 commented on #142
@paagla123 @jiewsone

I fixed CST in setting.

[2017-11-07 03:54] AumpaiFung commented on #212
@daver78  It's work for formEditorEdit.html but formEditorNew.html (Create new) is not.

[2017-11-07 04:14] AumpaiFung commented on #173
CREATE TABLE `S3FileDescription` (
	`id` INT(11) NOT NULL AUTO_INCREMENT,
	`lasteditdate` DATETIME NULL DEFAULT NULL,
	`accountID` INT(11) NULL DEFAULT '0',
	`programID` INT(11) NULL DEFAULT '0',
	`campaignID` VARCHAR(50) NULL DEFAULT '',
	`filename` VARCHAR(100) NULL DEFAULT '',
	`awspath` VARCHAR(100) NULL DEFAULT '',
	`pageuse` VARCHAR(1) NULL DEFAULT '',
	`description` VARCHAR(255) NULL DEFAUL

[2017-11-07 04:26] AumpaiFung commented on #173
@paagla123
CREATE TABLE `S3FileDescription` (
	`id` INT(11) NOT NULL AUTO_INCREMENT,
	`lasteditdate` DATETIME NULL DEFAULT NULL,
	`accountID` INT(11) NULL DEFAULT '0',
	`programID` INT(11) NULL DEFAULT '0',
	`campaignID` VARCHAR(50) NULL DEFAULT '',
	`filename` VARCHAR(100) NULL DEFAULT '',
	`awspath` VARCHAR(100) NULL DEFAULT '',
	`pageuse` VARCHAR(1) NULL DEFAULT '',
	`description` VARCHAR(255)

[2017-11-07 04:37] paagla123 commented on #142
Thanks - I will close after testing

[2017-11-07 05:01] paagla123 commented on #226
OK @daver78 @coa0329 pl let me know when this is ready to be closed

[2017-11-07 05:03] coa0329 commented on #226
@daver78 @paagla123

The repo change now.
You have to change the config.

Open .git/config
[remote "origin"]
Change from
url = https://github.com/coa0329/BhaangWeb.git
To
url = https://github.com/daver78/BhaangWeb.git

[2017-11-07 05:43] coa0329 commented on #155
@paagla123

I hide DV-Production and DV-Stage from account list after login.

[2017-11-07 05:54] paagla123 commented on #213
@daver78 Assuming its fixed
blog
EmailMarketing_NO_LandingPage.TMAML-v12.maml

ebook
eBookPromo_MAML-v2.maml

[2017-11-07 06:33] coa0329 commented on #23
@daver78 @paagla123

I remove them all.

[2017-11-07 07:13] AumpaiFung commented on #173
@paagla123  Please take a look.

![s3tableschema](https://user-images.githubusercontent.com/30495097/32481393-b4f46b96-c3c5-11e7-97f3-42b85ea6f507.jpg)

[2017-11-07 10:55] coa0329 commented on #149
@paagla123 @daver78

Fixed on stage.

It takes about 2 min to show the number in the page.
![066](https://user-images.githubusercontent.com/7914690/32490166-cb06a75e-c3e4-11e7-9084-21a7e9b67e26.JPG)

====

To show the report we need to save some data in mysql. To do that you need to go to the campaign then click Save.

[2017-11-07 11:00] coa0329 commented on #149
@paagla123 @daver78

Fixed on stage for blog.

It takes about 2 min to show the number in the page.

====

To show the report we need to save some data in mysql. To do that you need to go to the campaign then click Save.

[2017-11-07 12:01] jiewsone commented on #191
@paagla123
I already fix bug "Undid Changes" publish in case Davinci cannot save to CouchDB then it's publish the old version to studio.

But "Undid Changes" publish can happen if you change Email Field (Email Subject, Email Content, ...) only because all email fields are the URL link to S3 then it's not change anything in Studio.

PS. Do you see the new button "Send All Emails"? You have to click