[2017-09-16 01:54] coa0329 opened #1 "test"
test

[2017-09-16 01:54] coa0329 commented on #1
_From @daver78 on September 15, 2017 20:59_

@paagla123 Tagging you as reference for the mixed up soup of information you originally had :)

[2017-09-16 01:54] coa0329 opened #2 "test"
test

[2017-09-16 01:54] coa0329 commented on #2
We should use BhaangWeb as the repo and we should put new issues there.

[2017-09-17 01:41] #2 closed

[2017-09-17 01:41] #1 closed

[2017-09-17 03:36] daver78 opened #3 "Warning: file_get_contents(conf/davinci.json): failed to open stream: No such file or directory in /home/cabox/workspace/html/admin/commonUtil.php on line 23"
When accessing DV on my local dev machine ([http://da-vinci-core-daver438618.codeanyapp.com/admin/](http://da-vinci-core-daver438618.codeanyapp.com/admin/)), I see this error message:

![image](https://user-images.githubusercontent.com/7561473/30517783-755da666-9b1e-11e7-9924-d79fb29f09d3.png)

I pulled this code from the `stage` branch.  Did someone forget to add and commit `conf/davinci.json` to

[2017-09-17 13:00] coa0329 commented on #3
This is the config file for stage, so we exclude it from git.

I cannot upload here so I will email it to you.
Coa.

[2017-09-17 22:22] daver78 commented on #3
@coa0329 OK I will add this manually.  Perhaps what you and @paweenwich are looking for is `gitignore` -- which is a file that specifies intentionally untracked files that Git should ignore.  Google that and see if that does what you need.

Is that what you're looking for?

[2017-09-17 22:33] daver78 opened #4 "DBView doesn't show my Campaigns"
Running from my local environment, when I clicked on DBView I cannot find the Campaigns listed on my Home page.  I see the `json` in the DB, but my campaigns are nowhere in the list.

Why is that?

It seems as if the DBView link is pointing to another DB.  Am I right?

![image](https://user-images.githubusercontent.com/7561473/30525550-6cd1848c-9bbd-11e7-89ab-10150a5057ea.png)

[2017-09-17 22:48] daver78 opened #5 "Make sure to check master branch before you deploy to production"
@paweenwich last night when I got @coa0329's instructions to use the `stage` branch, I pushed to `master` branch in this repo instead of `stage`.

I'm warning you since I'm not completely sure what your new rhythm is.

[2017-09-18 03:03] daver78 opened #6 "[Audiences] Review UI love applied by Coa to importContact.php"

[2017-09-18 03:09] daver78 opened #7 "How every developer should work with Git and our release strategy"
@paweenwich Can we open this issue to document our desired workflow for all developers, including me?

I suggest reading this: [https://www.atlassian.com/git/tutorials/comparing-workflows,](https://www.atlassian.com/git/tutorials/comparing-workflows,) and then deciding if any of those workflows sound right for us.
-------
From now I will use this process as advised by @coa0329:

`git branch -a` to

[2017-09-18 10:09] paweenwich commented on #4
@daver78  You are correct.  This one relate to the missing conf/davinch.json file that Coa mail to you.  The trouble behind this is we have stage and production.  Code need a way to identify database endpoint to link to.   So, I create a conf/davinch.json  to keep this setting.  However, we put it in our VirtualBox and set ..gitignore to prevent mistakenly pull this file to production.    So, we n

[2017-09-18 10:33] paweenwich commented on #7
@daver78 Your imagine is correct.  Except the "pull request" part.    Because, I need to fixed and research a few things myself.  So, I don' have time to manage "pull request".   So, I ask "Fung and Jew" to push their working branch directly to stage also (beside put to their branch as backup code).

I also use the same work flow as Coa explain to you ( working with stage directly).  I like to exp

[2017-09-18 14:09] daver78 commented on #7
@paweenwich Got it!  We will use this for now and see how it goes.

@paagla123 Are you clear on this process?  Any questions?  If not we can close this issue.

[2017-09-18 14:11] daver78 commented on #4
@paweenwich OK.  Likely that I won't be able to work on this today or tomorrow, but Wed - Friday of this week I will get back into the code and let you know if I have any problems using your suggestion.

Let's leave this open until I do that and verify the solution.

[2017-09-18 17:58] daver78 commented on #4
@paweenwich I configured as you stated above, and it appears to be working now.  I'll close this issue for now.  Thank you for your help!

[2017-09-18 17:58] #4 closed

[2017-09-19 01:47] paweenwich commented on #3
May be you can come out with better solution.
As you know, I need to find a place to put config file (davinci.json) that php code can read and know that this code is running to which server (stage or prod or .. )   Prod and Stage will have different version of this file.

So, I ask everyone to manually create this file on their server and put it in .gitignore (to prevent git from push/pull) to rep

[2017-09-19 02:25] paweenwich opened #8 "MyCampaigns search not working"

[2017-09-19 02:47] paweenwich commented on #8
Actually it filter all field in items.   Fixed this be create customer  filter to search only campaignName

Done

[2017-09-19 02:47] #8 closed

[2017-09-19 04:02] paweenwich opened #9 "Ebook Form Country Width Too Wide"

[2017-09-19 14:10] daver78 opened #10 "[Settings] Match UI from Mockup"
See "Settings" section from: [https://da-vinci-rules-daver78.c9users.io/httpdoc/daver/dv.php](https://da-vinci-rules-daver78.c9users.io/httpdoc/daver/dv.php)

Suggest we divide each area in this way to make it easier for the User to identify the areas they can 'set'.

@paagla123 Please confirm this makes sense to you.  Otherwise, this page will get rather long.  If you agree, please assign to righ

[2017-09-19 14:18] daver78 commented on #5
@paweenwich If you saw this and have no further action on it, let's close this.

[2017-09-19 14:31] daver78 commented on #3
@paweenwich How about when you load the `davinci.json` conf file, you look at which server you're running on (maybe you can tell from the URL that's being used), and then use that information to find the right data in the conf file.

The conf file could be structured like this:

[code]

Would this work?  Then none of us have to worry about changing this file or `.gitignore`.  I assume there will b

[2017-09-19 18:13] daver78 opened #11 "Provide me a completely new sub-account"
For my work tomorrow, I'd like to start from a completely new sub-account so I can view things through the eyes of a first-time user.

I bet there are some areas in the UI that we should wrap with `ng-if` or `ng-show` type directives to hide empty tables and give more clear direction to the 1st time user -- but I'm not certain because it has been a while since I've seen a new sub-accounts.

@paagl

[2017-09-19 22:33] daver78 commented on #11
@paagla123 OK, looks like I can log into Suz's subaccount.  I don't see anything in there.

[2017-09-19 23:03] paagla123 opened #12 "Any time you edit a blueprint, minimize left nav"
This will avoid the form overrun. Make sure it stays locked in minimized state. Also use tool tip while hover in minimized state. For minimized experience, visit https://da-vinci-rules-daver78.c9users.io/httpdoc/daver/dv.php.

[2017-09-19 23:04] paagla123 opened #13 "Lock navbar in place"

[2017-09-20 00:33] paagla123 opened #14 "Form spilling out on the right hand side in screen where you create landing pages for eBook"
_From @paagla123 on September 18, 2017 2:44_

See screenshot here:
![image](https://user-images.githubusercontent.com/29718335/30527733-a7cbb170-9be0-11e7-838a-8592b9f91089.png)

_Copied from original issue: coa0329/Bhaang#117_

[2017-09-20 00:33] paagla123 commented on #14
_From @daver78 on September 18, 2017 2:48_

Let's put new items in b-web. I anticipated this particular issue and have two solutions. Let's discuss before we choose a path.

[2017-09-20 00:34] paagla123 commented on #13
Related to #14

[2017-09-20 00:34] paagla123 commented on #12
Related to #14

[2017-09-20 02:17] paweenwich commented on #10
How about make it tab-like instead of left menu.

[2017-09-20 03:19] paweenwich opened #15 "Optimize MAML render"
![capture](https://user-images.githubusercontent.com/17819797/30625398-3107c812-9ded-11e7-9f22-c17a01f41001.PNG)

[2017-09-20 03:22] paweenwich commented on #15
Suspect most of the time is s3 copying.

[2017-09-20 04:09] paweenwich commented on #15
![capture](https://user-images.githubusercontent.com/17819797/30626446-257d092e-9df4-11e7-9b93-fa4084c1a73d.PNG)

S3 upload confirm

[2017-09-20 04:36] paweenwich commented on #15
![capture](https://user-images.githubusercontent.com/17819797/30626994-cae283c8-9df7-11e7-9739-3d777c4c2b76.PNG)

BTW all above result was obtain from VirtualBox in my machine (Thailand)

[2017-09-20 05:07] paweenwich commented on #15
![capture](https://user-images.githubusercontent.com/17819797/30627694-178bd68a-9dfc-11e7-9548-79e9ff02d564.PNG)

This is time in staging.   So, S3's time seem ok.

[2017-09-20 10:36] jiewsone commented on #14
I already fix it.

[2017-09-20 15:19] daver78 commented on #15
@paweenwich and @paagla123 :)

[2017-09-20 15:20] daver78 commented on #10
@paweenwich I think with tab (left to right) we will run out of room, which is why I did it top-to-bottom.

@paagla123 thoughts?

[2017-09-20 15:21] daver78 commented on #12
@paagla123 Looks like we did this only in the accordion step that has the issue (not upon entering the Blueprint).  Are you OK with this user experience?  What do you think?

(I'm not opposed to it just asking for opinion)

[2017-09-20 15:21] daver78 commented on #13
@paagla123 Was this covered in last night's chat?

[2017-09-20 15:28] daver78 opened #16 "[CSS] Fix button roll-over (uses green from Inspinia default look)"

[2017-09-20 18:00] daver78 commented on #16
Fixed.

[2017-09-20 18:00] #16 closed

[2017-09-20 18:02] daver78 opened #17 "[Welcome] Hide table of Campaigns if User's first time and no campaigns available"
We need to come up with a way to introduce Users to different parts of the UI, especially if it is their first time in that portion of the UI.

For example, the Welcome Page for a first-time User shows an empty table.

Let's use an `ng-if` or something to hide the table if there are no Campaigns.

Later, we can have @paagla123 or someone else write content to help the User get started (including v

[2017-09-20 18:05] daver78 commented on #17
OK, good enough for now.  First time users see (needs love and clean up, we can do later):
![image](https://user-images.githubusercontent.com/7561473/30659731-9080b2a8-9df3-11e7-99cb-c79e25e68011.png)

Whereas users with existing campaigns see:

![image](https://user-images.githubusercontent.com/7561473/30659671-63c67c0c-9df3-11e7-9026-8715438ba252.png)

@paagla123 You can start thinking about wha

[2017-09-20 22:44] daver78 opened #18 "[UI] Add easy way to switch between sub-accounts"
As we know from Studio Users (and our own personal use), it is a PITA to switch sub-accounts.

Let's put that in the past for good.

[2017-09-20 22:46] daver78 commented on #18
Quick working example for now:

![image](https://user-images.githubusercontent.com/7561473/30671219-9df304c8-9e1a-11e7-8def-04e79e1db156.png)

@paweenwich What's the best way to carry this out across all pages?  I see that you've started to externalize the angular js for each page.  If I'm not mistaken angular can only bootstrap one `ng-app` per html document, so copying this code (which I mostly

[2017-09-20 22:48] daver78 commented on #18
@paagla123 Take a look this one it is on staging and see what you think.  It's not currently using `angular-chosen` like the login page, but we can probably do that here too.  "Feel " it and see what you think we should do.

[2017-09-20 22:49] daver78 opened #19 "[Image Library] Figure out UI for this portion"

[2017-09-20 22:53] daver78 opened #20 "[Welcome] Seems we have a $rootScope:infdig issue; why?"
For some reason, I see a `$rootScope:infdig` error on this page.  What the F&$K is that kind of error name??

[2017-09-20 22:53] daver78 commented on #20
To resolve this for now, I changed the code to return 1 instead of a random number.  Anyways, we're soon going to need to replace this with the real data.

![image](https://user-images.githubusercontent.com/7561473/30671392-8368e61c-9e1b-11e7-9a87-9b95f40cdc77.png)

[2017-09-20 22:54] daver78 commented on #20
@paweenwich FYI!

[2017-09-21 01:39] paweenwich commented on #20
I have no idea either.  (From google
infdig  = Infinite $digest Loop)

[2017-09-21 01:50] paweenwich commented on #18
@daver78  I don't have a clear idea why user need to switch sub account.  If we target this app to entry level user, how come this user have multiple sub account.

I think we need to make the checklogin/login code in to angular.service in order to prevent copy and paste.  Will research on that, never try before :)

[2017-09-21 01:53] paweenwich commented on #17
If user doesn't have any campaign, why don't we redirect him/her to create campaign page in stead.  That page is catchy enough and he might have some idea.

[2017-09-21 01:54] paweenwich commented on #15
I will close this.

[2017-09-21 01:54] #15 closed

[2017-09-21 01:57] paweenwich opened #21 "[Refactor] Research angular service"

[2017-09-21 01:57] paweenwich opened #22 "Fix the sort bug by using server time instead of browser time."

[2017-09-21 01:58] paweenwich commented on #22
Browser time cause uncontrollable behavior.  Change to server time.

[2017-09-21 02:26] paweenwich commented on #18
@daver78 I comment out this for now, because it makes others page beside (welcome.php) fail due to missing seemlessloginCtrl  code.

[2017-09-21 02:38] daver78 opened #23 "[Refactor] Remove User's credentials from within HTML"
Maybe convert login process to `angular service`

[2017-09-21 02:39] daver78 commented on #20
@paweenwich Yes, basically like a loop that consumes too many resources to Angular kills it to keep the browser from crashing.

[2017-09-21 02:39] daver78 commented on #17
@paweenwich That's a good idea!

@paagla123 What do you think?  Do you see something specific that could go in this area on the home page, or should we try @paweenwich's idea?

[2017-09-21 02:40] daver78 commented on #15
@paweenwich Thank you.

[2017-09-21 02:40] daver78 commented on #21
@paweenwich Oops I created one for this too.  I'll kill mine.

[2017-09-21 02:41] daver78 commented on #18
@paweenwich Thank you for commenting it out.  That occurred to me after I checked in but it seemed to be working.

Regarding why we need this, we are getting more interest from our existing Clients (service providers), who each have multiple Clients that they want to run campaigns for via DV.  For this reason, I'm thinking ahead to making their life easy to switch between multiple accounts.

Make

[2017-09-21 02:54] coa0329 opened #24 "Create Internal Domains for Blog Emails"
_From @paagla123 on August 31, 2017 16:56_

This domain will be used to host the online version of the emails as well as the unsubscribe landing page. Not required for P17, but we cannot go to production without this.

_Copied from original issue: coa0329/Bhaang#53_

[2017-09-21 02:54] coa0329 commented on #24
_From @daver78 on August 31, 2017 20:12_

@paagla123 What are you asking me to do?  I'm OK with whatever generic domain we come up with.

[2017-09-21 02:54] coa0329 commented on #24
@paagla123 @daver78 @paweenwich

We don't need the site for online version. We can save them on S3.

The current process, we will render the email, save it as html and upload it to S3 when user click save email.

We can save 2 html each time user click save  when user click save.
1 The html without view online in the content for view online. (We can use the same file name with suffix like _online

[2017-09-21 02:54] coa0329 commented on #24
_From @daver78 on September 4, 2017 3:20_

@coa0329 You can't use this technique because `https://s3-us-west-1.amazonaws.com/bkktest/tmp/TEXT-AREA-16916-a3fbe4d26d00539cc0200035408a5377-EMAIL1CONTENT.html` will not personalize variables like `##firstname##`.

This is why the Microsite is useful; we can use the HTML we've saved to S3 inside a Microsite page, which gains us personalization.

Does th

[2017-09-21 02:54] coa0329 commented on #24
ok. I got it.

[2017-09-21 02:54] coa0329 commented on #24
@daver78 @paagla123

We save 2 versions of the html on S3. (with and without view online link)

We create the mircosite in the maml. We set the domain to davinci.m.mdl.io.
When user launch the program
1 We will automatically add sub domain to the microsite using _id from davinci. Example 583deefb2ba32388e98a4d82b4740faa

2 We will add the ##purl##, domain and emailX.html in the link in email conte

[2017-09-21 02:54] coa0329 commented on #24
_From @daver78 on September 4, 2017 14:41_

@paagla123 Will you verify this?

[2017-09-21 02:54] coa0329 commented on #24
_From @paagla123 on September 4, 2017 14:47_

I tested - this does not appear to be done yet. @coa0329 please confirm.

[2017-09-21 02:54] coa0329 commented on #24
@paagla123 @daver78 Please Verify, Are you ok with this solution ?

[2017-09-21 02:54] coa0329 commented on #24
We cannot use the same domain for both account. We must add the account id to it.
The domain for campaignlauncher will be davinci228.m.mdl.io
The domain for davin ci will be davinci16916.m.mdl.io

[2017-09-21 02:54] coa0329 commented on #24
_From @daver78 on September 5, 2017 17:2_

@coa0329 This makes sense to me.  @paagla123 Do you agree?

[2017-09-21 02:54] coa0329 commented on #24
_From @daver78 on September 7, 2017 23:30_

@coa is this still open?

[2017-09-21 02:54] coa0329 commented on #24
@paagla123 said this will not include in Print17.

[2017-09-21 02:54] coa0329 commented on #24
_From @daver78 on September 8, 2017 5:20_

@paagla123 Was that intentional?  I see you moved it to MarTech milestone.

[2017-09-21 02:55] coa0329 commented on #24
@paweenwich

We save 2 versions of the html on S3. (with and without view online link)

We create the mircosite in the maml. We set the domain to davinci{{acctID}}.m.mdl.io.
When user launch the program
1 We will automatically add sub domain to the microsite using {{progID}} from davinci.

2 We will add the ##purl##, domain and emailX.html in the link in email content. Example http://##purl##.davi

[2017-09-21 02:57] coa0329 commented on #24
@paweenwich

We save 2 versions of the html on S3. (with and without view online link)

We create the mircosite in the maml. We set the domain to davinci{{acctID}}.m.mdl.io.
When user launch the program
1 We will automatically add sub domain to the microsite using {{progID}} from davinci.

2 We will add the ##purl##, domain and emailX.html in the link in email content. Example http://##purl##.davi

[2017-09-21 03:04] daver78 commented on #3
@paweenwich Does the idea above help at all?

[2017-09-21 03:04] daver78 commented on #5
@paweenwich I'm closing this ok?

[2017-09-21 03:04] #5 closed

[2017-09-21 03:04] daver78 commented on #7
@paweenwich and @paagla123 I'm closing this.  Seems our process is OK.

[2017-09-21 03:04] #7 closed

[2017-09-21 03:05] daver78 commented on #11
@paagla123 Closing for now.  I can use Suz's.

[2017-09-21 03:05] #11 closed

[2017-09-21 03:06] daver78 commented on #20
@paweenwich I'll close this.

[2017-09-21 03:06] #20 closed

[2017-09-21 03:30] daver78 opened #25 "[Left Nav] Add tool tip for situation when it is minimized"

[2017-09-21 03:35] daver78 opened #26 "[Left Nav] Fix thingy on left of select nav item that shows where you are"
I must have screwed it up in my mockup css and it carried over to here.  Need to fix.

[2017-09-21 03:38] coa0329 commented on #17
Should we redirect them to setting first, so they can enter the company information ?

[2017-09-21 03:45] daver78 commented on #17
@coa0329 Yes; I envision they will have gone through a short set-up wizard in advance of hitting this screen.  Haven't created it yet, but definitely need to.

[2017-09-21 04:07] paagla123 commented on #24
@daver78 @paweenwich yes I believe so

[2017-09-21 04:30] paweenwich commented on #18
OK

[2017-09-21 08:54] coa0329 commented on #24
Please goto campaign coatest-blog-092104 in Davinci studio.

In Busines MicroSite.

Email3, I put the content of https://s3-us-west-1.amazonaws.com/bkktest/tmp/tests3.html in the variable email1contentonline.
Email3 can show the page correctly.
You can test at http://coatest901.davinci16916.m.mdl.io/21e0a8487d1f66b365b9d664ac04b2d1/Email3.html
![147](https://user-images.githubusercontent.com/79146

[2017-09-21 09:39] paweenwich commented on #18
@daver78 I end up create davinci module with that component.   Please see js/angular-davinci.js
so, the new directive <accountSwitch> will create the switch account UI.   To use this, the app need to inject 'davinci' module.  Right now only welcome.php and audience.php inject the module.

you can change ui by change "accountSwitch.html"

[2017-09-21 15:08] daver78 opened #27 "[Microsite] Settings Requirements"
With respect to this UI:
![image](https://user-images.githubusercontent.com/7561473/30703257-0aa9b84e-9ea4-11e7-80ba-6b011266ecd5.png)
... here's the meaning of each item as originally discuss with @paagla123:

**Welcome Page URL**: Displays the entire URL of the Welcome Page.  `Copy URL` puts in your clipboard.  `Open in New Window` opens the URL in a new window.

**Thank-You Page URL**: Same as

[2017-09-21 15:20] daver78 commented on #18
@paweenwich Excellent.  I will create a separate task for each section's developer to inject this into their module.

I will take a look at your template, too.

Great work!

[2017-09-21 15:22] daver78 opened #28 "[All UI Sections] Inject davinci module into your page's module as dependency"
@paweenwich created a davinci module that allows Users to easily switch accounts (see #18 for screenshot).

For each page in the UI, you need to inject the 'davinci' module.

Right now only `welcome.php` and `audience.php` inject the module.

@paweenwich Will you add each assigned person to this issue so that they can fix?

[2017-09-21 15:36] paagla123 commented on #27
@coa0329 @jiewsone pl see this explanation for microsite domain for eBooks

[2017-09-21 15:45] daver78 commented on #24
@paagla123 You got this?

[2017-09-21 16:25] daver78 opened #29 "[UI] Things to do to help 1st time Users"
- PABP: “Complete my call to action” should only display if the User has set something for this in Step 1.
- Change CREATE A CAMPAIGN button to CREATE YOUR FIRST CAMPAIGN
- Fix the `<a href>` in the box at bottom
- PABP: Comment out PAUSE CAMPAIGN until we decide what to do
- PABP: When editing subject, remove “Trash”
- PABP: When editing subject, form field needs to be wider.
- PABP: Change Uploa

[2017-09-21 18:41] daver78 opened #30 "[PABP Email] Add some sort of 'outline' around stuff configured in Settings with helpful message"
As a User, I may not know how to edit my logo and email footer.  I think there should be a rollover 'outline' like we have for the editable stuff, but slightly different so the user gets pointed in the right direction.

@paweenwich I tired to edit `/templates/emails/COMPANY-EMAIL.html` but it didn't change what I saw in the UI.  Did I edit the wrong file?

Note to self:
- edit `COMPANY-EMAIL.html`

[2017-09-21 21:22] daver78 opened #31 "[PABP: Step 3] If you haven't created any segments, the "Chose your audience" default text says “No results ma”"
Maybe it is trying to say "No results matching".  We should fix at some point.

![image](https://user-images.githubusercontent.com/7561473/30720105-09d7fe8a-9edb-11e7-8997-ff7572d3ef16.png)

[2017-09-21 21:23] daver78 opened #32 "[PABP: Step 3] If I've never upload any contacts nor created any segments, you should tell me what to do"
If I don’t have any contacts uploaded, you should tell me to upload some, or perhaps use a test list?  Not sure but right now I don't know where to go.

[2017-09-21 21:24] daver78 opened #33 "[PABP: Step 2] Hero image should link to blog post URL when deployed"
I should be able to click the hero image and arrive at the blog post.  Make sure to pass the UTM params too.

[2017-09-21 21:26] daver78 opened #34 "[Audiences] First-time User Experience Modifications"
- If you don’t have any Contacts, we should hide the two tables we presently show and display something that helps you start.  I think the first step is learning to upload contacts, and that should be the only thing you see on the page (other than the jumbotron at top).
- If this is my first time uploading Contacts, I may want to learn how to do it without actually creating a CSV.  Provide me a sa

[2017-09-21 21:27] daver78 opened #35 "[PABP] Do we still need "LAUNCH"?"
I think I saw that you can apply the same process to this blueprint as PAEP.  If so, this Issue is to resolve this issue.

If not, this issue is to apply love to the button and process to make it intuitive.

[2017-09-21 21:28] daver78 opened #36 "[PABP: Step 2] New seed record doesn't appear in drop-down list"
As a new User (virgin Account), I tried to add someone to my seed list.

I went through the pop-up process, but when the page refreshed there was nothing in the drop-down.

Bug?

![image](https://user-images.githubusercontent.com/7561473/30719955-877162ba-9eda-11e7-9be2-0a68022cd930.png)

[2017-09-21 21:29] daver78 opened #37 "[PABP: Step 2] How do I know which ##vars## I can use?"

[2017-09-21 21:30] daver78 opened #38 "[PABP: Step 2] View Online Dumps HTML & Unsub Strategy"
- When I clicked “Email not display correctly?” from my inbox, loads page showing the HTML (meaning, the HTM is dumped to the screen).

- Unsubscribe is not linked to anything.  What is our strategy there?  I'm wondering if we need a "pretty" unsub page like we do for MindFire Master.  @paagla123 like to know your thoughts.

[2017-09-21 21:30] daver78 opened #39 "[PABP: Step 2] How to add verified senders?"
- In “Notify me when” should show email address if who will be notified, and how to change that/add people
- Settings: Add other Users to DV (which will show up in the FROM for emails and other sections)

[2017-09-21 21:39] daver78 commented on #34
@paagla123 Let me know if you agree before we do this.

[2017-09-21 21:40] daver78 opened #40 "[Audiences] Upload Contacts doesn't do anything"
After I select a CSV to upload, the screen just sits there.  What should happen next?

[2017-09-21 23:17] paagla123 commented on #31
@AumpaiFung can you please fix this? Thx

[2017-09-21 23:23] paagla123 commented on #32
@daver78 we can discuss the logistics here when we meet next time

[2017-09-21 23:33] paagla123 commented on #40
@daver78 not sure why you got the problem. I agree this needs a little luv. What you have to do now is to type in a import name and click on Import button. I think the system should pick an import name on its own and automatically start the import process without waiting for any more clicks or inputs from user. We can discuss f2f if you like.

[2017-09-21 23:37] paagla123 commented on #33
Hmmm - @daver78 what about in the eBook? Should it link to the landing page?

[2017-09-21 23:40] paagla123 commented on #34
@daver78 we agree that we have to do something here. However, there are more first time issues than just this. My vision is that we will have little training videos for this part only at each of these sections. What do you say to that?

[2017-09-21 23:41] paagla123 commented on #35
@paweenwich has a plan - it should be in yesterday's (9/20) Skype.

[2017-09-21 23:48] paagla123 commented on #37
@daver78 what if we have popup a list of available variables the moment user types ## in the edit window? Will certainly need another video here.

[2017-09-21 23:50] paagla123 commented on #39
@daver78 that should go to the sign up + registration page. I will write it up

[2017-09-21 23:54] paagla123 commented on #29
@daver78 videos

[2017-09-21 23:55] paagla123 commented on #24
@daver78 yes

[2017-09-22 00:14] paagla123 opened #41 "Need a way to create the template for landing pages and emails"
_From @paagla123 on September 18, 2017 2:36_

_Copied from original issue: coa0329/Bhaang#116_

[2017-09-22 00:16] paagla123 opened #42 "Change w3 include to php include"
_From @paweenwich on September 15, 2017 7:30_

w3 include is slow and can not include script.   Need to change to php include

_Copied from original issue: coa0329/Bhaang#111_

[2017-09-22 00:16] paagla123 commented on #42
_From @daver78 on September 15, 2017 16:56_

@paweenwich Should we reconsider using `php include` and perhaps do it the angular way?  See also issue #97 "Refactor Backlog" for additional notes on this.

[2017-09-22 00:18] paagla123 opened #43 "Create specs for a sign up process"
_From @paagla123 on September 12, 2017 2:14_

_Copied from original issue: coa0329/Bhaang#104_

[2017-09-22 00:18] paagla123 opened #44 "We should have a way to change the temporary password assigned by password reset module."
_From @paagla123 on September 8, 2017 16:53_

_Copied from original issue: coa0329/Bhaang#98_

[2017-09-22 00:18] paagla123 commented on #44
_From @coa0329 on September 12, 2017 3:25_

We use RequestForgotPassword api.

To request a new password for the user. The user's email  address should be provided in the request. NOTE: The new password will  be emailed to the user.

[2017-09-22 00:19] paagla123 opened #45 "[Promote an eBook] Remove need for User to Publish"
_From @daver78 on September 6, 2017 15:50_

@paagla123 I opened this one for you to discuss w/ @paweenwich

_Copied from original issue: coa0329/Bhaang#88_

[2017-09-22 00:19] paagla123 commented on #45
_From @paweenwich on September 7, 2017 4:6_

My concern
1) If we remove the publish button.  When we will do first publish.  Most obvious answer would be "when user click 'save'".   Then what if MAML need some important information to fill in in order to be able to publish and user not fill that in yet.

2) You might notice that publish and re-publish will take a while,  while "save' is almost ins

[2017-09-22 00:19] paagla123 commented on #45
_From @daver78 on September 7, 2017 4:53_

@paagla123 is going to speak to you about this further at some point, but in the meantime, @paweenwich here are my thoughts:

1. "If we remove the publish button, when will we do the first publish?": I would do it when the User launches their program (after giving it a name).  In my POC, this is when I did, and I don't see any reason why we can't do this.

[2017-09-22 00:19] paagla123 commented on #45
_From @paweenwich on September 7, 2017 10:17_

After discuss with Coa,  the first publish part is fine.   We will try that and will optimize the "save" speed later.

[2017-09-22 00:19] paagla123 commented on #45
_From @daver78 on September 7, 2017 15:44_

@paweenwich OK.  Are we applying the "first publish at time of campaign creation" technique to both Blueprints, or just one?

Are you saying we will also try to checkout-in when User hits "SAVE" buttons?

[2017-09-22 00:19] paagla123 commented on #45
_From @paweenwich on September 8, 2017 2:8_

@daver78  We will apply both feature "publish at campaign creation" and "republish when save"  at ebook first.  Because we might have more idea by experimenting the  ebook's MAML.    I have to re-think about template MAML (MAML with {{}} ), it might not need at all.  At first, I think this project is a publish once project.  So, the template MAML is the

[2017-09-22 00:19] paagla123 commented on #45
_From @daver78 on September 8, 2017 5:18_

@paweenwich Yes, I think you should re-think and see what you come up with.  These Blueprints are definitely not published once.  @paagla123 should have made that clear when he was there but maybe too much beer :)

The way I think about this (and how the POC worked), as much as possible I want(ed) to store content required by the Program in S3 HTML snippe

[2017-09-22 00:19] paagla123 commented on #45
What is the issue here? We are able to publish multiple times now. Removing the launch button we agreed that we will discuss after Print 17 - right?

[2017-09-22 00:19] paagla123 commented on #45
_From @daver78 on September 8, 2017 14:31_

@paagla123 If you read through Kwang's comments I think you can see what he's thinking about.

Correct; we won't change anything before Sunday.

[2017-09-22 00:20] paagla123 opened #46 "[Promote a Blog Post] Populate reporting snapshot on blueprint home page, and complete "View More" reporting view too"
_From @paagla123 on August 30, 2017 6:57_

@paweenwich here it is:

The query has been published and you can access it using the below link:

https://studio.dashboard.mdl.io/api/Report//GetAdminReportData?rn=allprogram_allemail_detail&si=0&ai=679&st=0&fd=01/01/2017&td=08/29/2017&seed=false&datasourceType=redshift

Change ai= to your account# and fd and td to your date filters. Note that this is an

[2017-09-22 00:20] paagla123 commented on #46
I ran the following query:
https://studio.dashboard.mdl.io/api/Report//GetAdminReportData?rn=allprogram_allemail_detail&si=0&ai=228&st=0&fd=08/28/2017&td=08/31/2017&seed=false&datasourceType=redshift

228 is CampaignLauncher

Got this JSON:
[
  {
    "Program": "Moe",
    "Email": "Email1",
    "Sent": 17,
    "Delivered": 4,
    "Opened": 0,
    "Clicked": 0,
    "FailedToProcess": 0,
    "HardBo

[2017-09-22 00:20] paagla123 opened #47 "How do we handle two people editing at the same time?"
_From @daver78 on August 30, 2017 2:18_

@paagla123, I know we briefly discussed this before, but wondering what the latest thinking is re: this scenario:

1- Dave logs into a DV account for MindFire, and clicks campaign "Print 17," then changes some email content.

2- It so happens that at the same time, Kushal is in the same DV account for MindFire, and happens to be editing the same email conte

[2017-09-22 00:20] paagla123 commented on #47
_From @paweenwich on August 30, 2017 2:32_

There is also a problem when same user open multiple tab while playing the same campaign.

The person or tab that hit "Save" later (if it need to save the same document) will fail to save because the document's revision number is not sync.

[2017-09-22 00:20] paagla123 commented on #47
_From @daver78 on August 30, 2017 2:53_

@paweenwich OK, what do you think is the solution for your scenario?

[2017-09-22 00:20] paagla123 commented on #47
We need a semaphore of some sort - don;t we?

[2017-09-22 00:20] paagla123 commented on #47
_From @daver78 on September 15, 2017 16:51_

@paagla123 What is the status of this issue?  Is it a problem?

[2017-09-22 00:20] paagla123 opened #48 "Da Vinci Campaign Names (non-unique) mapped to Studio Program Names (unique)"
_From @paweenwich on August 28, 2017 9:30_

Need to check before allow program to create if the program name is duplicate

_Copied from original issue: coa0329/Bhaang#20_

[2017-09-22 00:20] paagla123 commented on #48
My thought on this is to differentiate between program names in Da Vinci that users use (may have duplicates) vs Program Names in Studio, which probably should be internally created by us with a combination of what user typed plus time stamp. In my opinion, we should not bug end users with creating unique names - we should be able to handle that programmatically. What do you all think? Just a sugg

[2017-09-22 00:20] paagla123 commented on #48
_From @daver78 on August 28, 2017 14:29_

**@paagla123 YES!  PAAGLA for the win!**

This is what we need to do.  If you look at 'modern' apps like Google Docs, the User is not required to make a unique name for their stuff.  Certainly, Google does that behind the scenes for them, but the User, as Kushal says, is not bothered with such mental overhead.

**We should do the same.**

I handled this in

[2017-09-22 00:20] paagla123 commented on #48
Yes @daver78 - only question is how will show up in the dashboard. We probably have to keep our own mapping of that - right?

[2017-09-22 00:20] paagla123 commented on #48
_From @daver78 on August 28, 2017 14:45_

@paagla123 We could, or just do what I did above when displaying it back to the User.  I'm sure @paweenwich will have a suggestion.

[2017-09-22 00:20] paagla123 commented on #48
_From @paweenwich on August 29, 2017 1:21_

@daver78 Do we care if the publish program in studio has GUID name or "User name program + timestamp"..  In the other word, do we expect user to login Studio and see those strange name?

If not, we can
1)  name it with hash function like MD5() or GUID() and keep the mapping.
or
2) keep user program name and suffix with timestamp (Dave's trick).   We can

[2017-09-22 00:20] paagla123 commented on #48
We don't expect the users to log into Studio.

[2017-09-22 00:20] paagla123 commented on #48
We have decided to deal with this after Print17

[2017-09-22 00:20] paagla123 commented on #48
_From @daver78 on August 29, 2017 15:53_

@paweenwich I agree with @paagla123 -- I'm not that concerned about what the User sees in Studio.

[2017-09-22 00:20] paagla123 commented on #48
I have renamed this issue to distinguish fro the issue of checkout/checkin/republish with the same program name which will have to be addressed before Print17. There is still an outstanding issue of da Vinci users giving wild-ass names that will get mapped to unique names in Studio - not necessary for Print17. @daver78 @paweenwich do you guys agree?

[2017-09-22 00:21] paagla123 opened #49 "Show studio error and convert to friendly version."
_From @paweenwich on August 25, 2017 9:6_

- Try catch all API error and show to user (by trying to map it to friendly version first)
- map should implement in json for easy editing.

_Copied from original issue: coa0329/Bhaang#13_

[2017-09-22 00:21] paagla123 commented on #49
Coa - do you have a list of errors you have received so far? If not, can we go back and create one please?

[2017-09-22 00:21] paagla123 commented on #49
_From @coa0329 on August 29, 2017 0:55_

@paagla123
do you have a list of errors you have received so far?
- No, I don't.

If not, can we go back and create one please?
- We can re-create some of them.

[2017-09-22 00:21] paagla123 commented on #49
_From @paweenwich on September 5, 2017 7:10_

Show ErrorCode and ErrorMessage now

[2017-09-22 00:21] paagla123 opened #50 "Add X (close) and (+) for closeing and opening tabs."
_From @paweenwich on August 25, 2017 5:51_

(Item from feature 8/24 feature_backlog.txt )

_Copied from original issue: coa0329/Bhaang#8_

[2017-09-22 00:21] paagla123 commented on #50
_From @daver78 on August 25, 2017 15:2_

@paagla123 What is this about?  Can you add some notes here so I have context for what you asked?

[2017-09-22 00:21] paagla123 commented on #50
_From @coa0329 on August 26, 2017 1:27_

Sorry to confuse you.

We create those issues as task lists for our team. If we have questions to you we will put the labels after the subject.

[2017-09-22 00:21] paagla123 commented on #50
_From @daver78 on August 26, 2017 1:29_

Ok great. You can assign the issues to a specific person so shall we do
that going forward so it is more clear?

On Fri, Aug 25, 2017 at 6:27 PM Coa <notifications@github.com> wrote:

--
Sent from within an Apple iCar beta

[2017-09-22 00:21] paagla123 commented on #50
_From @coa0329 on August 26, 2017 1:32_

ok

[2017-09-22 00:21] paagla123 commented on #50
Dave this is for adding of deleting emails beyond the first one

[2017-09-22 00:21] paagla123 commented on #50
_From @daver78 on August 28, 2017 14:21_

@paagla123 What do you mean "adding **of** deleting emails"?

[2017-09-22 00:21] paagla123 commented on #50
@daver78 I am rolling my eyes so hard that it hurts! We talked about this several times and that's why we added up to SIX emails with START/STOP.
![image](https://user-images.githubusercontent.com/29718335/29778790-624992c8-8bc5-11e7-9d94-e3c8cabdb290.png)

[2017-09-22 00:21] paagla123 commented on #50
_From @daver78 on August 28, 2017 14:51_

@paagla123 Well then don't roll!  Then you would have broken foot and eye! :)

Based on your drawing, I think you mean "adding **or** deleting emails".  Is that right?

If so, now I get it :)

[2017-09-22 00:21] paagla123 commented on #50
@daver78 :-)

[2017-09-22 00:21] paagla123 commented on #50
_From @daver78 on August 28, 2017 14:57_

@paagla123 I'm wondering if the use of the "x" in the upper right of the tabs will be confusing to "Carrie".

If she's working on the email, maybe she'll think it means closing it (as in, "OK, I'm done with this for now).

That's what "x" means most of the time (close) -- not delete.

I think the "+" is clear and non-hurtful.

@paagla123 Thoughts?  Maybe t

[2017-09-22 00:22] daver78 commented on #19
@paagla123, @paweenwich, and @coa0329, I've created the first check-in of this UI.

You can get to it from `Asset Library > Images` for right now.

![image](https://user-images.githubusercontent.com/7561473/30724218-5b6dd3ee-9ef1-11e7-8ac8-245d804cd5ce.png)

Please take a look and comment before I continue.

[2017-09-22 00:23] paagla123 opened #51 "Refactoring Backlog"
_From @daver78 on September 8, 2017 14:22_

Here's a backlog list of items we should consider for refactor:

- Externalize our angular to `app.js` instead of inline.

- We use `php include`, `w3-include-html`, and `$routeProvider templateURL`.  We should pick one method and stick with it.  My preference would be to standardize with the `angular` way.

- In many areas of the UI, we copy-n-paste HTM

[2017-09-22 00:23] paagla123 commented on #51
_From @daver78 on September 15, 2017 20:19_

@paweenwich and @paagla123 Can you look at the list above and tell me if you think anything is missing?  I'm sure you've run across a few things too.

[2017-09-22 00:23] paagla123 commented on #51
_From @paweenwich on September 18, 2017 3:18_

@daver78 I think  "php include"  comparable to  "w3-include-html".  Both are static include which right now we are using it to include top, left and buttom part.    We can get ride of both if we decide to go with SPA.

So, the problem is are we going to SPA or not.  I never do any SPA before, so I am not qualify to decide on this.   For me, MPA has be

[2017-09-22 00:23] paagla123 commented on #51
_From @daver78 on September 18, 2017 14:19_

@paweenwich OK, I am fine with MPA for now.

However, I notice that some of our developers are using `$routeProvider` already in some areas, so we are like hybrid SPA-MPA?

Let me know if you're OK with that.  I'm fine with it for now.

[2017-09-22 00:24] daver78 commented on #19
@paagla123 It seems to me that if we follow the pattern established in the above UI, then do we still have a need for the Email, Pages, and eBook sections below?

![image](https://user-images.githubusercontent.com/7561473/30724282-b56fbbc8-9ef1-11e7-93c3-fdc05c226d3c.png)

[2017-09-22 03:03] daver78 commented on #34
@paagla123 Not sure what you're asking ... but I agree that there are many first-time UX things to do, and also with videos.  Did I answer your question? :)

[2017-09-22 03:03] daver78 commented on #33
@paagla123 Yes, good call.

[2017-09-22 03:05] daver78 commented on #40
@paagla123 Where do you enter the import name?

This is what I see:

![image](https://user-images.githubusercontent.com/7561473/30727748-2b6506d8-9f08-11e7-8d8b-946557cea2b5.png)

After I select a file, it sits on this screen.  Only happening for me?

[2017-09-22 03:08] coa0329 commented on #40
![148](https://user-images.githubusercontent.com/7914690/30727809-cdd2b99a-9f7d-11e7-8bc8-2e8ca41c72b2.JPG)

You may don't have the following folders in your machine.

/admin/import/contactFile
/admin/import/importFile
/admin/import/microsoft
/admin/import/google

[2017-09-22 03:19] daver78 commented on #40
@coa0329 I should if they're checked into branch `stage` in github.  Confirm?

[2017-09-22 03:20] daver78 commented on #40
@coa0329 Yes, I have:
![image](https://user-images.githubusercontent.com/7561473/30728055-47ad195a-9f0a-11e7-8cf7-7712f15bb106.png)

[2017-09-22 03:41] coa0329 commented on #40
![149](https://user-images.githubusercontent.com/7914690/30728453-7cfd850e-9f82-11e7-808a-70436442787a.JPG)

Please show me the response of doUploadFile.php from your browser.

[2017-09-22 03:45] daver78 commented on #40
@coa0329 Ah ha:

[code]
Should I `chmod 777` or something in that directory?

[2017-09-22 03:48] coa0329 commented on #40
Please try chmod 777.

[2017-09-22 11:33] AumpaiFung commented on #31
Done.

[2017-09-22 13:10] daver78 commented on #31
@paagla123 I think that if you have yet to create a Segment, we should `ng-if == no segments` this section (meaning, they don't see "Choose Your Audience" and the input field on the right), and instead, show them something that leads them to create their first segment.

Thoughts?

[2017-09-22 13:15] daver78 opened #52 "[PABP: Step 3] Show how many people are in your selected segment(s)"
As a marketer, I need to know how many people are in my segments (in the dropdown), and how many total people I've selected (in the event that I'm adding multiple segments).

So here, do something like LIST NAME [xx people]:
![image](https://user-images.githubusercontent.com/7561473/30746059-4a1df742-9f5d-11e7-995b-c0df121fd356.png)

... and here, put the total number of people on the right:
![ima

[2017-09-22 13:16] daver78 commented on #52
@paagla123 Assigning to you as a sanity check for the importance of the idea.  If you agree, please prioritize and assign to the right person?

[2017-09-22 15:13] daver78 commented on #19
Notes for self:

**First Page**
- Add folder "All"
- Upload should be dropzone I think
- File list should also show `folder name`
- When view is pressed, if image show it; if HTML modal it.  if PDF, show it.
- Should be able to rename, moved to another folder, replace.
- Should show "used by?" and dimensions

**Insert from Library**
- When upload hero image, should be automatically added to Librar

[2017-09-22 19:09] daver78 commented on #19
@paagla123 Do you think the Asset Library should be accessed like this?

![image](https://user-images.githubusercontent.com/7561473/30760407-dfee1e4c-9f8e-11e7-9c28-968e76d87583.png)

[2017-09-22 19:13] daver78 opened #53 "[Asset Library] Show true count"
I know that Files isn't working yet, but for Forms, we should show the actual # of forms.

![image](https://user-images.githubusercontent.com/7561473/30760534-674ba9e0-9f8f-11e7-8d81-8da470b268e0.png)

[2017-09-22 19:14] daver78 commented on #19
@paagla123 Can you review and give me questions?  I will probably pause at this point before taking it further.  I think this is enough but please advise asap.

![image](https://user-images.githubusercontent.com/7561473/30760549-81fd41ae-9f8f-11e7-8e70-7d1820b2507e.png)

[2017-09-22 21:08] paagla123 opened #54 "[Audiences] May need a way to set a filter row that is used by every Audience, even if User doesn't explicitly set it"
_From @daver78 on September 12, 2017 14:1_

For example, within MindFire, we use `sf_hasOptedOut` to mark opt-outs.  A problem we often has if people forget to include this row in their TA.

In DV, the same thing could happen, but I think we should think about some way to control this at the account level.

There could be other fields too.  This is just a placeholder for the thought so I don't for

[2017-09-22 21:08] paagla123 commented on #54
@daver78 I don't get it - why do you say so? However, we should note that we need to have a way to address all contacts. Currently we do not have any audience for all contacts.

[2017-09-22 21:08] paagla123 commented on #54
_From @daver78 on September 13, 2017 1:26_

@paagla123 Let me know if you mean "I don't agree with this requirement" or you mean "I don't understand the requirement."

Regarding a way to target all Contacts, should there be a default Segment called "All My Contacts"?  Or is that too dangerous?

[2017-09-22 21:08] paagla123 commented on #54
@daver78 I see - understand now. Thx

[2017-09-22 21:08] paagla123 commented on #54
@daver78 opt-outs in Studio are automatic - why do we need to mark a row? We're not using any custom unsubscribe here - right? I am still confused about this issue.

[2017-09-22 21:09] paagla123 commented on #54
_From @daver78 on September 13, 2017 13:31_

@paagla123 So when you said "I see - understand now" what was that about?  Was that the default segment called "All Contacts"?  I think you raise a good point on that issue, and we should figure out how to address elegantly.

-----

Regarding "opt-outs in Studio are automatic", that may be true in some cases, but certainly not all.  For example, when yo

[2017-09-22 21:09] paagla123 commented on #54
@daver78 do we want to worry about non-standard unsubscribes in the initial incarnation of daVinci? Normal people will not think about it. Its too complex a concept for them

[2017-09-22 21:09] paagla123 commented on #54
_From @daver78 on September 15, 2017 16:49_

@paagla123 I have no problem if you do it manually via the Segment filter for right now, but my gut tells me we will find this to be a recurring need (in the future).  Let's agree to wait and see what happens?

[2017-09-22 21:21] Mcfarsheed commented on #54
Alo how does it affect the overall database? For example if Mary is running
her own drip campaigns and someone opts out of hers, will it opt out the
record for all of MindFire marketing? I'm thinking this will apply to
companies with different divisions, or franchises?

Sincerely,

Mackenzi
MindFireInc.
949-842-4388
www.mindfireinc.com

On Fri, Sep 22, 2017 at 4:09 PM, Paagla123 <notifications@git

[2017-09-22 21:33] daver78 opened #55 "[Form Builder] Questions about next steps, vision, love"
[A] Can you apply the `chosen` style to the pull-down (just like in Promote a Blog Post Step 2)? Also, the label "Form Template:" is likely confusing.  @paagla123 what are we really trying to say?

[B] Does it make sense to have "Settings" when the fields are on the left?  Seems like they're only applicable when dragged to the middle.

Also, I didn't label this in the screenshot, but what are we d

[2017-09-22 21:38] daver78 commented on #55
@paagla123 I also did some slight love to the form preview on the right.

[2017-09-22 21:57] daver78 commented on #43
@paagla123 Switching this back to you (you said you have some idea).

[2017-09-22 21:57] daver78 commented on #41
@paagla123 What is this?

[2017-09-22 21:57] daver78 commented on #30
@paweenwich Can you help me with this?  See above questions.

[2017-09-22 21:57] daver78 commented on #30
@paagla123 Tell me if you agree with the idea.

[2017-09-22 21:58] daver78 commented on #25
@paagla123 I did this.  After you check we can close it.

[2017-09-22 21:59] daver78 commented on #18
@paweenwich Can you have someone use the same `chosen` style that we use on the login page?

[2017-09-22 21:59] daver78 commented on #54
@paagla123 I'm going to close this for now.

[2017-09-22 21:59] #54 closed

[2017-09-22 22:00] #41 closed

[2017-09-22 22:00] #29 closed

[2017-09-22 22:01] daver78 commented on #26
@paagla123 can you discuss this with @paweenwich?

[2017-09-22 22:04] daver78 commented on #51
@paagla123 Is there a question from you?  I see you pasted my comment above; not sure what action you need here.

[2017-09-23 05:18] paagla123 commented on #26
@daver78 ok. What about a breadcrumb?

[2017-09-23 05:22] paagla123 commented on #41
@daver78 e  Old one - ok to close.

[2017-09-23 05:28] paagla123 commented on #30
@daver78 is it really intuitive?

[2017-09-23 05:37] paagla123 commented on #52
@daver78  agreeed.

[2017-09-23 21:26] daver78 commented on #26
@paagla123 We need to add a breadcrumb in most places.  I have them in some areas, but not all (we're inconsistent).

If you agree, let's add an Issue in B-web for that.

[2017-09-23 21:26] daver78 commented on #52
@paagla123 OK.  You'll discuss & assign from here, yes? After it is done we can give it love.

[2017-09-23 21:34] daver78 opened #56 "[PABP: Step 4] Little to-do headline is still hardcoded; needs to be dynamic"
The little list should be dynamic based on my sections:

![image](https://user-images.githubusercontent.com/7561473/30777283-20430d12-a06c-11e7-851d-53d0eb9d05e0.png)

[2017-09-23 21:34] daver78 commented on #56
@paagla123 Can you discuss with team then assign as required?

[2017-09-23 21:40] daver78 opened #57 "[PABP] Accordion should not show step 2 and 4 little summary until the step is configured"
When I first enter a newly created Campaign, Step 2 and 4 already show up.  They should be hidden until something is entered by the User.

![image](https://user-images.githubusercontent.com/7561473/30777337-1da8041c-a06d-11e7-8b1c-8a9aec6912a9.png)

@paagla123 If you agree please discuss and then assign.

[2017-09-23 22:16] daver78 opened #58 "[Help Center] Fix up help center to be minimally presentable"

[2017-09-24 19:04] daver78 opened #59 "[UI] Make left-nav stick by adding class="fixed-sidebar" to <body>"
Needs to look like this:

`<body class="fixed-sidebar">`

I've done it on some pages but not all.

[2017-09-25 16:09] daver78 opened #60 "[PABP] Duplicate Program Name error thrown, even though I don't have any DV Campaign with that Name"
Logged in as Suz on staging, I try to hit the "Launch Program" button.  I can the error message seen below, even though I only have one other Campaign with a different name.  Why?

Also, we need to allow the user to change the name of their Campaign.  @paagla123, where should we allow this in the UI?
![image](https://user-images.githubusercontent.com/7561473/30818626-e473e00c-a1d0-11e7-9bbf-6a1c21

[2017-09-25 17:10] daver78 opened #61 "Reference the issue # when committing"
Let's have people reference the issue # when they commit.  Makes keeping track of what's in progress easier.  `git commit -m "I did blah blah for #20"` is all that's required (specifically, the `#20` portion)

[2017-09-25 19:34] daver78 commented on #61
@paagla123 TExt

[2017-09-25 20:17] daver78 commented on #61
@paagla123 If we do the feature-branch git strategy, we can do this as long as @paweenwich knows which changes to merge.

[2017-09-25 20:18] paagla123 commented on #61
@paweenwich @daver78 @coa0329 we also need to be able to identify which fixes from staging are going to production and which ones are not. We should not be sending everything from staging to prod, as all issues in staging may not have been fixed.

[2017-09-25 23:32] daver78 commented on #61
@paagla123 I think the question re: which items move requires some research to evaluate the various options.  How important is it now?

[2017-09-25 23:34] daver78 commented on #55
@paagla123 There are open questions here for you.

[2017-09-25 23:34] daver78 commented on #53
@paagla123 This one needs your review too.

[2017-09-25 23:35] daver78 commented on #60
@paagla123 thinks this is related to #48.

[2017-09-25 23:35] daver78 commented on #42
@paweenwich & @paagla123 Does this still need to be open?

[2017-09-25 23:36] daver78 commented on #34
@paagla123 I'm closing this one for now.  If you still have a question, let me know.

[2017-09-25 23:36] #34 closed

[2017-09-25 23:37] daver78 commented on #30
@paagla123 I'm not sure what you're asking above ("is it really intuitive") but can you remember to tickle @paweenwich to give me some pointer here?

[2017-09-25 23:37] daver78 commented on #22
@paweenwich and @paagla123 I think we've solved this for now.  I'll close it; you can re-open if I'm wrong.

[2017-09-25 23:37] #22 closed

[2017-09-25 23:38] daver78 commented on #3
@paweenwich Did the above idea help at all?  I'll close this issue for now.

[2017-09-25 23:38] #3 closed

[2017-09-25 23:39] daver78 commented on #58
@paagla123 I'm closing this for now.  Let me know if you have any other suggestions on this.

[2017-09-25 23:39] #58 closed

[2017-09-25 23:40] daver78 commented on #6
@paagla123 This still needs work.  I haven't done it yet.

[2017-09-26 00:35] paagla123 commented on #57
@daver78 you mean comments on these steps - right? Not the steps themselves - correct?

[2017-09-26 00:40] paagla123 commented on #52
@daver78 what did we decide re how we will handle join of multiple audiences?

[2017-09-26 00:41] paagla123 commented on #6
@daver78 OK

[2017-09-26 00:42] paagla123 commented on #22
This works - I will observe

[2017-09-26 00:43] daver78 commented on #57
I mean the text directly to left of pink arrows

On Mon, Sep 25, 2017 at 5:35 PM Paagla123 <notifications@github.com> wrote:

--
Sent from within an Apple iCar beta

[2017-09-26 00:43] paagla123 commented on #42
@paweenwich I think we can close it - right?

[2017-09-26 00:44] paagla123 commented on #30
@paweenwich Let's chat

[2017-09-26 00:44] paagla123 commented on #34
@daver78 ok

[2017-09-26 01:08] paagla123 opened #62 "Rename campaign name feature"
We need to be able to rename a campaign name by being able to click on the name and type over it. Style should be similar to how change subject for emails in Blog Emails

[2017-09-26 02:22] paagla123 opened #63 "Form spilling out on the right hand side in screen where you create landing pages for eBook"
_From @paagla123 on September 18, 2017 2:44_

See screenshot here:
![image](https://user-images.githubusercontent.com/29718335/30527733-a7cbb170-9be0-11e7-838a-8592b9f91089.png)

_Copied from original issue: coa0329/Bhaang#117_

[2017-09-26 02:22] paagla123 commented on #63
_From @daver78 on September 18, 2017 2:48_

Let's put new items in b-web. I anticipated this particular issue and have two solutions. Let's discuss before we choose a path.

[2017-09-26 02:22] paagla123 commented on #63
This issue was moved to coa0329/BhaangWeb#14

[2017-09-26 02:22] paagla123 commented on #63
Moved to BhaangWeb

[2017-09-26 02:23] paagla123 commented on #63
@daver78 @paweenwich this issue still exists on smaller screens. Any ideas please?

[2017-09-26 02:23] paagla123 commented on #63
_From @daver78 on September 22, 2017 1:5_

@paagla123 What size viewport are you at?  Put a screenshot please?

[2017-09-26 02:23] paagla123 commented on #63
@daver78 remember to try this on an iPad

[2017-09-26 02:23] paagla123 commented on #63
_From @daver78 on September 25, 2017 19:36_

@paagla123 OK, I will.

[2017-09-26 02:23] paagla123 commented on #63
Moving to post Martech.

[2017-09-26 04:02] daver78 commented on #52
@paagla123 No conclusion.  I think it can be done with a TA, you think we have to get a list and unique-ify it.  Not sure which of us is right ... can you think about it?

[2017-09-26 04:02] daver78 commented on #22
@paagla123 and @paweenwich HOORAY!

[2017-09-26 14:13] daver78 opened #64 "Research how to only move certain features to staging, production"
This is to track @paagla123's  request for this idea. Things to look into:
	•	blue/green deployment with git
	•	right git workflow for this idea
	•	feature toggle idea with git; what is latest thinking on this by others

[2017-09-26 23:19] paagla123 opened #65 "[Promote a Blog Post] Conversion tracking with Google Analytics"
_From @daver78 on August 30, 2017 14:12_

@paagla123: Where are we with this?

Who is assigned to this task?

Is it intentionally left off the P17 list?

_Copied from original issue: coa0329/Bhaang#42_

[2017-09-26 23:19] paagla123 commented on #65
@daver78 yes. We will deal with this after P17

[2017-09-26 23:19] paagla123 commented on #65
_From @daver78 on August 30, 2017 18:8_

@paagla123 OK, so should we leave it in the UI?  I can see pros & cons to that.

Who is assigned to GA research?

[2017-09-26 23:19] paagla123 commented on #65
@daver78 I may be confusing things here, but what's the difference between this and the new issue #47?

[2017-09-26 23:19] paagla123 commented on #65
_From @daver78 on August 31, 2017 4:17_

@paagla123 I see 3 discrete things:

1) One issue is making conversion tracking work (with Google, perhaps later with our own web tracking).  As I understand now, we don't intend for this to work before P17, but I'd like to know who will work on it.

2) Another issue is appending a UTM string, which is useful even if we're not doing conversion tracking.  Ma

[2017-09-26 23:19] paagla123 commented on #65
@daver78 we're addressing issue#47 for P17 - that should cover #2 above. I don;t think we need to hide anything - it will be a good talking point.

[2017-09-26 23:19] paagla123 commented on #65
_From @daver78 on August 31, 2017 12:53_

@paagla123 Wonderful!

[2017-09-26 23:19] paagla123 commented on #65
_From @daver78 on September 13, 2017 13:33_

@paagla123 Where are we with this?  @paweenwich who is assigned to implement this feature?

[2017-09-26 23:19] paagla123 commented on #65
_From @paweenwich on September 14, 2017 1:48_

@daver78 Sorry, I have no idea what you gays talking about.  I know a bit about GA but not the Conversion tracking.   Could you explain the idea and give me a pointer?

[2017-09-26 23:19] paagla123 commented on #65
_From @daver78 on September 14, 2017 2:6_

@paagla123 I think you covered this with @paweenwich when you were in BKK?

[2017-09-26 23:19] paagla123 commented on #65
@paweenwich please ready https://blog.adstage.io/2013/11/26/tracking-conversions-with-google-analytics/ to learn about conversion using Google Analytics

[2017-09-26 23:19] paagla123 commented on #65
_From @daver78 on September 14, 2017 12:21_

@paagla123 and @paweenwich, I think neither of you has worked with Google Analytics in this kind of scenario, and thus the concepts seem foreign and complicated.  Let me clarify and try to simplify the mental picture you've created.
----------
Put simply, the question we're answering for the User (in the context of the Promote a Blog Post blueprint) is:

[2017-09-26 23:19] paagla123 commented on #65
@daver78 nice explanation thank you. I think I was on the wrong track. So we don;t need the goals

[2017-09-26 23:19] paagla123 commented on #65
_From @paweenwich on September 15, 2017 2:59_

@daver78 Thank you.   Now, I have clear scenario for the GA usage.  I have a few questions.   Assume the blog post blue print as explain.

1) So, we assume that the user's site already have GA code install in his/her account.  Is that possible that we can API the GA stats of other account.   If this can be done, do we need something like "userid" or "

[2017-09-26 23:19] paagla123 commented on #65
_From @coa0329 on September 15, 2017 3:45_

https://developers.google.com/analytics/devguides/reporting/core/v4/quickstart/web-js

To use Analytics Reporting API.
1 User must set the permission to use Analytics Reporting API in the account.
2 User give us client ID and view ID.

[2017-09-26 23:19] paagla123 commented on #65
_From @daver78 on September 15, 2017 3:48_

@paweenwich I will answer each of your questions in the same order:

1.  Yes, we should assume the User's site already has GA installed.  Yes, the GA API allows us to access the data.  Yes, we need information from the User in order to do this.

    To illustrate this, if you look at [the mockup](https://da-vinci-rules-daver78.c9users.io/httpdoc/daver/dv

[2017-09-26 23:19] paagla123 commented on #65
_From @coa0329 on September 15, 2017 7:45_

I create the mockup to get the report from view "All Web Site Data" in account "StarbucksFirstTaste2017".

Go to http://davincistage.mindfireis.com/admin/HelloAnalyticsReport.html

Click Sign-in button.
The google Sign-in will popup.
Enter you google email and password.
You will ask for permission.
Click Allow.

You will see nothing , if you cannot acces

[2017-09-26 23:19] paagla123 commented on #65
_From @daver78 on September 15, 2017 16:54_

@coa0329 Good progress.

1.  Regarding the Google Sign button, we should place that in the proper section of Settings as I mention to @paweenwich above ([put it here](https://da-vinci-rules-daver78.c9users.io/httpdoc/daver/dv.php?page=myProfileSettings) in “3rd Party Product Linking” )

2.  What are you trying to do with the second mockup which retrieve

[2017-09-26 23:19] paagla123 commented on #65
_From @coa0329 on September 18, 2017 8:56_

@daver78

The idea is to get all the goals to use as the option in dropdown for user to select.
We will show the report of that goal using GA api.

[2017-09-26 23:19] paagla123 commented on #65
_From @daver78 on September 18, 2017 14:14_

@coa0329 I think @paagla123 took you on the wrong path during the discussion of this part.  I thought he cleared that up.  @paagla123 Can you discuss tonight before @coa0329 does more work on this part?

[2017-09-26 23:19] paagla123 commented on #65
@coa0329 No need for Goals. Here's the discussion on Skype last Thursday on this topic:

Here're the API's https://developers.google.com/analytics/devguides/integrate/
Dave wants us to find an API that will retuen all URLs called and then search for a sring in the URL to compute how many people came from our email
So once you find API the rest should be simple

[2017-09-26 23:19] paagla123 commented on #65
_From @coa0329 on September 19, 2017 3:21_

![138](https://user-images.githubusercontent.com/7914690/30574367-a1558732-9d23-11e7-911c-1c44c1bf025a.JPG)

Do you mean we use GA api to get page visit then match it with Conversion URL user setting in each campaign ?

[2017-09-26 23:19] paagla123 commented on #65
@coa0329 That is correct. The conversion URL will have a particular string that we put there and search for it from the result of GA API calls.

[2017-09-26 23:19] paagla123 commented on #65
_From @coa0329 on September 19, 2017 7:2_

Goto http://davincistage.mindfireis.com/admin/HelloAnalyticsReport.html

![142](https://user-images.githubusercontent.com/7914690/30581468-6cbfb85e-9d4a-11e7-94e3-25aa9ca6389f.JPG)

I modify the code to get the pages from GA api.

So now we can use them to match with Conversion URL user setting, then create report.

[2017-09-26 23:19] paagla123 commented on #65
_From @daver78 on September 19, 2017 14:14_

@coa0329 OK, now I think you're on the right track.

@paagla123 I want to clarify a portion of last night's chat between you and @coa0329: I believe that passing `s=dv` is not enough; further, just passing a `campaignID` is not enough.

**We need to automatically pass both a `campaignID` and `contactID` to the marketer's website.**

Why?  We need the `c

[2017-09-26 23:19] paagla123 commented on #65
_From @coa0329 on September 20, 2017 8:36_

We will add the following parameters "campaignID={{campaignID}}&contactID=##id##&source=EMAILX" to "call to action" link in all emails so we will have the information from GA.

This is the example link in email

http://davincistage.mindfireis.com/admin/GA_test2.php?campaignID=a45f6961a4d7f7783f9232b7dc9de381&contactID=1&source=EMAIL1&utm_medium=email&utm

[2017-09-26 23:19] paagla123 commented on #65
_From @daver78 on September 20, 2017 15:18_

@coa0329 Good thinking on passing the email `source=EMAILX`.  Thanks for considering that important angle.  @paagla123 I assume you can see the validity of this param.

What's the next step?

[2017-09-26 23:19] paagla123 commented on #65
_From @coa0329 on September 25, 2017 12:1_

Working on it.

[2017-09-26 23:19] paagla123 commented on #65
@coa0329 remember to save the information about the person that converted+the source information as you recommended somewhere in the cDB. Also reminder to use contactID and not anything that is identifiable with the person.

[2017-09-26 23:20] paagla123 commented on #65
@coa0329 I have set up a campaign with conversion points for your to test. Its called Blog-0925-Google Analytics-Test .

[2017-09-26 23:20] paagla123 commented on #65
_From @coa0329 on September 26, 2017 3:26_

@paagla123

cDB cannot do that, If you want to keep the person information we need to use mysql db.

We must create the daily cron to get data from GA to save in our db.

------------

What is GA Tracking Id you use ?

Please give the permission to tt994613@gmail.com to access it.

------------

[2017-09-26 23:20] paagla123 commented on #65
@coa0329 permission given. Why do you say cDB cannot do it?

[2017-09-27 00:40] coa0329 commented on #65
We can store data in cDB but it is very hard to get data to create report.

https://www.xaprb.com/blog/2010/09/07/a-gentle-introduction-to-couchdb-for-relational-practitioners/

CouchDB isn’t designed for arbitrary queries at runtime. You can only query one view, show function, or database at a time. You can’t do joins. You can’t do arbitrary GROUP BY and ORDER BY.

==================

[2017-09-27 16:18] daver78 opened #66 "Fix angular-moment on welcome & myCampaigns"

[2017-09-27 16:18] daver78 opened #67 "Apply chosen to switch account pull-down"

[2017-09-27 16:19] daver78 opened #68 "Apply switch account pull-down to all pages"
Apply switch account pull-down to pickBlueprint.php, myCampaigns.php, assetLibrary.php, accountSetting.php, helpCenter.php, editPromoteEbook.php, fileManager.php

[2017-09-27 16:19] daver78 opened #69 "Make “Track Conversions” something that loads after clicking “Advanced” or something"

[2017-09-27 16:19] daver78 opened #70 "Where are we with making Promote a Blog Post not require “Launch”?"

[2017-09-27 16:19] daver78 opened #71 "Remove “NEW” from Asset Library in left nav"

[2017-09-27 16:19] daver78 opened #72 "Look at all pop-ups and see what love they need (add list here)"

[2017-09-27 16:20] daver78 commented on #19
@paagla123 I'm switching this Issue to you for the next step.  Once you have questions/issues I can jump back in (tag me).

[2017-09-27 16:21] daver78 commented on #30
@paagla123 Still no help here?  What does a brotha need to do?!

[2017-09-27 16:24] daver78 commented on #71
@paagla123 Ready for test.

[2017-09-27 17:14] daver78 commented on #69
@paagla123 Done.  Switching to you for verification.

[2017-09-27 17:23] daver78 commented on #66
@paagla123 Fixed.  Please confirm then we can close.

[2017-09-27 18:16] paagla123 commented on #30
@daver78 this is post Martech - yes we will do it. Yes yes yes...

[2017-09-27 18:17] paagla123 commented on #19
@daver78 thanks

[2017-09-27 18:18] paagla123 commented on #71
@daver78 Thanks. Staging only - right?
@paweenwich this is where we need to make sure we don't send these to production this week please. Only fixes for issues in Bhaang should go through. Is that doable?

[2017-09-27 18:32] paagla123 commented on #66
@daver78 what did you fix? I don't see anything different

[2017-09-27 19:08] daver78 commented on #68
@paagla123 I think I got them all.  If I missed any, please let me know and I will fix.

If anyone needs to do this themselves, make sure to:

1) Modify your controller and inject `davinci` and `localytics.directives`like:
`var myApp = angular.module('myApp', ['angularMoment', 'davinci', 'localytics.directives']);`

2) In your HTML page, make sure jquery isn’t called twice (in some pages I had to

[2017-09-27 19:09] daver78 commented on #67
@paagla123 This should be done.

[2017-09-27 19:20] daver78 commented on #66
@paagla123 Oh dearest.  Do you pull from git hub directly, or do you want for Kwang to update staging?

[2017-09-27 19:27] daver78 opened #73 "Odd email in my inbox. I think it is for Kushal?"
Case details: Hellow.

How is your day?

My name is Olga and you? Are  you frequently on this site?
I like your profile and want to chat with you, but unfortunately you
was online 3 days ago.
I hope that you will write to me soon. I guess that we will have many
topics to talk about.
Do you have gmail?

Email bernasilo1985@rambler.ru

Sincerely yours Olga.

[2017-09-27 19:28] daver78 opened #74 "Odd email in my inbox. Is it for Kushal?"
Case details: Hellow.

How is your day?

My name is Olga and you? Are  you frequently on this site?
I like your profile and want to chat with you, but unfortunately you
was online 3 days ago.
I hope that you will write to me soon. I guess that we will have many
topics to talk about.
Do you have gmail?

Email bernasilo1985@rambler.ru

Sincerely yours Olga.

[2017-09-27 19:32] paagla123 commented on #74
@daver78 I am too old for this! This is probably for the young studs like @coa0329 or @jiewsone . Closing this one!

[2017-09-27 19:32] #74 closed

[2017-09-27 19:32] #73 closed

[2017-09-27 21:18] daver78 opened #75 "[Audiences] Give some love to showContact.php"
Area needs a lot of tender touching.

[2017-09-27 21:19] daver78 commented on #75
Before:

![image](https://user-images.githubusercontent.com/7561473/30938432-d94a9d46-a38e-11e7-8f8a-51e6b6accbab.png)

[2017-09-27 22:46] daver78 commented on #75
After:

![image](https://user-images.githubusercontent.com/7561473/30941564-f181595c-a39a-11e7-8adf-518544f693fa.png)

[2017-09-27 22:48] daver78 commented on #75
@paagla123 OK, I gave this some minimal love so it is presentable @ MarTech.  I eliminated the `target=_new` from the previous page.  Are you OK with that?

Regarding drill down to the profile view, I think we should consider how to incorporate the CRM features you've found useful to CLients (log a call, add a task, etc.) -- in addition to the marketing attributes required to generate leads and sa

[2017-09-27 23:24] paagla123 commented on #66
Update staging

[2017-09-27 23:24] paagla123 commented on #75
@daver78 is this in staging?

[2017-09-27 23:27] paagla123 commented on #67
@daver78 in staging?

[2017-09-27 23:28] paagla123 commented on #69
Are you merging them to staging @daver78 ?

[2017-09-27 23:32] daver78 commented on #69
@paagla123 This is why I suggested/asked that everyone add the issue # to their commits.  If you click the commit note above:

![image](https://user-images.githubusercontent.com/7561473/30942689-36a5ff50-a3a1-11e7-932a-c980caf1efe5.png)

... you'll see what was changed and on which branch:

![image](https://user-images.githubusercontent.com/7561473/30942693-3dbfd19e-a3a1-11e7-9997-8fff287d146b.png

[2017-09-27 23:33] daver78 commented on #67
@paagla123 I work on the `staging` branch.  I think you're confusing that with the staging environment?

[2017-09-27 23:34] daver78 commented on #66
@paagla123 OK; if you wait for him to update staging env, he hasn't done that yet, right?

[2017-09-28 00:30] paagla123 commented on #67
@daver78 @paweenwich Yes

[2017-09-28 00:31] paagla123 commented on #69
@daver78 @paweenwich I see. So I cannot test yet.

[2017-09-28 10:22] #71 closed

[2017-09-28 10:25] coa0329 opened #76 "mixed http and https in the include files."
Mixed http and https in the include files.

[2017-09-28 10:49] coa0329 opened #77 "Promote blog : Notify email."
![163](https://user-images.githubusercontent.com/7914690/30962714-149ec584-a475-11e7-84ff-648368b8b110.JPG)

![164](https://user-images.githubusercontent.com/7914690/30962765-46022508-a475-11e7-9b4e-8fc3a4141164.JPG)

Should "Notify me at" show the email the user select in from ?

[2017-09-28 14:42] daver78 opened #78 "[Next Up] Thoughts for Kushal & Dave"
I will be OOO through Oct 12 for MarTech and then thINK.  As I understand it, you want to freeze the prod environment during that time frame, which makes sense.

Here are my thoughts on what we should work on during that 2-week period:

* Reporting
* Refactoring
* Google
* Issue-based, release toggle, or green/blue
* Automated tests
* Contact profile/CRM
* Asset library files
* Kushal run campaign

[2017-09-28 14:43] daver78 opened #79 "[PABP] Love"
* Snapshot of lead alert, who it comes from, subject, etc., to find in spam
* Enrichment option but disabled

[2017-09-28 14:43] daver78 opened #80 "[PAEB] Love"
* Fix accordion
* Remove pause button
* [what else]

[2017-09-28 15:24] daver78 commented on #77
@coa0329 Hmmm ... good clarification.  Let me ask you and @paagla123: Which address do we use as the `TO:` address in the lead alerts?

Are you changing it each time to match the `FROM` address of the corresponding email?

[2017-09-28 15:29] daver78 commented on #69
@paagla123 As of 7pm last night, yes.  That's the time @paweenwich does the update.

[2017-09-28 16:05] daver78 opened #81 "[PABP] If you haven’t created your first email, Step 3 looks odd with: Subject: “”. You can also set your schedule which doesn’t make sense."
[PABP] If you haven’t created your first email, Step 3 looks odd with: Subject: “”.  You can also set your schedule which doesn’t make sense.

![image](https://user-images.githubusercontent.com/7561473/30977363-2ca94044-a42c-11e7-864d-b521f260b093.png)

[2017-09-28 16:07] daver78 opened #82 "[Blueprint UX] Make accordion steps ng-show based on completion?"
Wondering, what if we only show the step in the accordion based on what you’ve completed?

Eg: When you first come in (virgin blueprint), you only see Step 1.

Then you finish step 1, and now you see 1 and 2.

Very easy to do with Angular and might improve UX.  We can experiment if you think this is of interest.

[2017-09-28 16:09] daver78 opened #83 "[PAEB] “Launch” modal is inconsistent with PABP"
Should look like Promote an eBook modal:
![image](https://user-images.githubusercontent.com/7561473/30977481-7cced822-a42c-11e7-98a7-7eaa7460d4c8.png)

Not like this:

![image](https://user-images.githubusercontent.com/7561473/30977506-8a9644ae-a42c-11e7-8f79-f87894c64e99.png)

[2017-09-28 16:10] daver78 opened #84 "[PAEB] Comment out “PAUSE CAMPAIGN” until it does something"
![image](https://user-images.githubusercontent.com/7561473/30977601-e6e29ece-a42c-11e7-9845-9055c195e74f.png)

[2017-09-28 16:14] daver78 opened #85 "[PAEB] Step 3 and 4 accordion steps are mislabeled"
Likely my fault for not providing the right words:

![image](https://user-images.githubusercontent.com/7561473/30977739-562fcc3e-a42d-11e7-84b3-c159d44d9047.png)

[2017-09-28 16:18] daver78 opened #86 "[PAEB] Accordion love"
![image](https://user-images.githubusercontent.com/7561473/30977864-b8e6d188-a42d-11e7-995b-10133ada2b49.png)

[DONE] **[A]** This was the hardcoded title from my mockup.  Should be based on what the User enters.

**[B]** Alignment should match what we did in eBook (using `<div>` instead of `&nbsp;`)

**[C]** Sub-heading needs to be capitalized like others

**[D]** Sub-heading should talk about Sc

[2017-09-28 16:29] daver78 opened #87 "[PAEB] Landing Page Welcome Page Love"
![image](https://user-images.githubusercontent.com/7561473/30978398-4ac40fe8-a42f-11e7-8a90-eefd06bc9312.png)

**[A]** This `<h>` should be pre-populated with the name of the eBook entered in Step 1 // _Can't do this.  Asked @paweenwich for help.  For now, I put some better default text._

**[B]** We need to replace this with a default image (like we did with Blog Post) (and the logo image may nee

[2017-09-28 16:34] daver78 opened #88 "[PAEB] Thank-you Page Love"
![image](https://user-images.githubusercontent.com/7561473/30978653-02213a4e-a430-11e7-9805-cf9d2a82ab78.png)

**[A]** Same issue as the previous page where log sits on top of text below it

**[B]** The name of the eBook needs to default to what the user entered in Step 1.  Right now it is hardcoded.

**[C]** Remove this for now (good feature, but we don't have it yet)

**[E]** User should be able

[2017-09-28 16:35] daver78 opened #89 "[PAEB] Dedupe Error when submitting landing page"
![image](https://user-images.githubusercontent.com/7561473/30978754-5707700a-a430-11e7-89ce-58b41faa58ed.png)

@paagla123 Is this what you were describing to me this morning?

[2017-09-28 16:37] daver78 opened #90 "[PAEB] Microsite landing page HTML should populate favicon"
![image](https://user-images.githubusercontent.com/7561473/30978856-acd6136a-a430-11e7-8456-9c97714edc1d.png)

Use the logo uploaded by the User.

[2017-09-28 16:42] daver78 opened #91 "[PAEB] Email #1 love"
![image](https://user-images.githubusercontent.com/7561473/30979029-310d6016-a431-11e7-9f9e-33ed45bfa2de.png)

**[A]** Text line needs to match what we did in Blog (size, length)

**[B]** The default text needs to be updated and informative for each email

**[C]** There probably should be a way to access the eBook again through the email.  Is that what this does?

[2017-09-28 16:43] daver78 opened #92 "[PAEB] Send-test success message needs love"
![image](https://user-images.githubusercontent.com/7561473/30979111-7fba1768-a431-11e7-9e0e-b8893baa010d.png)

[2017-09-28 16:45] daver78 opened #93 "[PAEB] Schedule and notifications UI needs love"
Should match what we did in Blog:

![image](https://user-images.githubusercontent.com/7561473/30979179-bb77824a-a431-11e7-8bec-21469ad8398c.png)

[2017-09-28 16:54] daver78 commented on #80
Created separate issues for this. No need for this one.

[2017-09-28 16:54] #80 closed

[2017-09-28 17:36] daver78 commented on #84
@paagla123 Done in `stage `branch.

[2017-09-28 18:27] daver78 commented on #86
After:

![image](https://user-images.githubusercontent.com/7561473/30983687-fc64eae6-a43f-11e7-8841-0f738633f3dc.png)

[2017-09-28 18:28] daver78 commented on #86
@paagla123 This is better than before, perhaps good enough for now.  The only one I did not do is [E].  That also remains open for PABP.

[2017-09-28 20:06] daver78 commented on #87
@paweenwich I notice that in the default content, we do this:

`"LANDINGPAGE-HERO-IMAGE": "<img src='https://s3.amazonaws.com/mindfiredavinci/img/My+Fantastic+eBook.png' class='img-responsive' border='0' style='display:block'>",
`
Did we find it necessary to embed HTML with that var as opposed to just the img location on S3? I'd rather put the styling attributes in the HTML template.  Let me know

[2017-09-28 20:18] daver78 commented on #87
Not great, but a bit better:

![image](https://user-images.githubusercontent.com/7561473/30988538-733616e0-a44f-11e7-91f0-041a9e17cacc.png)

[2017-09-28 20:22] paagla123 opened #94 "Audiences: The audience count in the audiences main page does not get updated when contact count changes"
We added 6 records to the audience in the screenshot below - still keeps saying 3 contacts, should be 9.
![image](https://user-images.githubusercontent.com/29718335/30988691-fab18564-a44f-11e7-99b7-f5796004eedb.png)

![image](https://user-images.githubusercontent.com/29718335/30988730-13d0a764-a450-11e7-9417-853df24415c6.png)

[2017-09-28 20:46] daver78 commented on #88
Here's how we look now:

![image](https://user-images.githubusercontent.com/7561473/30989697-6db19aec-a453-11e7-8f17-45ca8cf15c07.png)

[2017-09-28 20:55] daver78 opened #95 "Can LANDINGPAGE-TOP-TEXT support another var inside of it?"
@paweenwich In DB `master` document `Default_PromoteEbook`, I want this:

`LANDINGPAGE-TOP-TEXT: "{{URL-eBOOK-NAME}}"`

I tried this, but it doesn't seem to replace the `{{URL-eBOOK-NAME}}`.  Do we not support this?  Is there a way to easily fix, or a way around it?

If you need to assign this to someone else to answer, no problem.

[2017-09-28 21:04] daver78 opened #96 "[PAEB] Notify user that they can insert a Form"
@paagla123, when you first come to your welcome page as a virgin, it looks like this:

![image](https://user-images.githubusercontent.com/7561473/30990354-c6bee20a-a455-11e7-9241-0d71ecb920b2.png)

I think it would be good to see a silhouette (maybe red dashed lines or something) with the words "PICK A FORM USING THE DROPDOWN ABOVE" or something like that inside the `div class=well` on the right.

[2017-09-28 21:04] daver78 commented on #87
@paagla123 I'm going to stop on this one.  You can check and if OK we'll close it.

[2017-09-28 21:05] #70 closed

[2017-09-28 21:06] daver78 commented on #72
@paagla123 Will you give me a list of the ones you find, and how to get them to occur?

[2017-09-28 21:06] daver78 commented on #85
@paagla123 Done.  After you check, please close.

[2017-09-28 21:07] daver78 commented on #88
@paagla123 Done for now.  Please advise other changes we need, or close for now.

[2017-09-28 21:24] daver78 commented on #92
After:

![image](https://user-images.githubusercontent.com/7561473/30991138-af3225a4-a458-11e7-9ed1-ae5f449ada3f.png)

@paagla123 Any suggestions?  If not, and you're OK with it, please close.

[2017-09-28 21:26] paagla123 opened #97 "Blog: Email Schedule not updated correctly when published"
I set up a Blog email series (production - DaVinci - KD-0928-Blog-202), created the first two emails and published. After the emails were sent, I added a 3rd email. Schedule of the 3rd email was not set correctly.

If I set up all three emails together all three schedules are fine.

[2017-09-28 21:40] daver78 commented on #90
@paagla123 I did this by using the logo uploaded by the user --  but I'm not sure it is OK.

I forgot to consider that the icon needs to be like 16x16 or 32x32.  We should probably give the user a way to crop an image to that size based on their uploaded logo (eventually).

What do you think we should do for now?

[2017-09-28 22:02] daver78 commented on #81
After:

![image](https://user-images.githubusercontent.com/7561473/30992302-04813126-a45e-11e7-8608-dabafa3fb4cd.png)

@paagla123 If you're OK with this and it passes your smell test, please close.

[2017-09-28 22:47] daver78 commented on #83
@paagla123 OK, this one is done too.  After checking, please close unless some other issue.

[2017-09-29 10:29] AumpaiFung commented on #94
Fixed on Stage.

[2017-09-29 14:39] daver78 opened #98 "[PAEB] Missing div class=well around <form>"
Someone removed the div class=well around the form.  Who?  Was it for a specific reason or a mistake in the merge?

![image](https://user-images.githubusercontent.com/7561473/31020951-36bfef2a-a4e9-11e7-9889-b176420cfedd.png)

We need to fix this unless there is a technical reason we removed it.

[2017-09-29 15:09] daver78 commented on #98
@coa0329 it looks like you rolled back the updates I made in the `stage` branch to these templates.

Was it intentional?  Maybe I made some mistakes?

If not, you either didn't `git pull` when you started working or ignored the conflict message during the merge.

Can you let us know, and then fix if it was unintentional?

[2017-09-29 19:55] daver78 commented on #78
Adding to Kush doc.  Closing this for now.

[2017-09-29 19:55] #78 closed

[2017-09-30 01:19] coa0329 commented on #98
The code we pull from git stage branch does not show the template in dropdown template in welcome and thank you page on our local environment.

Jiew asks me to get the templates from stage server.

So I download them and they can show so I fix something then push them back to stage branch.

==========

What is the correct process to do in the future if something like this happen again ?

[2017-09-30 02:15] daver78 commented on #98
@coa0329 I left you a comment in the code.

[2017-09-30 02:32] coa0329 commented on #98
@daver78 How can I get the version your code from git ?

![154](https://user-images.githubusercontent.com/7914690/31041601-4113d3a4-a5c2-11e7-9624-9f9bcb3457a5.JPG)

[2017-09-30 02:40] daver78 commented on #98
![image](https://user-images.githubusercontent.com/7561473/31041664-176468ee-a54e-11e7-87c2-3a8e1467f3f0.png)

[2017-09-30 02:42] daver78 commented on #98
@coa0329 There are multiple ways, but from the view you were in, click on the commit ID (where I have the pink arrow).  That will show you what you checked in compared to what we had previously.  You can use what I had previously, and then debug to see if I broke the pull-down.

Let me know if I did something wrong.

@paagla123 Tagging you as FYI.

[2017-09-30 02:44] coa0329 commented on #98
How can I get all the EBOOK-LANDINGPAGE-COMPANY-THANKS.html of version 2c522d0 ?

[2017-09-30 02:46] daver78 commented on #98
![image](https://user-images.githubusercontent.com/7561473/31041698-cf1127f2-a54e-11e7-97cc-9efe6a6c100d.png)
@paagla123 FYI.

[2017-09-30 02:46] coa0329 commented on #98
@daver78 Got it. Thank you.

[2017-09-30 02:47] daver78 commented on #98
@coa0329 OK.  No prob.

[2017-09-30 15:52] daver78 commented on #61
@paagla123 Will you make sure people do this correctly?  As you can see from Friday's issue with the templates, it is important to do this so there is transparency and visibility for everyone.

[2017-09-30 15:52] daver78 commented on #59
@paagla123 I'm closing this.  If you find pages where it's not finished, please open a new issue.

[2017-09-30 15:52] #59 closed

[2017-09-30 15:54] daver78 commented on #9
@paagla123 and @paweenwich I'm closing this until we decide to re-assess this.

[2017-09-30 15:54] #9 closed

[2017-09-30 15:54] daver78 commented on #12
@paagla123 I'm closing this until you decide what you want to do here (if the current implementation is not enough).

[2017-09-30 15:54] #12 closed

[2017-09-30 15:55] daver78 commented on #13
@paagla123 I'm closing this since I completed it.  If you find somewhere I missed it, please advise.

[2017-09-30 15:55] #13 closed

[2017-09-30 15:55] daver78 commented on #18
@paagla123 and @paweenwich I'm closing this since I did it.

[2017-09-30 15:55] #18 closed

[2017-09-30 15:55] daver78 commented on #21
@paagla123 and @paweenwich Do you still need this?

[2017-09-30 15:56] daver78 commented on #25
@paagla123 I'm closing this.  If you find any issues, open a new Issue.

[2017-09-30 15:56] #25 closed

[2017-09-30 15:56] daver78 commented on #27
@paagla123 I'm closing this.

[2017-09-30 15:56] #27 closed

[2017-09-30 15:57] daver78 commented on #28
@paagla123 and @paweenwich I ended up doing this so that the switch accounts directive works.  Closing.

[2017-09-30 15:57] #28 closed

[2017-09-30 15:58] daver78 commented on #10
@paagla123 and @paweenwich This is something you can assign to @AumpaiFung?

[2017-09-30 15:59] daver78 commented on #19
@paagla123 I'm leaving this with you for now.  Many of the questions you asked me about where the code is etc are answered above.  Make sure to read.

[2017-09-30 16:00] daver78 commented on #55
@paagla123 Tender tag again.  Some open questions above.  I think this is between you and @AumpaiFung.

[2017-09-30 16:01] daver78 commented on #38
@paagla123 Is this still open?

[2017-09-30 16:01] daver78 commented on #31
@paagla123 This is waiting for your test still?

[2017-09-30 16:02] daver78 commented on #85
@paagla123 I'm going to close for now.  If you find an issue here, open something new k?

[2017-09-30 16:02] #85 closed

[2017-09-30 16:03] daver78 commented on #86
@paagla123 Closing this for now -- except that [E] remains open for both Blueprints.

[2017-09-30 16:03] #86 closed

[2017-09-30 16:04] daver78 commented on #84
@paagla123 Closing.  If you find an issue, re-open.

[2017-09-30 16:04] #84 closed

[2017-09-30 16:04] #79 closed

[2017-09-30 16:05] daver78 commented on #66
@paagla123 Closing.  If you find an issue, re-open.

[2017-09-30 16:05] #66 closed

[2017-09-30 16:05] daver78 commented on #75
@paagla123 Closing.  If you find problems, create new issue.

[2017-09-30 16:05] #75 closed

[2017-09-30 16:06] daver78 commented on #81
@paagla123 Closing for you.  Can't wait for sniff.  If you find an issue, create new issue.

[2017-09-30 16:06] #81 closed

[2017-09-30 16:06] daver78 commented on #17
@paagla123 I'm closing this.  If you find an issue with a virgin user, create new Issue.

[2017-09-30 16:06] #17 closed

[2017-09-30 16:07] daver78 commented on #67
@paagla123 Closing for now.  If you find an issue, open new issue.

[2017-09-30 16:07] #67 closed

[2017-09-30 16:07] daver78 commented on #68
@paagla123 Closing.

[2017-09-30 16:07] #68 closed

[2017-09-30 16:08] daver78 commented on #83
@paagla123 Closing for you.

[2017-09-30 16:08] #83 closed

[2017-09-30 16:08] daver78 commented on #57
@paagla123 I did this -- except that the Notifications little summary headline still doesn't work.  Need another issue for that.

[2017-09-30 16:08] #57 closed

[2017-09-30 16:10] daver78 commented on #76
@paagla123 and @paweenwich Is this still open?

[2017-09-30 16:11] daver78 commented on #50
@paagla123 Closing until it becomes a problem.

[2017-09-30 16:11] #50 closed

[2017-09-30 16:12] daver78 commented on #88
@paagla123 We can close this -- but see question about about website address.

[2017-09-30 16:12] daver78 commented on #87
@paagla123 I'm going to close it.

[2017-09-30 16:12] #87 closed

[2017-09-30 16:13] daver78 commented on #49
@paagla123 Closing for now.

[2017-09-30 16:13] #49 closed

[2017-09-30 16:14] daver78 commented on #51
@paagla123 Closing for now.  We will create specific issues once discussed between @paagla123 and @paweenwich and @coa0329.

[2017-09-30 16:14] #51 closed

[2017-09-30 16:15] daver78 commented on #69
@paagla123 never even noticed :( So closing for now unless there is an issue.

[2017-09-30 16:15] #69 closed

[2017-10-02 02:56] coa0329 commented on #98
I push Dave's template back to stage.

[2017-10-02 03:57] coa0329 commented on #98
Fung's code has <<<< in it. It make the html code broken.

[2017-10-02 03:58] paagla123 opened #99 "eBook Email to a Friend Link does not work"
_From @paagla123 on September 27, 2017 21:8_

_Copied from original issue: coa0329/Bhaang#134_

[2017-10-02 03:59] paagla123 opened #100 "Prepare assets for Kushal to run a "real" 'Promote a Blog Post' campaign."
_From @daver78 on September 13, 2017 13:20_

@Mcfarsheed, as discussed, I want you to have Kushal run one of your "Tuesday" content promotions.  He'll use the Blueprint to run it and thru that process, discover additional areas of polish that are required.

If he feels he needs another Campaign or two to continue improving things, we'll open up another issue.

If not, we'll then ask you to run a C

[2017-10-02 03:59] paagla123 commented on #100
@daver78 we need to get the MindFire logo back...
If this is for real we need to add daVinci to MindFire Master

[2017-10-02 03:59] paagla123 commented on #100
_From @daver78 on September 15, 2017 3:37_

@paagla123 I think you created an issue for allowing the User to upload their company logo.  Should resolve this, yes?

[2017-10-02 03:59] paagla123 commented on #100
@Mcfarsheed what's the plan here?

[2017-10-02 03:59] paagla123 commented on #100
_From @Mcfarsheed on September 26, 2017 22:30_

we were supposed to do it today but I dropped the ball on coordinating with
you. Can we do it next Tuesday? I have mostly everything ready, but just
got held up with trade show stuff.

I'll f/u with you directly to coordinate for next Tues.

Thanks!

Sincerely,

Mackenzi
MindFireInc.
949-842-4388
www.mindfireinc.com

On Tue, Sep 26, 2017 at 5:24 PM,

[2017-10-02 03:59] paagla123 commented on #100
@Mcfarsheed let's chat tomorrow

[2017-10-02 03:59] paagla123 commented on #100
_From @Mcfarsheed on September 27, 2017 1:58_

ok! I'll call you!

Sincerely,

Mackenzi
MindFireInc.
949-842-4388
www.mindfireinc.com

On Tue, Sep 26, 2017 at 6:20 PM, Paagla123 <notifications@github.com> wrote:

[2017-10-02 03:59] paagla123 commented on #100
For you @Mcfarsheed
https://youtu.be/-mVMvfqnUWs?t=45s

[2017-10-02 03:59] paagla123 commented on #100
_From @Mcfarsheed on September 27, 2017 15:35_

haha Kush!

Sincerely,

Mackenzi
MindFireInc.
949-842-4388
www.mindfireinc.com

On Tue, Sep 26, 2017 at 10:12 PM, Paagla123 <notifications@github.com>
wrote:

[2017-10-02 04:00] paagla123 opened #101 "eBook Auto publish happening even when there is no change"
_From @paagla123 on September 22, 2017 22:7_

@paweenwich may be you should do a hash comparison or something similar to evaluate anything has changed or not and then checkout and publish. Now the system publishes when I just click the save button, even if nothing has changed.
Also - no need to publish for content changes in S3 - right?

_Copied from original issue: coa0329/Bhaang#124_

[2017-10-02 04:00] paagla123 commented on #101
_From @paweenwich on September 26, 2017 2:48_

Ok, we will try to optimize the save/publish process.

[2017-10-02 04:00] paagla123 commented on #101
_From @daver78 on September 26, 2017 4:7_

@paagla123 and @paweenwich Are we publishing even for changes to S3 content?

[2017-10-02 04:00] paagla123 commented on #101
_From @paweenwich on September 26, 2017 6:8_

save optimized
(not save if no change)
 but still always publish and upload items to s3

[2017-10-02 04:00] paagla123 commented on #101
_From @paweenwich on September 26, 2017 9:14_

check in optimized done
(not check in if MAML is not differ than previous one)
but still always upload item to S3

[2017-10-02 04:00] paagla123 commented on #101
_From @paweenwich on September 26, 2017 10:30_

Finally, all done.

[2017-10-02 04:00] paagla123 commented on #101
@paweenwich it seems you have stopped publish, but you are still enabling edit.

[2017-10-02 04:00] paagla123 commented on #101
@paweenwich you are enabling edit first, then checking the content and deciding not to publish if there is no change. In the process the MAML is left checked out. You should either not check it out at all (if possible), or if you decide not to publish, undo changes.

[2017-10-02 04:00] paagla123 commented on #101
_From @coa0329 on September 28, 2017 10:26_

@paweenwich fixed it.

[2017-10-02 04:01] paagla123 opened #102 "eBook Emails need their own template (subject says BLOG POST - should say eBook)"
_From @paagla123 on September 22, 2017 21:32_

See screenshot below: both emails please.
![image](https://user-images.githubusercontent.com/29718335/30765116-c490569c-9fa2-11e7-9a0c-bdf148a24275.png)

_Copied from original issue: coa0329/Bhaang#121_

[2017-10-02 04:01] paagla123 commented on #102
_From @daver78 on September 22, 2017 21:41_

@paagla123 This isn't a bug -- we need a task to edit the default content for this blueprint (comprehensively).

If you want, assign it to me and I'll do it -- or would be great if you can do it this go-around.

[2017-10-02 04:01] paagla123 commented on #102
_From @paweenwich on September 26, 2017 2:52_

@paagla123 @daver78  I need a direction on this one.  Right now, we shared the email template for all blueprints.  So, if we keep doing this, the template content should be generic (not specific to any blue print).    Or

We make template to be blueprint dependent.  This way, the template can be more specific, however, we lost share ability.

Any sugg

[2017-10-02 04:01] paagla123 commented on #102
@paweenwich @daver78 I am pretty clear here - email template should be blueprint specific.

[2017-10-02 04:01] paagla123 commented on #102
@paweenwich please help me find the location where the default content for the eBook are kept - I ran out of time today, but I'd like to change them. Thank you.

[2017-10-02 04:01] paagla123 commented on #102
_From @coa0329 on September 27, 2017 1:36_

PromoteBlog
emails templates
BhaangWeb/html/admin/templates/emails/BLOG-COMPANY-EMAIL.html
BhaangWeb/html/admin/templates/emails/BLOG-PLAIN-EMAIL.html

Default value
http://162.243.155.57:5985/_utils/document.html?master/Default_PromoteBlog

================
eBook

emails templates
BhaangWeb/html/admin/templates/emails/EBOOK-COMPANY-EMAIL.html
BhaangWeb/

[2017-10-02 04:01] paagla123 commented on #102
_From @paweenwich on September 27, 2017 2:4_

@paagla123, A few thing that you need to know
1) [[REMOVE xxxx   ]]
This will exclude xxxx from Davinci view/editor, but keeping it for final render (email/landing page).
*after REMOVE need one more space

For example.
[code]

Davinci edit will not see <HTML><HEAD> ...

2) {{RAW FIELD_NAME}}
This will render value in FIELD_NAME with out doing any HTML

[2017-10-02 04:01] paagla123 commented on #102
_From @daver78 on September 27, 2017 3:2_

@paagla123 Are you going to make edits?  You comfortable with your environment + git?

[2017-10-02 13:46] daver78 commented on #98
@coa0329 and @AumpaiFung That means that when you or @paweenwich did the merge, you ignored the conflict.  You need to resolve the conflict in the merge.

Git uses the <<<< to mark the changes for you so you can figure out how to resolve the conflict.

[2017-10-02 15:47] daver78 commented on #102
@paagla123 Are you asking for me to do something here?

[2017-10-02 15:48] daver78 commented on #100
@paagla123 Looks like Mac isn't invited to participate in this repo.  @coa0329 Can you invite her?

[2017-10-02 15:48] daver78 commented on #95
@paagla123 Can you ask @paweenwich tonight?

[2017-10-02 15:49] daver78 commented on #92
@paagla123 I'm closing this for now.  Recall that this is an area where we have duplicity in our code.

[2017-10-02 15:49] #92 closed

[2017-10-02 15:49] daver78 commented on #90
@paagla123 Let me know re: above.

[2017-10-02 15:50] daver78 commented on #61
@paagla123 Can you and @paweenwich confirm we're doing this now?  As you can see from some of the recent commit issues, this will help us stay on track.

[2017-10-02 15:51] daver78 commented on #21
@paagla123 and @paweenwich I'm closing this since no response.

[2017-10-02 15:51] #21 closed

[2017-10-02 15:52] daver78 commented on #40
@coa0329 Looks like it was a permissions issue in my dev env.  Closing.

[2017-10-02 15:52] #40 closed

[2017-10-02 15:53] daver78 commented on #88
@paagla123 Closing this -- but see above question about website address var.  Add issue if you agree, ok?

[2017-10-02 15:53] #88 closed

[2017-10-02 23:04] paagla123 commented on #88
@daver78 got it

[2017-10-02 23:05] paagla123 commented on #21
@daver78 were ok thanks

[2017-10-02 23:06] paagla123 commented on #61
@coa0329 @AumpaiFung @jiewsone - can all of you please add a comment on this issue to let us know if this is being followed? I will close the issue once I get YES from everyone. Thx

[2017-10-02 23:09] paagla123 commented on #90
@daver78 OK agreed
@coa0329 do you need to add a variable in the MAML to hold the a link to this image?

[2017-10-02 23:11] paagla123 commented on #92
@daver78 this is good - thanks. I will wait for @paweenwich to get back before discussing duplicity. Also - have you looked at the published and failed to publish pop-ups?

[2017-10-02 23:15] paagla123 commented on #100
@coa0329 can you please add mcfarsheed as well as Khalessi@mindfireinc.com to the BhangWeb repo? Thx

[2017-10-02 23:16] paagla123 commented on #102
No @daver78 - this is a reminder for me to update the content

[2017-10-02 23:20] Mcfarsheed commented on #100
Thanks -- also Kush and I have discussed what he needs to run the real
post, he'll do a podcast/blog post this Thurs and I'll provide him
everything by tomorrow!

Sincerely,

Mackenzi
MindFireInc.
949-842-4388
www.mindfireinc.com

On Mon, Oct 2, 2017 at 8:48 AM, daver78 <notifications@github.com> wrote:

[2017-10-02 23:20] paagla123 commented on #98
@coa0329 @daver78 what is the status here - do we still have the broken code?

[2017-10-02 23:24] paagla123 opened #103 "eBook - the URL based content needs to be adjusted to make it work with the form post in Welcome page"
_From @paagla123 on September 28, 2017 23:12_

@paweenwich let's review this over GoToMeeting today - Thx

_Copied from original issue: coa0329/Bhaang#143_

[2017-10-02 23:24] paagla123 commented on #103
@paweenwich @coa0329

 - look at the code in lines 36-61 in the attached. This part is created by Studio. I believe we are missing this part when we are creating the MAML, which is causing the form data to not post. Pl let me know what you guys think. Thanks - Kushal
[SampleFormforMAMLs.maml.txt](https://github.com/coa0329/Bhaang/files/1347849/SampleFormforMAMLs.maml.txt)

           < Form>

[2017-10-02 23:58] paagla123 commented on #49
@daver78 these are all caused by moving issues from old repo to the new one.

[2017-10-03 00:10] paagla123 commented on #87
@daver78 its ok to keep this closed. I believe there is a duplicate issue open. I will open issue with specific questions, if I have any.

[2017-10-03 00:11] paagla123 commented on #76
@daver78 I believe still open

[2017-10-03 00:11] paagla123 commented on #57
@daver78 I will test and open new issue

[2017-10-03 00:15] paagla123 commented on #66
@daver78 this is in Staging now

[2017-10-03 00:16] paagla123 commented on #86
@daver78 I will test and open a new issue

[2017-10-03 00:18] paagla123 commented on #31
@daver78 yes.

[2017-10-03 00:19] paagla123 commented on #38
@daver78 unsubscribe is still open. Let me close this one and open a new one for unsubscribe

[2017-10-03 00:19] #38 closed

[2017-10-03 00:21] paagla123 commented on #55
@daver78 hmmmmm.....!

There are a lot of questions, but good ones. I will have to think through them.

[2017-10-03 00:22] paagla123 commented on #19
@daver78 yes.

[2017-10-03 00:24] paagla123 commented on #10
@daver78 @paweenwich I believe we will need to have these top to bottom - that's kind of how all modern UI's seem to work - right?

[2017-10-03 00:26] paagla123 commented on #9
@paweenwich @daver78 don;t we have this issue elsewhere?

[2017-10-03 00:29] daver78 commented on #66
Well yes. But also in production. Was last week :)

On Mon, Oct 2, 2017 at 8:15 PM Paagla123 <notifications@github.com> wrote:

--
Sent from within an Apple iCar beta

[2017-10-03 00:30] paagla123 commented on #94
Fixed - closing

[2017-10-03 00:30] #94 closed

[2017-10-03 00:32] paagla123 commented on #72
@daver78 here goes:
1) Success sending test email, which you already did.
2) PUBLISH SUCCESS when we successfully publish a campaign
3) Failure to publish when we have a problem in Studio

[2017-10-03 00:34] paagla123 commented on #93
@daver78 what is the issue here - this seems ok to me - right?

[2017-10-03 00:36] paagla123 commented on #89
@daver78 details are in issue #103 . Closing this one.

[2017-10-03 00:36] #89 closed

[2017-10-03 00:36] coa0329 commented on #100
I send invite to @mcfarsheed.

What is github if for Khalessi@mindfireinc.com ?

[2017-10-03 00:37] paagla123 commented on #82
@daver78 we can discuss. I kind of like it this way - gives you a clear idea of how many steps are there before you get done.

[2017-10-03 00:38] paagla123 commented on #100
@coa0329 thank you. I will find out re Kathy.

[2017-10-03 00:38] daver78 commented on #82
Ok u changed your mind? On Friday you liked it.

On Mon, Oct 2, 2017 at 8:37 PM Paagla123 <notifications@github.com> wrote:

--
Sent from within an Apple iCar beta

[2017-10-03 00:43] paagla123 commented on #77
@daver78 right now the MAML template sends it to the sender. If we want to change that, we will need to open up another content variable. Thx

[2017-10-03 00:43] coa0329 commented on #98
No, we don't have the broken code.

[2017-10-03 00:46] paagla123 commented on #98
@coa0329 so are we able to close this issue now?

[2017-10-03 00:47] paagla123 commented on #82
@daver78 I have been thinking - don't you think showing all the steps may be helpful?

[2017-10-03 00:48] paagla123 commented on #99
@daver78 based on your latest Thank you page, we no longer need this. So closing.

[2017-10-03 00:48] #99 closed

[2017-10-03 00:49] coa0329 commented on #98
Yes we can close it.

[2017-10-03 01:01] coa0329 commented on #90
Should we allow user to upload favicon in setting ? Then we add defCompanyFavicon to keep the link.

We can put <link rel="shortcut icon" type="image/png" href="{{defCompanyFavicon}}"/> in the template,

[2017-10-03 01:02] coa0329 commented on #90
Should we allow user to upload favicon in setting ? Then we add defCompanyFavicon to keep the link.

We can put it in the link in the template,

[2017-10-03 01:04] coa0329 commented on #76
Still open wait for @paweenwich to check,

[2017-10-03 01:04] paagla123 opened #104 "Automate testing of daVinci"
@daver78 I see Protractor - is that what you were referring to? http://www.protractortest.org/#/

[2017-10-03 02:19] #98 closed

[2017-10-03 02:24] paagla123 commented on #104
@coa0329 please send invitation to kkhalessi
k.khalessi@gmail.com
to join BhaangWeb - she will be automating the testing. Thx

[2017-10-03 02:43] jiewsone commented on #61
Yes. #61

[2017-10-03 02:53] coa0329 commented on #104
I get this message ->

    k.khalessi@gmail.com doesn’t have a GitHub account

[2017-10-03 02:54] coa0329 commented on #61
YES

[2017-10-03 03:19] coa0329 commented on #95
It doesn't render in davinci.

![170](https://user-images.githubusercontent.com/7914690/31108551-4062602e-a824-11e7-969d-8222a0d27aa3.JPG)

But it will render when user visit welcome page.

![171](https://user-images.githubusercontent.com/7914690/31108567-4d751482-a824-11e7-92b5-c8ac83c27978.JPG)

[2017-10-03 04:16] AumpaiFung commented on #61
yes

[2017-10-03 08:35] jiewsone commented on #36
Fixed on stage.

[2017-10-03 18:14] #61 closed

[2017-10-03 18:17] #36 closed

[2017-10-03 18:22] paagla123 commented on #56
@coa0329 Can you please assign to someone to fix the hardcoded subject line in the 4th step of the blog?

[2017-10-03 18:48] paagla123 commented on #97
@coa0329 Please assign someone to fix this.
I have set up the schedule for the first two emails and published. the 3rd email shows a schedule of 10/7/17 @ 12:00AM - should be 1/1/50 @ 8AM.
If I only set up the schedule for the first email, then both second and third emails correctly show their schedule as 1/1//50.

[2017-10-03 18:52] paagla123 commented on #62
@coa0329 can you please assign some one to this?

[2017-10-03 18:54] paagla123 commented on #77
@daver78 we should discuss this.

[2017-10-03 18:56] paagla123 commented on #33
@coa0329 can you please assign someone to do this?

[2017-10-03 19:24] paagla123 commented on #24
This is fixed and closed

[2017-10-03 19:24] #24 closed

[2017-10-03 19:28] paagla123 opened #105 "[eBook] Download.html page does not link to eBook content"
I have created the eBook campaign KD-1003-eBook-003.  The eBook has been uploaded to the following location: https://bkktest.s3.amazonaws.com/tmp/eBOOK-3a997cf3-4a5f-4ce1-8b35-7017f56ccc6e.pdf

The download link from the download.html page should href to this location - it does not. See screenshot below.
![image](https://user-images.githubusercontent.com/29718335/31144720-65727d38-a836-11e7-963f-6

[2017-10-03 19:43] paagla123 opened #106 "[eBook] Triggered emails are not being sent out when the Welcome page has been visited or the eBook downnload link has been clicked in the Download page"
I believe this is because the ##fromemail## variable is not being set in Studio. It is set in couchDB, but somehow not making it to Studio.
@coa0329 @jiewsone please get this fixed asap.

[2017-10-03 19:51] paagla123 opened #107 "[eBook] Configure Notification and Alerts section always has the same header"
Pl see screenshot below

![image](https://user-images.githubusercontent.com/29718335/31145721-6fad5be4-a839-11e7-8aa2-992359d2aaa2.png)

[2017-10-03 19:54] paagla123 commented on #101
Fixed - closing it

[2017-10-03 19:54] #101 closed

[2017-10-03 19:57] paagla123 commented on #90
I see a favicon now, I believe it is the logo. @daver was that the intention?

![image](https://user-images.githubusercontent.com/29718335/31146082-546e7e34-a83a-11e7-96f7-d51484bde99e.png)

[2017-10-03 20:05] paagla123 commented on #95
That is correct. @daver78 I tested this, works as stated by @coa0329 . What would you like to do here?

[2017-10-03 20:15] paagla123 commented on #60
@daver78 I have never seen this error. Will try to reproduce.

[2017-10-03 20:17] paagla123 commented on #52
@coa0329 can we please assign someone to this and evaluate the effort?

[2017-10-03 20:18] paagla123 commented on #45
This has been implemented quite well now, I am closing it.

[2017-10-03 20:18] #45 closed

[2017-10-03 23:56] paagla123 opened #108 "Left Navigation Bar on left not frozen in some screens"
Following screens have navbar scrolling - need to be made static:
Asset Library
@coa0329 please assign someone and get this done.

[2017-10-04 00:06] paagla123 opened #109 "Create a structure for Asset Library in S3 and start reading and writing to it from daVinci system"
S3 main bucket: DV-DAM-<AccountName>
Sub folders:
Uploads
Images
HTML Emails
HRML Pages
eBoooks
Videos
Blueprint Defaults

When a page or email is saved from a daVinci campaign, save the html in the appropriate folder. We should have a checkbox to indicate if it should be saved or not. Name should be concatenation of account and page name / email subject line

[2017-10-04 00:09] paagla123 commented on #109
For emaails, there should be ways to read images and entire emails from asset library as shown in screenshot below.
![image](https://user-images.githubusercontent.com/29718335/31154666-828cc8a2-a85d-11e7-84d6-e522a5d01a9c.png)

[2017-10-04 00:13] paagla123 commented on #109
For landing pages there should be an option to read existing pages that were previously saved or from images/videos etc.
![image](https://user-images.githubusercontent.com/29718335/31154732-fedb43c0-a85d-11e7-9041-181c923a16db.png)

[2017-10-04 00:16] paagla123 commented on #109
@daver78 can you pl review the overall direction?

[2017-10-04 00:23] paagla123 commented on #43
DaVinci Main Screen, click on Get Started option
![image](https://user-images.githubusercontent.com/29718335/31154883-fd35d462-a85e-11e7-895e-d380340444d6.png)

Sign up with Google or Facebook or LinkedIn - or manually by inputting Company name, first and last names, email and choose a password.
The system should go through a email validation process first.

[2017-10-04 00:46] coa0329 commented on #56
@jiewsone will fix this.

[2017-10-04 00:47] coa0329 commented on #62
@jiewsone will fix this

[2017-10-04 00:48] coa0329 commented on #52
@AumpaiFung will fix this

[2017-10-04 03:49] coa0329 commented on #105
I cannot repeat it.

This is the link I get when I click that button :

http://dv16916.m.mdl.io/redirect?SessionGuid=cac936cb-bced-4fb2-9182-6174fb90f343&url=https://bkktest.s3.amazonaws.com/tmp/eBOOK-3a997cf3-4a5f-4ce1-8b35-7017f56ccc6e.pdf

And I can download that file.

[2017-10-04 04:27] paagla123 commented on #105
@coa0329 you are right. This works. Its a little confusing - @daver78 can we please discuss this user interface?

[2017-10-04 04:54] #97 closed

[2017-10-04 04:59] paagla123 commented on #90
@daver78 are you ok with this or do we need a different image for the Favicon?

[2017-10-04 07:31] coa0329 commented on #106
Fixed on stage.

[2017-10-04 07:34] coa0329 commented on #33
Fixed on stage.

Blog : Send user to blog post url with utm params.
eBook : Send user to the landing page.

[2017-10-04 08:04] AumpaiFung commented on #108
Stage fixed.

[2017-10-04 08:43] jiewsone commented on #107
Fixed on stage.

[2017-10-04 08:47] jiewsone commented on #56
Fixed on stage with issue #107

[2017-10-04 09:35] jiewsone commented on #62
I try to change Campaign Name label to editable on my local but I have css problem like this
![campaign-name](https://user-images.githubusercontent.com/30495168/31168836-f6855e0e-a920-11e7-943e-054724b94a26.JPG)
![campaign-name2](https://user-images.githubusercontent.com/30495168/31168889-2ad44256-a921-11e7-80e0-c6e69c948aa3.JPG)
@daver78  Dave, Could you please change it before? Then I will inser

[2017-10-04 14:27] paagla123 commented on #62
@jiewsone I am not sure exactly what you want. I see that you have a CSS problem. What is teh nature of the problem and what would you like from @daver78 ?

[2017-10-04 17:19] paagla123 opened #110 "Please add MindFire Master Account to DaVinci"
Guid:   1d2a1768_e1a9_4a25_96ad_eaac7a7979c9
Password: 20a76a7a-1a3c-424D-9e64-9746A8353777

[2017-10-04 17:27] paagla123 commented on #110
Never mind - its already there

[2017-10-04 17:27] #110 closed

[2017-10-04 17:45] paagla123 commented on #104
@coa0329 pl see below kkhalessi is git user. Thx
![image](https://user-images.githubusercontent.com/29718335/31190810-130fea88-a8f1-11e7-83cb-a991970fca8e.png)

[2017-10-04 19:27] paagla123 commented on #108
Fixed in Stage

[2017-10-04 19:27] #108 closed

[2017-10-04 19:34] paagla123 opened #111 "[eBook] MAML gets published even before all steps of the accordion have a green check mark each"
The MAML is published at this time, although not all steps in the daVinci campaign have a green checkmark each.

![image](https://user-images.githubusercontent.com/29718335/31195795-4832d784-a900-11e7-82ce-f619761a9d04.png)

[2017-10-04 19:36] paagla123 commented on #107
Tested OK on Stage

[2017-10-04 19:36] #107 closed

[2017-10-04 19:44] #105 closed

[2017-10-04 19:44] #90 closed

[2017-10-04 19:54] paagla123 commented on #56
Fixed in Stage

[2017-10-04 19:54] #56 closed

[2017-10-04 19:57] paagla123 commented on #106
Fixed on stage

[2017-10-04 19:57] #106 closed

[2017-10-04 20:04] paagla123 commented on #62
@jiewsone please note that @daver78 is at a Trade Show and may not be able to work on this for a while. He suggested that it may be faster if you go through his code - it should be pretty straightforward for you to figure out. Please also review the code where we change the email subject. Thanks

[2017-10-04 20:26] paagla123 opened #112 "[Blog] I only created 2 of 3 emails and scheduled them, but daVinci scheduled all 3 emails"
Check campaign KD-1004-Blog-002 please

[2017-10-04 20:33] paagla123 opened #113 "[Audience] Browse Contacts does not work correctly"
Account is daVinci - when I click on "See All My Contacts" it brings up a blank list - opens in a different tab.

When I click on a segment to view the contacts that belong to a segment that the list opens up the list, but in the same tab. It used to open in a different tab. Someone broke it!

[2017-10-04 20:45] paagla123 commented on #104
@coa0329 looks like she has access - so thank you.

[2017-10-04 20:49] paagla123 commented on #104
@kkhalessi please look at Karma, Jasmine and Protractor for angularjs testing and watch the tutorials. We can discuss then pros and cons of each and pick one for our testing

[2017-10-04 20:51] paagla123 commented on #104
@kkhalessi do you see this?

[2017-10-04 21:41] paagla123 opened #114 "[Email Footer] does not pull from latest content in settings section"
Once the campaign is saved (not launched), the email footer content does not change even if we change the settings. Of course if it is launched, it cannot change. @daver78 @paweenwich we need to discuss this - what is the right thing to do here?

[2017-10-04 21:51] paagla123 opened #115 "[Audience] Error in viewing contacts"
In staging under acct MindFire Master, when I try to view contacts belonging to segment "MacKenzi's Customer List" I get the following error. Clicking OK twice, we get the list.
![image](https://user-images.githubusercontent.com/29718335/31201335-2a6b533a-a913-11e7-8f38-fdb3154a649c.png)

[2017-10-04 21:55] paagla123 opened #116 "[Audience] Retrieval of large sized audience too slow"
Under Account MindFire Master, Mackenzi's Prospect list last over 44,000 contacts - takes a long time to retrieve.  We need to discuss how to approach this - I suggest we paginate the retrieval and display how Ton did it for Salem CRM.

[2017-10-04 22:00] paagla123 opened #117 "BACKLOG: [Blog] Need to provide different UTM's for the links from Hero Image and the Button"

[2017-10-04 22:01] paagla123 opened #118 "[Blog] Need to be able to change background color for the CTA button"

[2017-10-04 22:03] paagla123 opened #119 "[Blog] Need option to adjust font of text"
Eventually I adjusted font in MS Word and then copied and pasted.

[2017-10-04 22:16] paagla123 opened #120 "[Blog and eBook] Email unsubscribe link does not work"
This one is URGENT! Needs to be handled in Staging today.

Please href to Studio's default unsubscribe link
href="##Unsubscribe RedirectURL="http://studio.m.mdl.io/unsubscribe" ##"
Unless a link is already provided in the settings section Unsubscribe field, in which case use the link from settings. We need to make sure the link works.

If in settings only the page name (e.g. remove.html) is provid

[2017-10-04 22:21] daver78 commented on #115
Assign to Coa. He knows datatables. I can help if necessary.

On Wed, Oct 4, 2017 at 6:16 PM Paagla123 <notifications@github.com> wrote:

--
-dr-

*PS*:  *Are you an auditory learner?  Weekly, we bring you the latest
strategies for using multi-channel marketing automation to boost leads &
sales <http://bit.ly/PixelsAndInk>.  From the industry's top sales &
marketing minds, you’ll hear what’s worki

[2017-10-04 22:23] paagla123 opened #121 "Program Name Too Long Error"
I got this error at the end when launching the program - should get it right at the beginning when we enter the name. Perhaps have a character counter like in LWC SMS

[2017-10-04 22:55] paagla123 opened #122 "[Blog] When we copy from previous email - we need to copy the subject as well"

[2017-10-04 22:56] paagla123 opened #123 "[Blog] UTM string got removed when using shortened URL to Blog"
Shortened URL pointing to Blog when expanded eliminated the UTM string. We need to discuss our strategy of using shortened URLs

[2017-10-04 22:58] paagla123 opened #124 "[Blog] Additional Email templates requested"
Mac has requested additional templates with (1) No logo at the top, (2) button centered

[2017-10-05 00:25] daver78 commented on #124
@paagla123 Good idea.  Let's assign this to one person.  Who is the owner?

[2017-10-05 00:26] daver78 commented on #123
@paagla123 Is this specific to DV/Studio -- or does it happen in general?

[2017-10-05 00:28] daver78 commented on #122
@paagla123 Agreed.  Removing me from assignees so my discrete tasks are clear.  Add me back if you need me to do something.

[2017-10-05 00:30] paagla123 opened #125 "[Direct Mail] Integration of daVinci to Direct Mail"
@daver78 @paweenwich I am just adding this issue - we need to address this pretty soon.

[2017-10-05 00:30] coa0329 commented on #104
I send the invite to @kkhalessi

[2017-10-05 00:34] daver78 commented on #121
@paagla123 Great idea.  If I recall Studio limit is 50 chars -- but do we need some chars for our own internal DV naming structure?

For now, please assign to someone to limit the # of chars that can be put into the field for both PABP and PAEB.

If someone has time, they should find the angularjs way of showing chars remaining (should be easy).

[2017-10-05 00:34] daver78 commented on #120
@paagla123 Removing me from assignees so my discrete tasks are clear.  Add me back if you need me to do something.

[2017-10-05 00:35] daver78 commented on #115
@paagla123 and @coa0329 By the way, I noticed we used datatables for Jquery.  Did you also evaluate using the version for angularjs and decide it wasn't a good fit?  Or did you use the one for jquery because you're more familiar with it?

[2017-10-05 00:38] daver78 commented on #119
@paagla123 by Font you mean style or size?

If one of those is missing, it should be turned on in `summernote`.  I forget where the config is set but @coa0329 should be able to find it.

[2017-10-05 00:39] daver78 commented on #118
@paagla123 Agreed.

Opinion: This should be set globally (set once and forget), or configurable p/email?

What say you?

[2017-10-05 00:39] daver78 commented on #117
@paagla123 Nice touch.  Will be good for marketer to be able to measure this.

We also need to add this to reporting in a simple and meaningful way.  I have some ideas.

[2017-10-05 00:41] daver78 commented on #116
@paagla123 Where are you talking about?

Do you mean getting the count takes a long time, or displaying the list of actual Contacts?

If it's the actual Contacts, this is why I asked if we were pulling from DW instead of OD.  I believe with DW we can paginate, but OD we do not.  I could be wrong, however.

[2017-10-05 00:44] daver78 commented on #114
@paagla123 I don't understand what you mean "_of course if it is launched, it cannot change._"

Why not?  This is the beauty of URL-based content.  It should update everywhere regardless of whether we've hit the launch button.

Maybe you mean if the email is already in the inbox of the person, we can't change it at that point?

If that's the concern, we could still change it, but that would requir

[2017-10-05 00:46] paagla123 commented on #123
@daver78 Saw this with DV so far. I imagine if it happened in general Mac would have complained by now.

[2017-10-05 00:46] daver78 commented on #104
@paagla123 Where are you going to start with this?  I still don't see Kathi in here?

[2017-10-05 00:47] paagla123 commented on #114
@daver78 launched means email already sent. We don;t need to worry about that. Only when it is still not sent we should pull the latest.

[2017-10-05 00:48] daver78 commented on #123
@paagla123 Hmmm.  Would be interesting to verify that.  How come I can't tag Mac in here?  Did we not invite her?

[2017-10-05 00:48] paagla123 commented on #104
She's here - has access. I checked today

[2017-10-05 00:48] daver78 commented on #114
@paagla123 Got it.  Are we not using URL-based content for this portion?

[2017-10-05 00:49] paagla123 commented on #116
@daver78 getting count is fast. Displaying the list is slow, and for 40,000+ I assume it times out, because nothing shows up

[2017-10-05 00:49] daver78 commented on #125
@paagla123 Amen brother.  Next time we speak f2f let's review our respective positions on this.  I'm thinking of using Lob @ first (I know that is heresy), but I have my reasons.

Thx for opening the issue.  Very important.

[2017-10-05 00:50] paagla123 commented on #114
@daver78 Yes we are - guess we're not updating it

[2017-10-05 00:50] coa0329 commented on #123
![157](https://user-images.githubusercontent.com/7914690/31206397-c40f33ce-a9a1-11e7-9a8c-1fa6beaf3092.JPG)

They are invited. Waiting for them to accept.

[2017-10-05 00:51] daver78 commented on #116
@paagla123 I don't think the REST times out, but I seem to recall there is a `datatables` optimization for this.  @coa0329 may know, or can look into it.

That said, pagination would be better.  Do you recall if we paginate responses from DW?

[2017-10-05 00:51] paagla123 commented on #123
@coa0329 send me the invite links please.

[2017-10-05 00:52] paagla123 commented on #118
@daver78 per email will be better.

[2017-10-05 00:52] paagla123 commented on #119
@daver78 both style and size

[2017-10-05 00:53] paagla123 commented on #124
@daver78 I will be.

[2017-10-05 00:55] daver78 commented on #119
@paagla123 OK then I must have forgotten to turn it on in `air` mode.  @coa0329 should be able to figure that out.

[2017-10-05 00:56] daver78 commented on #118
@paagla123 How about you set it globally as your default.  Think of it is as your global "style guide".  Set once, forget about it.

However, at the individual email level, you can override it if you need to.

Is that OK?

That said, you should ask Mac.  Does she, as the user, want to change the color from email to email?

I wish I could tag her in here!

[2017-10-05 00:59] daver78 commented on #56
@paagla123 Forgive me I haven't checked -- but this portion is in both blueprints.  Did @jiewsone  fix it both places?

[2017-10-05 01:03] coa0329 commented on #116
I use GetContactList api. Where does it get data from DW or OD ?

=====

I get this error "ERR_EMPTY_RESPONSE" from getContact.php. It may be time out. I will increase it.

[2017-10-05 01:04] daver78 commented on #116
@coa0329 Ahh, it could be the `php` timeout.  if the endpoint is something like `/REST/getContactList` then that's OD, not DW.

[2017-10-05 01:06] coa0329 commented on #123
This is the link when I click "Copy invite link"

https://github.com/coa0329/BhaangWeb/invitations

[2017-10-05 01:07] coa0329 commented on #119
@jiewsone will check it.

[2017-10-05 01:09] coa0329 commented on #122
@jiewsone will fix this.

[2017-10-05 01:11] coa0329 commented on #56
Yes, @jiewsone fix them both.

[2017-10-05 01:19] coa0329 commented on #113
https://github.com/coa0329/BhaangWeb/commit/f1ae3bc6b3813faa19e302bcf8cfc347297490a1?diff=unified

target="_blank" was removed from the code.

[2017-10-05 01:23] coa0329 commented on #115
I am more familiar with it,

[2017-10-05 01:45] daver78 commented on #113
@paagla123 Ah now someone is learning to use `git` :)

No, it wasn't broken, I removed it about 2 weeks ago.  I tagged you in the issue and you didn't find a prob with it.  We can easily change it back -- but why do you feel it needs to be new window?

[2017-10-05 05:02] paagla123 commented on #113
@daver78  Not a new window - new tab.
Because it is not part of the application - its just a spreadsheet - data.
Should stay out of the application flow.

[2017-10-05 05:05] #33 closed

[2017-10-05 05:47] paagla123 commented on #56
@daver78 yep

[2017-10-05 05:49] paagla123 commented on #118
OOK

[2017-10-05 09:19] coa0329 commented on #112
@paagla123

Fixed on stage.

[2017-10-05 09:39] coa0329 commented on #120
@paagla123

Fixed on stage.

I set the value of defUnsubscribe variable to be
##Unsubscribe RedirectURL="http://studio.m.mdl.io/unsubscribe"##
in all accounts.

[2017-10-05 10:02] AumpaiFung commented on #52
@paagla123  Stage fixed.

NOTE:
1. If have not choose any audience, system will use default-filter (is seed).
2. Amount of people is not real-times sync, maybe sometimes it's will not the same.

[2017-10-05 10:50] jiewsone commented on #121
Fixed on stage.

[2017-10-05 10:50] jiewsone commented on #62
Fixed on stage.

[2017-10-05 14:54] paagla123 commented on #62
Ooh - works great - thank you

[2017-10-05 14:54] #62 closed

[2017-10-05 14:56] paagla123 commented on #121
Works as well - not allowed to enter more than 50 characters
@daver78 we're probably going to need some love here in terms of error messages. Pl take a look and let me know, we can create a new issue.

[2017-10-05 14:56] #121 closed

[2017-10-05 14:57] paagla123 commented on #52
Perfect

[2017-10-05 14:57] #52 closed

[2017-10-05 17:34] Mcfarsheed commented on #100
I accepted!

Sincerely,

Mackenzi
MindFireInc.
949-842-4388
www.mindfireinc.com

On Mon, Oct 2, 2017 at 5:36 PM, Coa <notifications@github.com> wrote:

[2017-10-05 18:50] paagla123 opened #126 "When I duplicate a campaign, it is not pulling the latest information from settings tab into footer"
I published a program, changed company address and unsubscribe link in settings tab and saved. When I duplicate the program, the new program should have the new information from the settings tab.

[2017-10-05 19:17] paagla123 commented on #120
Works now - thanks

[2017-10-05 19:17] #120 closed

[2017-10-05 19:18] paagla123 commented on #112
Works thanks

[2017-10-05 19:18] #112 closed

[2017-10-05 19:28] paagla123 commented on #122
@coa0329 I am reopening this issue. Problem is, when you copy an email in the Blog, the subject is copied in DaVinci, but when published, Studio does not have the subject unless you copy and paste the subject explicitly.  See Email3 of DaVinci "Campaign Enrollment Services PODCast - Seed v3".
Screenshot of Email3 from DV - has correct subject:
![image](https://user-images.githubusercontent.com/297

[2017-10-05 19:35] paagla123 commented on #100
Done!

[2017-10-05 19:35] #100 closed

[2017-10-05 20:39] paagla123 opened #127 "[PABP] Give User a way to test their sequence, and create multiple waves <feature flag = revamped_schedule>"
@daver78 after the production run with Mac, I believe we need to have a test run and a production run after the campaign is published.

[2017-10-05 20:41] daver78 commented on #127
@paagla123 YES YES YES YES!!!  Beautiful.  Was counting the minutes until you added this.  Praise the Lord!  We'll talk @ our meeting.

[2017-10-05 20:42] paagla123 opened #128 "Production push from Staging today 10/6 before any further changes to staging"
RIght now everything in Staging is tested. Let push to production and then focus on 10/13 Milestone. Please close this you after production push. Thx

[2017-10-05 22:28] paagla123 opened #129 "[Blog] Choose your audiences and Schedule - mini header in wrong place"
![image](https://user-images.githubusercontent.com/29718335/31255461-c1ccb61e-a9e1-11e7-9005-a82e229dc7d0.png)

[2017-10-05 22:33] paagla123 opened #130 "[Blog] Time zone should be in the same line as date and time for email schedule"
@coa0329 @jiewsone please shorten the date and time fields and move the time zone to the same line.
![image](https://user-images.githubusercontent.com/29718335/31255603-86e65cb6-a9e2-11e7-9b13-3690fc338039.png)

[2017-10-05 23:11] daver78 commented on #127
Dave will do the UI with a feature flag on this one.

[2017-10-05 23:21] #102 closed

[2017-10-05 23:36] paagla123 opened #131 "Notification and Alerts: we would like to send notification emails to several people"
Currently it goes only to the sender of the email

[2017-10-06 03:11] coa0329 commented on #128
@paagla123

Push to production.

[2017-10-06 03:11] #128 closed

[2017-10-06 07:10] coa0329 commented on #115
https://stackoverflow.com/questions/16539578/datatables-warning-requested-unknown-parameter-0-from-the-data-source-for-row

We may have null or undefined value in data.

To fix it, just add this line to attributes : ,"columnDefs": [ { "defaultContent": "-", "targets": "_all" } ]

The alert box will not show again, any empty values will be replaced with what you specified.

[2017-10-06 15:25] paagla123 commented on #116
@coa0329 @jiewsone pl look at how it was done in SalemCRM
https://keiger.com-ext.com/salem_crm/Portal.php

[2017-10-06 15:32] paagla123 commented on #118
@Mcfarsheed can you pl look at Dave's comments above and respond?

[2017-10-06 15:57] Mcfarsheed commented on #118
HI All -- Kush thanks for tagging me. I think you should set a default and then be able to override in each email. If we make someone configure it in each email, I think it's too much manual work and thought. But we should definitely give them the option to override. For example, I usually want my default to be orange but if my email header image is blue, I may want to be able to change the button

[2017-10-06 16:05] daver78 opened #132 "[Gatekeeper] Create functionality for feature flags which everyone can use"
Solve @paagla123's desire to be able to determine what's rolled out and to whom it is available.  Can be used for major features to protect users and give us feedback on usage and adoption patterns without impacting thousands of users.

Yes, we will have thousands of users.

[2017-10-06 19:03] daver78 commented on #132
I created a Gatekeeper feature that will allow us to toggle new features on/off.  You can access the UI from here:
![image](https://user-images.githubusercontent.com/7561473/31293969-0d592dae-aa8e-11e7-8a1e-239575c4a51d.png)
I hit it behind the copyright symbol for now.  We can move it.

When you load Gatekeeper, you'll see this:
![image](https://user-images.githubusercontent.com/7561473/31293996-

[2017-10-06 19:31] daver78 commented on #127
Notes between the esteemed @paagla123 and Dave as to how this might work:

- User configures Steps 1 and 2 as usual.
- When she arrives at Step 3, she sees 4 tabs or waves or something.  The first tab is called “Test Wave”.  This one is on.  There are 3 others, but she can’t click on them.
- She picks a test audience, a start time (within the day), and an interval.  Pushes a button that says DO IT

[2017-10-06 23:27] paagla123 opened #133 "[FORM] Copy Form stopped working"

[2017-10-06 23:59] daver78 commented on #127
![image](https://user-images.githubusercontent.com/7561473/31302586-a2d36e66-aab7-11e7-826e-564ad2fd0462.png)

**[A]** Is the schedule.  You set it once.
**[B]** Appears maybe immediately or after you configure your schedule
**[C]** Is where you add your “waves” … like in your case, “Prospects” and “Clients” and “MarTech People”
**[D]** Is where you add another one

[2017-10-09 03:15] paagla123 commented on #127
@daver78 I assume this needs to be merged into the Staging right?

[2017-10-09 03:16] paagla123 commented on #132
Tagging @paweenwich .
@daver78 we need to merge this into Staging - right?

[2017-10-09 04:53] coa0329 commented on #77
@daver78 @paagla123

What is the solution ?

[2017-10-09 04:54] coa0329 commented on #113
@paagla123
Do you want us to put target="_blank" back ?

[2017-10-09 08:47] coa0329 commented on #114
Solution :

1 When we save setting we will upload the value of defCompanyAddress, defCompanyPhone, defCompanyName, defCompanyLogo, defViewOnline and defUnsubscribe to S3.
2 Create new 6 content variables in MAML : companyAddress, companyPhone, companyName, companyLogo, viewOnlineMessage and unsubscribeLinkS3.
3 Set content of each variables to the links in S3.
Example : The value of companyAddress

[2017-10-10 02:03] paweenwich commented on #111
@paagla123 @daver78
I need a clear direction on this.  At first (promoteBlog), we have "publish/launch" button, which will enable and publish when all step is complete.   Later, we think it is a bad idea to have the launch button.  So, we experiment by using "publish when save".   If I remember correctly, Dave even suggest to publish when program first created (after name it) like his mock up..

D

[2017-10-10 04:05] paagla123 commented on #113
@coa0329 yes please. I already talked to @daver78 . He has given up!

[2017-10-10 04:06] paagla123 commented on #77
@daver78 MAML part is easy. Question is - where in the UI should we put this?

[2017-10-10 04:07] paagla123 commented on #114
@coa0329 I will test

[2017-10-10 04:10] paweenwich commented on #103
Done

[2017-10-10 08:35] coa0329 commented on #116
@paagla123

Fixed on stage.
We can get the contacts of that audience now.

![190](https://user-images.githubusercontent.com/7914690/31376864-78e083d4-add0-11e7-86c9-116cc8511423.JPG)

=============

showContact.php was killed by oom-killer.

![189](https://user-images.githubusercontent.com/7914690/31376670-e7e486e6-adcf-11e7-9397-73ec063e8d51.JPG)

=============

Kwang found that we don't have Swa

[2017-10-10 08:37] coa0329 commented on #126
@paagla123 Fixed on stage.
We use ##def## variable to resolve it.

[2017-10-10 08:39] coa0329 commented on #114
@paagla123 : Fixed on stage.

[2017-10-10 08:39] coa0329 commented on #113
@paagla123 Fixed on stage.

[2017-10-10 08:40] coa0329 commented on #103
@paagla123 Fixed on stage.

[2017-10-10 10:16] AumpaiFung commented on #133
@paagla123  Stage fixed

[2017-10-10 10:17] AumpaiFung commented on #129
@paagla123  Stage fixed

[2017-10-10 10:21] jiewsone commented on #130
fixed on stage.

[2017-10-11 05:25] paagla123 opened #134 "Identify all occurance of duplicate code where the same functionality is used in multiple places"
Example - email editing is used both in Blog and eBook
We need to have the code in only one place that is called out from multiple places.
This issue is just for creating a list of such code that needs to be fixed.
Please create a separate issue for each code module that needs fixing.
For example, if email editing and email scheduling are both duplicated in blog and eBook, please create two separa

[2017-10-11 05:29] coa0329 commented on #134
@AumpaiFung

We set timezone in some php to PDT.

Please change them from date_default_timezone_set('America/Los_Angeles'); to date_default_timezone_set('UTC'); too.

[2017-10-11 05:38] coa0329 opened #135 "[eBook] Copy campaign."
@paweenwich
We need to publish the new campaign after user set the name.

[2017-10-12 04:55] coa0329 commented on #134
Please use this google sheet

https://docs.google.com/a/mindfiremail.info/spreadsheets/d/1VqDBMV89l4DI_UDl6rRHYc9-_kpJbcyo1zS2GdU7jBk/edit?usp=sharing

[2017-10-12 05:01] coa0329 commented on #76
@AumpaiFung

We set timezone in some php to PDT.

Please change them from date_default_timezone_set('America/Los_Angeles'); to date_default_timezone_set('UTC'); too.

[2017-10-12 10:51] AumpaiFung commented on #134
@paagla123
Done. Please see google doc from link above.

[2017-10-12 10:53] AumpaiFung commented on #76
@paagla123
Stage fixed.

[2017-10-13 00:21] #129 closed

[2017-10-13 00:22] #130 closed

[2017-10-13 00:24] #133 closed

[2017-10-13 00:25] #113 closed

[2017-10-13 00:28] paagla123 commented on #116
@coa0329 this e still not working for me.

Re server, 1GB / 30GB seems  low. Pl talk to Chay and see if we can upgrade. Thx

[2017-10-13 00:29] paagla123 commented on #111
@paweenwich @daver78 based on discussions I am going to close it. No need to fix. Thx

[2017-10-13 00:29] #111 closed

[2017-10-13 19:52] paagla123 commented on #76
@AumpaiFung @coa0329 any idea how to verify? Thanks - Kushal

[2017-10-13 19:54] paagla123 commented on #134
Thank you.
Let us hold off on this - I have some other priority items for next week. Thanks

[2017-10-13 20:55] paagla123 commented on #122
Fixed.

[2017-10-13 20:55] #122 closed

[2017-10-13 21:20] #114 closed

[2017-10-13 21:21] #126 closed

[2017-10-13 21:22] paagla123 opened #136 "[Settings] Logo is not being saved"
When I upload a new logo and save it, it shows the new logo. However, when I go to another tab, and come back to settings, it still shows the old logo.

[2017-10-13 21:30] paagla123 commented on #91
@daver78 I am moving to next milestone based on our discussions yesterday

[2017-10-13 21:32] paagla123 commented on #77
@daver78 this is being moved to next MileStone. I believe this is now covered in the new gatekeeper functionality

[2017-10-13 23:16] paagla123 commented on #103
Finally fixed. Thanks @paweenwich

[2017-10-13 23:16] #103 closed

[2017-10-13 23:17] paagla123 commented on #93
@daver78 can we close it?

[2017-10-13 23:18] paagla123 commented on #82
@daver78 do we still need this?

[2017-10-13 23:20] #95 closed

[2017-10-13 23:33] paagla123 opened #137 "Create a Campaign allows user to go to building of the campaign without typing a name"
As a result I have two campaigns with blank names now:
![image](https://user-images.githubusercontent.com/29718335/31569908-c8255c34-b033-11e7-8be5-e6308b511642.png)

You can rename these campaigns - so it may be ok to leave them this way. I feel that we should have a pop-up at the time of the first SAVE to force people to type a name.

If I try to Publish - I get a Program Name Missing Error:

![

[2017-10-13 23:37] paagla123 opened #138 "Please add account Solution21"
$PartnerGuid = 'b7aeee35_34c9_4bdc_9ece_6bc5aa80b184'; //studio PartnerGuid
$PartnerPassword = 'ab59393a-838c-4ffB-a538-b4467FbbcC5c'; //studio PartnerPassword

[2017-10-14 00:12] daver78 commented on #82
@paagla123 What do you think?  Should we try it with the feature flag for `revamped_schedule`?

[2017-10-14 00:13] daver78 commented on #93
@paagla123 Go ahead and close this one.  I think we will end up modifying this to handle the email/phone #s of the people who want to be alerted, right?

If you agree, let's close this and make a new issue to handle that issue.

[2017-10-14 16:51] paagla123 commented on #127
@daver78 comments from this morning:
New layout:
- missing button to upload picture
- Some love needed in the display of name and emails in the two tabs on right
  Not enough room - from and test emails
- The tabs should automatically roll back if I click outside of the tabs
  If not possible, pl provide some sort of a x to close - not intuitive to click on name to close
- We still have to solve t

[2017-10-14 22:22] daver78 opened #139 "[Settings] Revise UI to group similar settings together in a tab format <feature flag = tabbed_settings>"
Finished.  Make sure you have access to feature toggle `tabbed_settings`.

![image](https://user-images.githubusercontent.com/7561473/31978075-80f8e014-b8f4-11e7-9816-8edb244c78ec.png)

![image](https://user-images.githubusercontent.com/7561473/31978080-8ed59d62-b8f4-11e7-90bd-efc53c998689.png)

![image](https://user-images.githubusercontent.com/7561473/31978097-9cad155a-b8f4-11e7-9d7c-d702da8bfae

[2017-10-15 00:35] paagla123 commented on #119
@jiewsone what is the status here? Thanks

[2017-10-15 00:38] #93 closed

[2017-10-15 00:38] paagla123 commented on #82
@daver78 yes. I am going to close this since 3127 handles this by and large.

[2017-10-15 00:38] #82 closed

[2017-10-15 14:35] daver78 opened #140 "Do this"

[2017-10-15 14:44] daver78 commented on #140
**Main Page**
This feature is the first to use a feature flag controlled by Gatekeeper.  If you have access, you'll see a toggle on this page:

![image](https://user-images.githubusercontent.com/7561473/31585781-7e73806c-b17c-11e7-8aa9-be5d0b757a3f.png)

[2017-10-16 00:34] daver78 commented on #140
# Identify the Targeted Blog Post

No changes made here.  However, @paagla123, I'm considering pushing the UTM section into the "Optional" section.  What do you think?

![image](https://user-images.githubusercontent.com/7561473/31590978-f0b3b7ee-b1ce-11e7-8179-fbdb9ef489e2.png)

[2017-10-16 00:39] daver78 commented on #140
#Configure Your Email Sequence

![image](https://user-images.githubusercontent.com/7561473/31591010-8abecfa4-b1cf-11e7-8170-701cb99e183f.png)

![image](https://user-images.githubusercontent.com/7561473/31591012-980f4d5a-b1cf-11e7-8802-cb0329912a67.png)

![image](https://user-images.githubusercontent.com/7561473/31591014-9cbde74e-b1cf-11e7-9eee-7c08d8794faf.png)

![image](https://user-images.github

[2017-10-16 00:41] daver78 commented on #140
# Schedule Broadcasts

![image](https://user-images.githubusercontent.com/7561473/31591049-0d97d970-b1d0-11e7-9c28-6960fd78c964.png)

[2017-10-16 00:59] daver78 opened #141 "[PABP Figure out how to do roll over image and upload"
Options:
 https://jsfiddle.net/taditdash/72XyL  // http://jsfiddle.net/k5Gcc/  // https://github.com/Nanakii/summernote-plugins/tree/master/plugin/template // http://talkerscode.com/webtricks/demo/demo_show-button-on-hover-using-html-and-css.php

[2017-10-16 01:00] daver78 opened #142 "[Global Settings] Set timezone for account (used in schedules, reporting)"

[2017-10-16 01:00] daver78 opened #143 "[Global Settings] Setting for "no more than x emails p/person p/[timeframe]" <feature flag = tabbed_settings>"

[2017-10-16 01:01] daver78 commented on #143
@paagla123 Do you agree with this?  I think it will serve to protect Users, which we have failed to do in the Studio UI.  There are other areas in which protection is required, but this is a good start.

[2017-10-16 01:02] daver78 commented on #142
@paagla123 Assuming we both agree, let's assign this to someone.

[2017-10-16 01:07] daver78 commented on #140
# Main Page Reporting

@paagla123 whoever is implementing the reporting for this blueprint, please note that I believe we should do an `ng-show` on the Reporting portion of the page; meaning, if there is no reporting yet, we should use the area to display either a "getting started" video / help doc, or something that let's them know reporting will appear there as soon as they start to get activity

[2017-10-16 02:33] coa0329 commented on #138
@paagla123

I add it to stage and prod.

[2017-10-16 02:44] coa0329 commented on #116
@paagla123 I cannot repeat it. I get data every time.

--------------

Server : See the price at https://www.digitalocean.com/pricing/#droplet, which one do you want ?
We use $10 / mo now.

[2017-10-16 04:14] #138 closed

[2017-10-16 04:15] paagla123 commented on #116
Let's go to the next level $20

[2017-10-16 04:46] paagla123 commented on #76
@coa0329 need to resolve is Studio REST API calls should use https

[2017-10-16 04:46] coa0329 commented on #76
@paagla123

https://studio.mdl.io/REST/PHPSampleAPICall.zip

The example code use http.

[2017-10-16 04:56] paweenwich commented on #119
Add 2 more option (fontname, fontsize).    Need to select new email template to has effect.

The code that control these popup button is in editxxxx_step2.js

[code]

[2017-10-16 05:48] coa0329 commented on #109
@AumpaiFung will take care of this.

[2017-10-16 05:56] paweenwich commented on #135
Done.  however, because publish, will take a while, So, after copy completed message, (we secretly publishing at this stage), you can not navigate to other pages.

[2017-10-16 07:02] paweenwich commented on #119
Unlucky, somehow, dropdown menu from summernote is not show up.  This has something to do with DV page.  Because, my test page "/admin/testSummernote.html" , it work fine.

[2017-10-16 12:21] jiewsone commented on #136
@paagla123
I guess it's cache problem.
I cannot repeat it everytime.
I have add Cache Control when we upload logo file for fix it.
However I will re-check it again. if it still happen.
If it's happen, please try to click ctrl+f5 to refresh page.

I have upload to production.
Please go to setting then click save after you login for the first time to make sure all dafault value was uploaded to S3.

[2017-10-16 14:20] daver78 commented on #109
@paagla123 I think your snapshot above is outdated now, considering the revised UI and my notes to you in #140.  You should confirm before @AumpaiFung works on this.

[2017-10-16 14:23] daver78 commented on #116
@paagla123 Is there a reason we don't put DV at AWS?

I don't know much about Digital Ocean ... but I think that once we launch, we may want to have a load balancer (ELB) in front of DV, not to mention WAF, VPC, and other things to protect ourselves & Users.

I assume DO has something like this, but it may be better to consolidate @ AWS since we have lots of organizational knowledge about their se

[2017-10-16 14:32] daver78 commented on #77
@paagla123 Are you asking if it is included in the `revamped_schedule` feature flag?

If so, then NO it's not there right now -- but we can add it.  Please confirm which direction you advise.

[2017-10-16 15:29] daver78 commented on #140
@paagla123 I had a thought this morning regarding **Schedule Broadcasts** UI above ... don't you think Users may also want to use this workflow as a drip?  I'll explain more in person.

[2017-10-16 18:07] paagla123 commented on #140
@daver78 if you mean send emails without connecting to the Blog? What specifically do you mean by drip?

[2017-10-16 18:09] paagla123 commented on #77
@daver78 yes - we should add a provision to input the  name and address of the person/group that received the lead email - may be in settings of email

[2017-10-16 18:10] paagla123 commented on #116
@daver78 yes. We need to take that up as a project as some point before we go to production.

[2017-10-16 18:22] paagla123 commented on #143
@daver78 Yes something like this - probably low priority. Per day is too much - we should discuss

[2017-10-16 18:28] paagla123 commented on #136
@jiewsone OK - this is working fine.  However, I found one other issue, the logo uploaded gets placed in both staging and production. Can we separate stage from production please? Thx

[2017-10-16 18:46] paagla123 commented on #76
@coa0329 @AumpaiFung  Jason says should always be https - sample is wrong.  So let's fix this.

Can you please also add him to this repo (javpowell)

[2017-10-16 18:58] paagla123 commented on #116
@coa0329 @paweenwich - i GOT THIS error in teh Colsole when I ran a "See All my Contacts" (about 8,000 contacts) on the sub acct Solution21. Hope this will point you tothe right din
![image](https://user-images.githubusercontent.com/29718335/31629668-2cb06b9e-b269-11e7-9171-0965eeec5f52.png)

[2017-10-16 19:17] paagla123 commented on #119
@paweenwich @jiewsone - @daver78 showed me that there is a reference to bootstrap.min.js somewhere on this page that is conflicting with bootstrap.js. Je commented out the line with the bootstrap.min.js and the drop downs work fine.

[2017-10-16 19:19] paagla123 commented on #46
@coa0329 who is assigned to this one?

[2017-10-16 19:41] paagla123 commented on #65
@coa0329 please use this in the GA Query Explorer to use as an example - that could be a starting point for the fingerprint - you will need to play with various options.
https://ga-dev-tools.appspot.com/query-explorer/?start-date=2017-10-15&end-date=2017-10-15&metrics=ga%3Ausers&dimensions=ga%3Abrowser%2Cga%3AbrowserVersion%2Cga%3AoperatingSystemVersion%2Cga%3Alatitude%2Cga%3Alongitude%2Cga%3Ascre

[2017-10-16 21:23] #136 closed

[2017-10-16 21:30] paagla123 commented on #118
@coa0329 @jiewsone please put this as an option in Settings section under Company Logo.
The Field label should say - color of CTA button
Should show the current color (default green) in a box next to field label. Click the box to open the pallet, select new color and save.

[2017-10-16 21:34] paagla123 commented on #77
@daver78 can we discuss where we want to have it?

[2017-10-16 21:37] Mcfarsheed commented on #118
Thanks @paagla123 -- in this case, this would make the color they choose be universal for all emails right? Would they have the option to change it in the specific email?

[2017-10-16 21:52] paagla123 commented on #142
@coa0329 @jiewsone lets add this under Marketing Settings in the main settings tab.
@daver78 do you want to remove time zone from the scheduling screens?

[2017-10-16 21:54] paagla123 commented on #135
@coa0329 @paweenwich What is this one about? Thx

[2017-10-16 21:55] paagla123 commented on #141
@daver78 I assume we do not need this one any more - righT?

[2017-10-16 23:16] paagla123 commented on #118
@Mcfarsheed no email specific changes. If that becomes too hard, we will add that in a future release

[2017-10-16 23:22] daver78 commented on #118
@paagla123 and @jiewsone I imagine we should us something like this: [https://farbelous.github.io/bootstrap-colorpicker/](https://farbelous.github.io/bootstrap-colorpicker/)

There is likely an `angularjs` directive for something similar; I did not check.

[2017-10-16 23:25] daver78 commented on #141
@paagla123 It depends on whether you want to break up the bigger tasks into smaller ones. If you look at the "project" for this overall item, it's one of the to-do items.  Up to you?

[2017-10-16 23:26] daver78 commented on #142
@paagla123 I did; refer to #140 and our conversation from noon :)

[2017-10-16 23:29] daver78 commented on #10
@paagla123 I'm closing this one since I have the feature flag referenced in #139.

[2017-10-16 23:29] #10 closed

[2017-10-16 23:30] daver78 commented on #132
@paagla123 Did you review this w/team yet?

[2017-10-16 23:31] daver78 commented on #143
@paagla123 I'll put a placeholder in Settings #139 for now.

[2017-10-17 00:50] coa0329 commented on #76
@paagla123
I send the invite to @javpowell

[2017-10-17 01:03] coa0329 commented on #135
@paagla123

When user copy eBook campaign, we let them enter the new campaign name, click 'ok', then we close the popup.

If we don't publish it, user cannot visit the microsite. They will get error "Sorry, I can't find a Microsite to display.".

So we must find the place to publish it.

My idea is to do it after they enter the new campaign name.

[2017-10-17 03:29] paagla123 commented on #135
OK - its a good idea. @coa0329 please go for it. Thanks

[2017-10-17 03:33] paagla123 commented on #46
@coa0329 the only parameters you need to provide are ai=Account ID, and fd/td => From and to dates.
td should always be today's date. DO we have any publish date or equivalent saved in cDB that we can use as fd? The remaining values should be unchanged.

[2017-10-17 03:34] paagla123 commented on #76
Thx. @coa0329 did you see my note on using  https for APIs?

[2017-10-17 03:36] coa0329 commented on #46
@paagla123

We have publishDate in cDB.

[2017-10-17 03:37] paagla123 commented on #46
@coa0329 can we use min(publishDate) as fd?

[2017-10-17 03:39] coa0329 commented on #46
![006](https://user-images.githubusercontent.com/7914690/31645648-6b7b4394-b327-11e7-9de0-28db91bd89c3.JPG)

Are we talk about this section ?

[2017-10-17 03:40] coa0329 commented on #76
@paagla123

Yes, I test on local. It works fine.

I will upload to stage this evening.

[2017-10-17 03:46] paagla123 commented on #64
@daver78 with the use of Feature Toggle with git - can we now close this?

[2017-10-17 03:53] paagla123 commented on #109
Related to #53 and #19

[2017-10-17 03:55] paagla123 commented on #46
@coa0329 - Yes that section, and when we click on the VIEW MORE REPORTS link next to it. Pulls up the graph.

[2017-10-17 04:04] daver78 commented on #46
@paagla123 and @coa0329 to be clear, pressing the "VIEW MORE PERFORMANCE REPORTS" pulls up more than one graph:

![image](https://user-images.githubusercontent.com/7561473/31646245-95badda8-b2b5-11e7-9ed0-65c426616f06.png)

[2017-10-17 04:05] daver78 commented on #64
@paagla123 Correct.  Closing.

[2017-10-17 04:05] #64 closed

[2017-10-17 09:59] coa0329 commented on #46
Fixed on stage.

@paagla123 @daver78
![009](https://user-images.githubusercontent.com/7914690/31658677-e83e2480-b35b-11e7-8e33-7bb50e63689d.JPG)

Section C can show data from https://studio.dashboard.mdl.io/api/Report//GetAdminReportData

What is data to show in section A and B ?
Do you want to show the sum of each columns in them ?

[2017-10-17 10:24] jiewsone commented on #119
@paagla123
Fixed on stage.

[2017-10-17 14:07] daver78 commented on #132
@paagla123 You mentioned in the chat that 'feature toggle' is a git feature.  It is **not** a git feature (see above).

Also in the chat you asked me to send some documentation; read #132 above and let me know what other questions you/team have.  You'll note that there are still some open items that need to be assigned should we continue this practice.

Adding @coa0329 and @paweenwich for referenc

[2017-10-17 14:08] daver78 opened #144 "[PABP] Move "UTM" section to "Optional" area"
@paagla123 I like that **you** suggested to put the UTM param in the optional section below :)

Will do, sir.

[2017-10-17 14:10] daver78 commented on #140
@paagla123 In the chat you said:

_The background color for the CLICK NOW button will also be in the settings tab - with a color picker pallete_

You appear to have reversed course on the button color, putting it back "_in the Settings tab_", which I take to mean the sliding modal on the right.  Did you Global Settings?

Let's clarify before the team goes in the wrong direction.

[2017-10-17 14:12] daver78 commented on #127
@paagla123 during last night's chat @paweenwich asked if the changes should be made to this revamped version.  You said "OK sure" -- but to clarify, I want to make sure the answer is "YES" without any doubt.

Using the feature flag will help us determine if this is the right way to do things in the future.

Any subsequent changes I make to this area will continue using the feature flag, and the te

[2017-10-17 14:13] daver78 opened #145 "[PABP] Create updated MAML to support feature flag == revamped_schedule"
@paagla123 I'm creating this task for you to create the MAML that the team will need to handle the revised UI.

[2017-10-17 14:16] daver78 commented on #19
@paagla123 Make sure to read the above.  Also @AumpaiFung see above work that has already been done and my notes.

@paagla123: You asked for some UI changes in the chat, which in general I'm fine with, but we should sync first because often, what you see in the UI is the result of dozens of hours of work and re-work that I never expose you to ... trying things that don't work, running into UX issu

[2017-10-17 17:50] paagla123 commented on #46
@coa0329 when I run https://studio.dashboard.mdl.io/api/Report//GetAdminReportData?rn=allprogram_allemail_detail&si=0&ai=679&st=0&fd=10/05/2017&td=10/17/2017&seed=false&datasourceType=redshift I get a different set of data than what you are displaying. Let's discuss today. Thanks for getting this off and running.

[2017-10-17 17:53] paagla123 commented on #19
@daver78 can we sync briefly on the UI for this part today afternoon?

[2017-10-17 17:55] paagla123 commented on #127
@daver78 @paweenwich please note: OK SURE == YES. 🥇

[2017-10-17 17:58] paagla123 commented on #132
@daver78 team is aware of the documentation referenced in this page - we looked at it in the GTM, which is not captured in the chat! 👍

[2017-10-17 18:00] paagla123 commented on #140
@daver78 I am referring to the main Settings Tab on the left nav panel - not the little new one!

[2017-10-17 18:07] daver78 commented on #46
@paagla123 and @coa0329 thank you both for pushing forward on this.  I can't wait to get my hands on it and give it love when you're ready :)

@paagla123 as I mentioned this morning, please ask Ali to create *exactly* what you need if the endpoints don't exist.  Feel free to invite him to this repo if that will speed things up for you.

[2017-10-17 18:12] daver78 commented on #140
@paagla123 You're the man :)

[2017-10-17 18:12] daver78 commented on #132
@paagla123 OK! :)

[2017-10-17 19:41] daver78 commented on #31
@paagla123 Is this still waiting on test?

[2017-10-17 19:41] daver78 commented on #35
I'm closing this because I think we're handling it in #127.

[2017-10-17 19:42] #35 closed

[2017-10-17 19:42] daver78 commented on #117
@paagla123 What should we do about this?  If I move the UTM to the "optional" section on that page, I can add a way to differentiate between button & image click.

[2017-10-17 19:43] daver78 commented on #77
@paagla123 Yes let's discuss today.  I will likely work on this tomorrow.

[2017-10-17 19:44] daver78 commented on #104
@kkhalessi and @paagla123 How's this going? :)

[2017-10-17 19:46] daver78 commented on #91
@paagla123 I forgot to ask you yesterday (somewhat related to this issue): Should we apply the same treatment to the email UI (vertical tabs) here, as we are doing for PABP?

I think it is preferable to be consistent.

[2017-10-17 19:48] daver78 commented on #141
@paagla123 I'm switching this to you so you can assign to the right person to do what we discussed yesterday:

1- When User rolls over the image, we overlay some text (I can style the overlay and text once it is ready); essentially, it will say something like "Click to edit this image"

2- When the User clicks the Image, the Summernote toolbar appears.

3- In the Summernote toolbar, we need to add

[2017-10-17 19:52] daver78 commented on #30
@paagla123 Can we get an answer to the question in the issue above?

[2017-10-17 21:55] kkhalessi commented on #104
@paagla123 and @coa0329
Would you please send me an actual script or a function for testing purposes? or is there any place that I have access to the code (I am not going to edit anything)?
Thank you,
Kathy

[2017-10-17 22:06] kkhalessi opened #146 "[Setting]Create a campaign name before going to the next step"
@coa0329 @coa0329

When creating a campaign, it will let you go to the campaign setting even you have not picked a name for your campaign!

[2017-10-17 23:02] paagla123 commented on #146
This is duplicate of #137
Closing

[2017-10-17 23:04] #146 closed

[2017-10-17 23:30] kkhalessi opened #147 "[Setting] Hover over the side bar"
When hovering over the orange area,   it’s only showing the text related to the image when you are right at the image (yellow square area), it’s good to cover the whole orange area. Please see the screenshot:
https://www.screencast.com/t/2Gl5rDn0degH

[2017-10-18 00:08] daver78 commented on #77
Per discussion with @paagla123, I will add a way to Step 3 where you can select from a list of Users you have added to your account.  This means we need to have a way to add Users in Settings.

[2017-10-18 00:38] paagla123 commented on #145
@coa0329 I have added a ver12 of teh MAML to add three additional TAs for each email

[2017-10-18 01:03] coa0329 commented on #46
@paagla123
The call you run return data for every campaigns of account 679 from 10/05 - 10/17.

I must write to code to get data for the selected campaign from that call from 10/17-10/17 to show.

Section C in the image shows data from that call for this campaign.

I ask about Section A and B.
What is data to show in section A and B ?
Do you want to show the sum of each columns in them ?
What do y

[2017-10-18 02:50] paagla123 commented on #46
@coa0329 do you have access to program id?

[2017-10-18 02:53] coa0329 commented on #46
@paagla123

https://studio.dashboard.mdl.io/api/Report//GetAdminReportData?rn=allprogram_allemail_detail&si=0&ai=679&st=0&fd=10/05/2017&td=10/17/2017&seed=false&datasourceType=redshift

No parameter for program id in the call.

[2017-10-18 02:56] paagla123 commented on #46
@coa0329 I know that. I am asking if you have access to it. If you do, I can have Ali add program ID to teh call. I will also get him to return the summary level data for sections A and B, so that you don;t have to worry about them.

@daver78 do we have the exact same data in sec A & B?

[2017-10-18 02:59] paagla123 commented on #104
@kkhalessi can you please go into Git and puill code for editPromoteBlog.php?

[2017-10-18 03:01] paagla123 commented on #30
@paweenwich can you pl respond to this issue?

[2017-10-18 03:01] paagla123 commented on #141
@daver78 YES!

[2017-10-18 03:03] paagla123 commented on #91
@daver78 you mean vertical style? If so, yes.

[2017-10-18 03:04] coa0329 commented on #46
@paagla123

We have program id.

[2017-10-18 03:04] daver78 commented on #46
@paagla123 Right now, yes.  But once @coa0329 does the work, I'm going to replace the current chart in "A" and find a Funnel that can show the conversion rate from each step.

[2017-10-18 03:05] paagla123 commented on #117
@daver78 you mean the click through to the blog from the Hero Image vs the button? yes by all means.

[2017-10-18 03:06] paagla123 commented on #46
I see

[2017-10-18 03:06] paagla123 commented on #31
This is done - close!

[2017-10-18 03:06] #31 closed

[2017-10-18 03:06] daver78 commented on #117
@paagla123 OK I'll do this with `revamped_schedule` feature toggle.

[2017-10-18 03:08] coa0329 commented on #145
![010](https://user-images.githubusercontent.com/7914690/31699262-351c1f74-b3ec-11e7-92f5-f82f8ea5cad9.JPG)

I modify ver12 by adding more schedules to all emails.

[2017-10-18 03:11] daver78 commented on #147
@paagla123 What's your question?  Let me know.

[2017-10-18 03:12] daver78 opened #148 "When "Create Campaign" modal pops up, focus should be in text input"
![image](https://user-images.githubusercontent.com/7561473/31699482-28679d86-b378-11e7-8f5b-a0168277744f.png)

[2017-10-18 08:13] coa0329 commented on #135
@paagla123

Fixed on stage.

[2017-10-18 08:17] coa0329 commented on #140
@paagla123 @daver78
Main Page Reporting : Fixed on stage.
Hide reporting portion if there is no reporting.

[2017-10-18 08:47] coa0329 commented on #145
@paagla123

Switch to use ver12 on stage.

[2017-10-18 10:05] AumpaiFung commented on #116
@paagla123    Stage fixed.

When we open showContact.php page, the count people number on header will refresh from the real data on that time.
(See Pic1 below)
![1](https://user-images.githubusercontent.com/30495097/31712528-90ba333c-b425-11e7-887f-558a21bfa865.jpg)

Question:
1. Should we update count value in couchDB?
2. If answer is Yes, Do you want to update modified date or not?
![2](https://

[2017-10-18 10:18] AumpaiFung commented on #109
@paagla123   Except filename, where do I get these parameters from?

$scope.files = [
{
 Name: {
    fileName: 'http://mthink.com/legacy/www.crmproject.com/assets/images/CRM6_sp_seller_hamilton.gif',
    friendlyName: 'Header Image'
},
Thumbnail: "http://mthink.com/legacy/www.crmproject.com/assets/images/CRM6_sp_seller_hamilton.gif",
Description: "Use this for any emails.  This is the only approve

[2017-10-18 10:27] jiewsone commented on #119
I have fix bug image toolbar and cancel button on stage.

[2017-10-18 14:51] daver78 commented on #119
@jiewsone and @paagla123: Two things here:

1) When I found the duplicate `bootstrap.js`, I can't recall if I commented out the minified version of bootstrap or the "long" one.  I think @jiewsone commented out the minified version.  Is there a reason?  I would expect that we want to keep the minified version for performance advantages and comment out the "long" one.

2) @jiewsone I notice that you

[2017-10-18 14:56] daver78 commented on #46
@paagla123 Did you invite Ali to the repo yet?  May be helpful.

Also: Please remember that even though I haven't included this in the UI yet, **we want Users to be able to drill-down to the row-by-row listing of the Contacts behind each # we present**.  When you have him create these endpoints, please be clear on how this will work so that we can implement this soon.

[2017-10-18 14:59] daver78 opened #149 "[Reporting] Add blueprint-specific stats to both Campaign listings"
In both these areas, we need to show Blueprint-specific stats to the User. I can provide more details when you're ready; please ask questions @paagla123 and @coa0329.

![image](https://user-images.githubusercontent.com/7561473/31725831-2b29ba1a-b3da-11e7-996d-54e6821ad961.png)

![image](https://user-images.githubusercontent.com/7561473/31725832-2ca67be4-b3da-11e7-8f35-cadc15c4a4ed.png)

[2017-10-18 15:03] daver78 commented on #65
@paagla123 I believe this is the order of tasks we discussed:

1- @paagla123 will experiment with various `env vars` to see if he can get a fairly close match between unique fingerprints and visitors to the MF website.

One issue here is that Query Explorer limits you to 7 dims, so you'll need to find an alternate way to do this.

2- Once @paagla123 figures out which `env vars` to use, he'll let @

[2017-10-18 15:22] daver78 opened #150 "BACKLOG: [Asset Library] Use meta info to protect User from inappropriate Assets"
If we tag assets with the corresponding media they can be used in, we can then filter the Asset Library views so that if I'm working on an email, I only see Assets that I can use in an email.

This could make the UX better, safer.

[2017-10-18 15:22] daver78 commented on #150
@paagla123 What do you think?  Should we backlog this for now but consider it later?  I saw that Concentrix is doing this in their Asset Library.

[2017-10-18 17:51] paagla123 commented on #149
@daver78 why don't you list your thoughts here. I will ask Ali about updates to the end point on Friday - so we can include anything needed here.

[2017-10-18 19:04] daver78 commented on #117
@paagla123 I'm going to backlog this.  While some will need it, it is not absolutely necessary for launch.  If you feel otherwise you can resurrect it.

[2017-10-18 20:10] daver78 commented on #77
@paagla123 Is @coa0329 assigned to this?  Please add the right person.

---
There are two parts to this:

(a) This part in the settings:

![image](https://user-images.githubusercontent.com/7561473/31740209-7aaca824-b405-11e7-8ab6-d7d6170d11ae.png)

(b) This part in the Blueprint:

![image](https://user-images.githubusercontent.com/7561473/31740274-aeaf3c54-b405-11e7-85e3-c83e171ba386.png)

For the

[2017-10-18 21:27] daver78 commented on #141
@paagla123 Who should this be assigned to?

[2017-10-18 21:45] paagla123 commented on #141
Already assigned to @jiewsone

[2017-10-18 21:46] paagla123 commented on #150
@daver78 Backlog for now please.

[2017-10-18 21:54] paagla123 commented on #116
@AumpaiFung yes to both please. Thank you

[2017-10-18 22:06] kkhalessi commented on #104
@paagla123 and @coa0329
Yes, I got it!

[2017-10-18 23:44] #135 closed

[2017-10-18 23:58] paagla123 commented on #116
@AumpaiFung you have to paginate. Mackenzi's Prospect List in MindFire Master with 44,210 records took approx 48 seconds - that is not acceptable. The requirements are, the first page of data must show up within 5 seconds. Check out https://keiger.com-ext.com/salem_crm/Search.php and  https://keiger.com-ext.com/salem_crm/Result.php

[2017-10-19 00:01] paagla123 commented on #104
@kkhalessi do you need some of teh html or angular code instead?

[2017-10-19 00:18] daver78 commented on #149
@paagla123 Is it clear what we need to do based on UI and our chat yesterday --  or do you need more info?

[2017-10-19 00:19] daver78 commented on #116
@paagla123 Can you send me the login creds for this?  I wanna see this holy pagination.

[2017-10-19 00:22] daver78 commented on #141
@paagla123 Uh oh you're starting to make use of the infamous "already did BLAH" (and the variant "already done") to mean "I just did it!" :-)

[2017-10-19 00:41] paagla123 commented on #116
Actually its in a function called loadcontactsbyPage in Share.php in the folder:
/var/www/vhosts/keiger.com-ext.com/httpdocs/salem_crm
Log in with root

[2017-10-19 01:05] paagla123 commented on #141
@daver78 it was discussed in one of the calls and @coa0329 assigned to @jiewsone . I just never updated in the issue

[2017-10-19 01:06] paagla123 commented on #149
@daver78 I will let you know if I need more info. For now ok.

[2017-10-19 01:37] paagla123 commented on #119
@jiewsone I do not see the extra button for uploading images in the new UI.

[2017-10-19 02:46] paweenwich commented on #118
Done

[2017-10-19 04:04] AumpaiFung commented on #116
@paagla123   I fixed about console error.

[2017-10-19 06:07] paagla123 opened #151 "Adding new accounts/beta clients to da Vinci"
@coa0329 please ensure that someone can add new accounts to DV in your absence. Also - if you can document the process (how to add a new Studio acct to DV) here, it will be great. Thx

[2017-10-19 07:21] jiewsone commented on #119
@daver78
1. I'm use the "long" because I guess it is full option and cover the mini. I'm see you change to mini and it works, that OK for me.

2. I mean, I move some the js link from other(editPromoteBlog_step2.php, ...) to header.php and re-order it like <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> must under <script src="https://code.jquery.com/ui/1

[2017-10-19 07:23] coa0329 commented on #151
1
Stage : Go to http://162.243.155.57:5985/_utils/database.html?master/studioAPI
Prod : Go to http://web2xmm.com:5984/_utils/database.html?master/studioAPI

![013](https://user-images.githubusercontent.com/7914690/31758688-a0cfc9e0-b4d8-11e7-868d-4a1710cb59cd.JPG)

2 Click Source.
3 Double click Source to edit.
4 Add new record at the bottom of apiCredential
       ,{
           "accountname": "",

[2017-10-19 10:11] coa0329 commented on #77
@paagla123 : fixed on stage.

You can Add / Edit and Delete user in settings [new layout] / Users.

I will do the input validation later.

=======

From in Blog and Ebook will get data from settings.

[2017-10-19 13:33] jiewsone commented on #137
@paagla123 @daver78
Fixed on stage.
I have a question.
On create new campaign, I have show warning message like this.
![validate_campaignname4](https://user-images.githubusercontent.com/30495168/31771851-d04b9f58-b507-11e7-98cf-3ae5fe8ae233.JPG)
I think it better than show pop up on modal form again.

But on edit campaign name, I have 2 choice.
1. Use function validate of xeditable. (I use this no

[2017-10-19 14:10] daver78 commented on #137
@jiewsone Did you check the `x-editable` params carefully to see how they handle validation? I imagine there must be something there that helps us with this use case.  Or no?

[2017-10-19 14:14] daver78 commented on #77
@coa0329 Good job!  I will take a look today and @paagla123 will have comments too.

By the way, @coa0329 -- please provide me feedback on how to make the UI easier for you to implement.  For example, was it helpful that I added the items to `$scope` with dummy array?

[2017-10-19 16:26] daver78 commented on #116
@paagla123 and @coa0329: I read your chat last night.  Few items:

1- @coa0329 I don't understand what Bootstrap has to do with @paagla123's request that we obtain 1k records at a time from the DB.  I believe that `datatables` (or `footables` -- I can't recall which you used) has a feature for async request of data for each page.  Have you looked at this?

2- @coa0329 I also don't understand why y

[2017-10-19 16:27] daver78 commented on #46
@paagla123 Can you put your spec here for the endpoints you're requesting?  I think we should sanity check them before Ali and others do.

[2017-10-19 16:29] daver78 commented on #46
@paagla123 and @coa0329 Why do you need to wait for anyone to start using RedShift?  Why don't you log in and initiate yourself?

![image](https://user-images.githubusercontent.com/7561473/31782515-fa496d4c-b4af-11e7-91f9-9d76ccfc2c26.png)

[2017-10-19 16:43] daver78 commented on #109
@paagla123 and @AumpaiFung I read your chat from last night.  Regarding the thumbnails, here's what I suggest:

1- I would not write PHP that we host on the DV server to process thumbnails.  I would use Lambda hooked to S3.  This means that whenever a User uploads a new image, the Lambda process fires automatically (serverless) and creates the thumbnail.  Very scalable and safe.

2- However, I wou

[2017-10-19 17:53] Mcfarsheed commented on #118
Nice!

Sincerely,

Mackenzi
MindFireInc.
949-842-4388
www.mindfireinc.com

On Wed, Oct 18, 2017 at 9:46 PM, paweenwich <notifications@github.com>
wrote:

[2017-10-19 20:30] daver78 commented on #144
@paagla123 Done, ready for QA son.

[2017-10-19 20:31] #117 closed

[2017-10-19 20:32] daver78 commented on #30
@paagla123 One more try :(

[2017-10-19 20:32] daver78 commented on #104
@kkhalessi and @paagla123 do we have any updates on the status of this?

[2017-10-19 20:32] #150 closed

[2017-10-19 20:33] daver78 commented on #147
@paagla123 and @kkhalessi can you review this one?  I don't follow.

[2017-10-19 20:34] #124 closed

[2017-10-19 20:59] daver78 commented on #139
@paagla123 and @coa0329 this is ready for implementation.

[2017-10-19 22:00] paagla123 commented on #151
Done - thanks

[2017-10-19 22:00] #151 closed

[2017-10-19 22:42] daver78 opened #152 "Create Sign Up Page"

[2017-10-19 23:07] daver78 commented on #152
![image](https://user-images.githubusercontent.com/7561473/31798282-9be8696e-b4e7-11e7-9cbb-3d16164cbf5f.png)

![image](https://user-images.githubusercontent.com/7561473/31798294-aa3791a2-b4e7-11e7-8a94-7eb50d420fab.png)

[2017-10-20 00:59] coa0329 commented on #116
@paagla123 @daver78

**For example, what should happen when I sort A->Z or "Search"/"Filter" for a record? As a User, I would expect it to look through the entire list ... but if I understand your request correctly, it will only look through what's been loaded so far?**

This is what I try to say. If we don't write the code to control the bootstrap, the next, prev, goto page and every buttons will

[2017-10-20 01:06] paagla123 opened #153 "{New User] Add AMalekshahi to bhaangweb"

[2017-10-20 01:09] coa0329 commented on #77
@daver78
I didn't work on (b) part yet but they can help.

[2017-10-20 01:26] paagla123 commented on #118
Perfect!

[2017-10-20 01:26] #118 closed

[2017-10-20 01:36] paagla123 commented on #145
Closing

[2017-10-20 01:36] #145 closed

[2017-10-20 03:43] jiewsone commented on #137
I have research it, but I don't found anything and it take more time then I switch to do the other issue.
What is the goal that you need?

[2017-10-20 03:53] jiewsone commented on #119
@daver78 Yes, it's clear and make sense.

[2017-10-20 04:36] paweenwich commented on #116
@daver78 @paagla123

To handle huge data we need server side pagination.  Basically, we need the API for
- retrieve data in page
- search in subset
- sort data
I think we can use contactservice/GetContactsByPage to do all above.  However, I need document/example of how to use

<SortExpression>String content</SortExpression>

For example, to sort "FirstName ASC, LastName DSC", What I need to put in

[2017-10-20 04:36] coa0329 commented on #153
@paagla123 I send invite to AMalekshahi

[2017-10-20 10:14] coa0329 commented on #77
@paagla123

part (b) : fixed on stage. I bring save button back. You need to click it to save data to couchdb.

in #140 @daver78 hide publish button. So we cannot publish the revamp version now.

![021](https://user-images.githubusercontent.com/7914690/31816296-ee1bb9d4-b5b9-11e7-9306-ca247d7481ba.JPG)

[2017-10-20 11:22] coa0329 commented on #30
@daver78 @paagla123

You need to find the correct html to modify.

![023](https://user-images.githubusercontent.com/7914690/31818637-2e360e76-b5c3-11e7-891e-864e4b829690.JPG)

Stage : Go to http://162.243.155.57:5985/_utils/document.html?master/templates

See the yellow hilight.
I just add new blog template for Kushal.

Davinci will show the record that don't have disabled = true.

[2017-10-20 11:48] jiewsone commented on #140
@paagla123
Here is the new UI progress on Stage.
Step 1 - Done.
Step 2 - You can save all email, that mean you can create email 2 by copy from email 1. You can send test on each email. You can upload image by drag-drop(I'm working on add custom upload button in toolbar).
Step 3, Step 4 - In queue.

[2017-10-20 14:21] daver78 opened #154 "Pricing Options (catalog of all ideas + first one to test with)"
This issue is to store the billing option ideas we've discussed.  We'll pick 1 or 2 to try at go-live and then iterate through the others as needed.

[2017-10-20 14:24] daver78 commented on #154
**"SharpSpring" Model**: ~$500 p/mo gives you a 3-pack of "starter" sub-accounts + 1 "starer" account for you. We decide what the limits are for things like "starter" "gold" etc.

**"$99" Model**: We charge $99 p/mo to see what the uptake is.

**Usage Only Model**:

**Unlimited Model**:

**Name Your Price**:

**Pay per Action**:

[2017-10-20 15:59] paagla123 opened #155 "[Initial Setup of new Account] Need to have a template account that will be cloned every time"
Cloning function in Studio needs to be expanded:
1) Copy Goals
2) Copy alert email formats (XML)
3) Copy Custom fields - what it does already. We will probably need to set up different custom fields for individual verticals, and have vertical specific templates

For Thxgiving 2017 launch, let us go the LWC route custom1-20, and probably allow people to rename fields in DV.

[2017-10-20 16:57] paagla123 commented on #155
@javpowell recommends that we use a parent account for daVinci and all signups will have have a sub account underneath

[2017-10-20 17:03] #153 closed

[2017-10-20 17:15] daver78 commented on #155
@paagla123 That's what I said this morning.  So now it is OK if Jason says it? ;-)  I see how you are. When I said, you replied, "**NO!!!** These are parent accounts; that won't work." :)

But help me, @javpowell, do we have any issue if these subs are going to create subs beneath them?

[2017-10-20 17:20] javpowell commented on #155
You mean like Grandchildren? :) Studio doesn't allow for grandkids. You can only create a sub-accounts by authenticating to the parent account. Make sense or do I misunderstand?

[2017-10-20 18:35] paagla123 opened #156 "[Reporting] Create a RedShift Environment for DV Reporting"

[2017-10-20 19:01] daver78 commented on #152
The signup process is comprised of two pages right now:

`signUp.php`: First page (if they don't go any further, at least we have some lead info)

`signUp_ccInfo.php`: Second page with CC info

For now, I want to use [https://stripe.com](https://stripe.com) to handle payments.  We may need to change this in the future but it should be the easiest and most developer-friendly way to get started.

[2017-10-20 19:04] amalekshahi commented on #156
I need schema for the table(s) that you want created on Redshift.

[2017-10-20 19:33] daver78 commented on #152
@paagla123 Please read through and confirm this is enough to hand over to team.

[2017-10-20 19:56] daver78 commented on #155
@javpowell Oh, I understand alright.  Let's see if @paagla123 sees the issue now :)

[2017-10-20 21:52] paagla123 commented on #156
@daver78 should we provide a schema based on the data returned by GA API? Thoughts?

[2017-10-20 21:52] paagla123 commented on #140
@jiewsone Awesome - thank you

[2017-10-20 22:26] amalekshahi commented on #156
Yes

[2017-10-20 22:59] paagla123 opened #157 "[Blog] Add new email templates"
Centered Logo and CTA
No logo
Requested by @Mcfarsheed

[2017-10-20 23:03] daver78 commented on #6
![image](https://user-images.githubusercontent.com/7561473/31844820-13aade3c-b5b0-11e7-8515-706e3848db62.png)

![image](https://user-images.githubusercontent.com/7561473/31844836-2e5300ac-b5b0-11e7-9ae4-b965036e3f3b.png)

[2017-10-20 23:07] daver78 commented on #6
@paagla123 This is ready for your review.  Let me know what other changes you suggest after you play with it.

[2017-10-20 23:38] paagla123 opened #158 "[Blog] Added new Email Templates"
Added two new templates and updated the file name of the one with centered CTA
![image](https://user-images.githubusercontent.com/29718335/31845392-03510818-b5b5-11e7-82fa-5f3c464172e1.png)

[2017-10-20 23:59] #157 closed

[2017-10-21 00:28] paagla123 commented on #144
Done for the UI - @jiewsone please note. Closing.

[2017-10-21 00:28] #144 closed

[2017-10-21 00:30] paagla123 commented on #104
@kkhalessi I spoke to @javpowell re this. Please create a test script for login screen - when we get to the second screen, we should be able to scan the name of the person logged in

[2017-10-21 00:31] paagla123 commented on #147
@daver78 I can explain what she means when I see you next time

[2017-10-21 00:34] paagla123 commented on #139
@daver78 can we discuss this one please?

[2017-10-21 00:41] paagla123 commented on #77
@coa0329 I will test it at length, but there is one fundamental problem. In the new UI, when we you come to the notifications tab for the first time (for a new campaign) and click on "Open my Emails", the whole page resets and it goes back to the old format. Please fix this - I will test the rest

[2017-10-21 00:43] paagla123 commented on #155
@daver78 @javpowell why would we need grandchildren - I don't see that as a possibility.
People that come off the web or get generally signed up will all be children of da Vinci
Someone like Farid if e wants to create a portal like Dentist21, we will create a parent acct for him with all these attributes.

[2017-10-21 00:44] paagla123 commented on #156
That question was for @daver78 to answer 👍

[2017-10-21 00:46] paagla123 commented on #6
@daver78 do you have a link I can play with? Based on screenshots it looks good.

[2017-10-21 01:14] coa0329 commented on #77
@jiewsone will check why it goes back to the old format.

[2017-10-21 01:30] kkhalessi commented on #104
@kkhalessi and @paagla123 @javpowell
I'll look for the script, if you can help me to find it easier, I would appreciate that!

[2017-10-21 01:33] javpowell commented on #104
@kkhalessi we can discuss Monday. This is what I wanted to talk about.

On Fri, Oct 20, 2017 at 6:30 PM kkhalessi <notifications@github.com> wrote:

--

*Jason Voigt*
*Client Services Manager*
jvoigt@mindfireinc.com | *949.579.9840*
http://www.mindfirestudio.com/

[2017-10-21 01:37] kkhalessi commented on #104
That's perfect,thank you!

On Oct 20, 2017 6:33 PM, "javpowell" <notifications@github.com> wrote:

@kkhalessi we can discuss Monday. This is what I wanted to talk about.

On Fri, Oct 20, 2017 at 6:30 PM kkhalessi <notifications@github.com> wrote:

IB1awtBuA7Mm3HXZoUTcyks5suUkrgaJpZM4PrdIu>

--

*Jason Voigt*
*Client Services Manager*
jvoigt@mindfireinc.com | *949.579.9840 <(949)%20579-9840>*
http:

[2017-10-21 01:47] daver78 commented on #30
@coa0329 I will try this, thank you.

@paagla123 Back to the original question: As a User, I may not know how to edit my logo and email footer. I think there should be a rollover 'outline' like we have for the editable stuff, but slightly different so the user gets pointed in the right direction (maybe a message appears that tells them what to do).  Do you agree?

[2017-10-21 01:49] daver78 commented on #147
@paagla123 OK.  Is it something that needs to happen by T-day?  If not, let's backlog it?

[2017-10-21 01:50] daver78 commented on #139
@paagla123 Yes, go ahead.  Listening.

[2017-10-21 01:51] daver78 commented on #155
@paagla123 OK so what are you suggesting we do for T-day?  Break it down for me and let's decide asap.

[2017-10-21 01:53] daver78 commented on #156
@amalekshahi Good to see you here where all the action is :)

@paagla123 As discussed, let's wait to see where you end up with the GA/conversion issue.  I'm getting the sense I may need to spend some time thinking about it again if the fingerprint method doesn't pan out.

[2017-10-21 01:54] daver78 commented on #6
@paagla123 It's checked into the `stage` branch, so if @coa0329 or @paweenwich can deploy for you this weekend, you can play there.

Alternatively, text me when you're ready and I'll wake up the sleeping giant (aka my dev machine).

[2017-10-21 01:55] daver78 commented on #104
@paagla123 Probably a good idea to specify which paths we need to have ready by the time we go live.  It's always my belief that we should have the money path locked down.

[2017-10-21 14:40] daver78 opened #159 "Obtain SSL for secure sign-up and DV"
If we are to gather credit card details during sign-up, we need SSL.

The DV UI should also employe SSL.

[2017-10-21 14:41] daver78 commented on #159
@paagla123 Who should this be assigned to?

[2017-10-23 22:46] paagla123 commented on #158
The new templates do not populate default content yet. May be the htmls need to be pished in stage. @coa0329 can you please check? Thanks

[2017-10-23 22:52] paagla123 opened #160 "[Settings] Please add option to change color of button text as well"
Otherwise if the button is made white background, the text is not readable.

[2017-10-23 22:54] paagla123 opened #161 "[General] Color of certain buttons in da Vinci are green and some others are orange - all should be orange"
Right now I have Save in settings and Launch in Blog - I will list more as I find them.

[2017-10-24 02:57] paweenwich commented on #160
@paagla123 I think the text properties including style/font/color can be changed by using summer note interface, by just selecting the text.

[2017-10-24 03:16] coa0329 commented on #158
@paagla123

Where do you put those html ?

I cannot find them in BhaangWeb/html/admin/templates/emails/

![024](https://user-images.githubusercontent.com/7914690/31923380-60e0eccc-b8a4-11e7-8020-1dd64040ad41.JPG)

[2017-10-24 03:35] coa0329 commented on #6
@paagla123 @daver78

I pull the code to stage.

[2017-10-24 05:29] coa0329 commented on #158
I pull them to stage.

[2017-10-24 09:10] paweenwich commented on #141
@paagla123 Done,  summernote popup will  have customize upload button (right most button).   Click that button will upload new image to replace the current one.

[2017-10-24 11:06] AumpaiFung commented on #109
@paagla123
Stage updated:
1. Display file of each folder.
2. Upload files of each folder.
3. GrabURL in cogs icon(right side)

On process:
1. New folder.
2. Download (Action)
3. Rename (I think, this should be individual and move out from Action)
4. Delete files.
5. Move(Action) / Replace(cogs icon).
6. Link with E-books and Blog post.

Question:  New folder is subfolder under each folder??
For ex

[2017-10-24 13:57] daver78 commented on #116
@paagla123 I'm confused by last night's chat.  I thought where you and left this is **we may not need to change anything in our code, merely have @amalekshahi apply an index**.  Our thought was that at least for now, this could solve our problem(s) and allow us to move forward.

What happened to that?  Did you speak to Ali about that, or did you forget? :)

[2017-10-24 13:59] daver78 commented on #152
@paagla123 Last night you said:

_Dave has been working on the sign-up process - he will release that to us this week for dev._

... I released it to you last week.  You need to take a look before assigning, but it is ready to go.  I mentioned this in our chat today vis-a-vis having Nun work on it.  Recall?

[2017-10-24 14:09] daver78 commented on #109
@paagla123 and @AumpaiFung thank you.  @paagla123 you will check this today and give @AumpaiFung feedback?

@AumpaiFung Forgive me, I haven't looked at your code -- how did you address the thumbnail issue for now?

[2017-10-24 14:12] daver78 commented on #141
@paweenwich Thank you.  @paagla123 Will you check this today?  Make sure that when we click the button to replace the image, I think there are 3 ways the User may want to operate:

- upload a new image from their desktop
- grab an image from the Asset Library
- paste in a URL to an image already hosted elsewhere

Agree?

[2017-10-24 14:12] daver78 commented on #148
@coa0329 Oh, thank you!  Did you do the same for the other Blueprint's modal?

@paagla123 Will you check this?

[2017-10-24 14:15] daver78 commented on #6
@coa0329 Thank you.

@paagla123 You should test this and review.  Make any notes here for fixes.

[2017-10-24 14:20] AumpaiFung commented on #109
@daver78 I used your code,  showPreview() to display thumbnail.

[2017-10-24 14:25] daver78 commented on #109
@AumpaiFung Got it.  So "hack" for now -- yes?

@paagla123 I think this should be OK for soft launch.

[2017-10-24 14:54] AumpaiFung commented on #109
I didn't hack anything :)

[2017-10-24 14:54] daver78 opened #162 "Use feature toggle to hide "Git" and "DB" links in UI"
@paagla123 Did you forget to add this?  We should do this soon since I think you have 2-3 "real" people in here now.

[2017-10-24 14:55] daver78 opened #163 "Remove "John Snow" as hardcoded user in Login Screen"
@paagla123 I think this needs to happen asap.  Right now this gives everyone access as @coa0329.

[2017-10-24 15:02] daver78 commented on #109
@AumpaiFung hahaha (I mean 555!!) I will check my code I don't remember what I did -- I think **I** did a hack though :)

[2017-10-25 00:37] coa0329 commented on #148
@daver78 Yes, both blog and ebook.

[2017-10-25 01:07] paagla123 commented on #148
Its fixed thx

[2017-10-25 01:07] #148 closed

[2017-10-25 01:08] paagla123 commented on #162
@daver78 @paweenwich @coa0329 I suggest we do it only for Production and not for Stage - anyone agree?

[2017-10-25 01:09] paagla123 commented on #6
@daver78 I have tested once - need to go through a couple more rounds

[2017-10-25 01:10] paagla123 commented on #141
@daver78 first one is working. We will fix the rest once ready.

[2017-10-25 01:15] paagla123 commented on #152
@daver78 crrect -I dont see it in Staging

[2017-10-25 01:16] paagla123 commented on #116
@daver78 I don;t know what field we are indexing by
@paweenwich did you see teh code in keiger.com-ext.com/crm-salem?

[2017-10-25 01:17] paagla123 commented on #158
Done

[2017-10-25 01:17] #158 closed

[2017-10-25 01:17] paagla123 commented on #159
@coa0329

[2017-10-25 01:19] daver78 commented on #116
@paagla123 You can figure that out with @amalekshahi -- no?

[2017-10-25 01:19] daver78 commented on #152
@paagla123 Is there. Where did you look?

[2017-10-25 01:20] paagla123 commented on #116
@daver78 I'll ask him - but @paweenwich shoul look at what was done for Sales - it worked for 73000 records, not huge data. We don;t anticipate more than 100K for now

[2017-10-25 01:20] daver78 commented on #141
@paagla123 What do you mean?

Do you mean "upload a new image from their desktop" is working, but "grab an image from the Asset Library" and "paste in a URL to an image already hosted elsewhere" isn't working yet?

[2017-10-25 01:20] coa0329 commented on #159
@paagla123
Which domain ?

[2017-10-25 01:22] paagla123 commented on #152
@daver78 http://davincistage.mindfireis.com/admin/login.html

[2017-10-25 01:23] paagla123 commented on #159
davinci.mindfireinc.com and dv.mindfireinc.com

[2017-10-25 01:24] paagla123 commented on #141
@daver78 yes. Working for new layout - nice job @jiewsone

[2017-10-25 01:25] paagla123 commented on #155
@daver78 this shoudl be easy - let us discuss next week

[2017-10-25 01:25] paagla123 commented on #147
Not urgent

[2017-10-25 01:26] paagla123 commented on #77
@coa0329 is this completed otherwise?

[2017-10-25 01:27] paagla123 commented on #139
@daver78  we need to discuss f2f as I don;t understand what you want

[2017-10-25 01:27] paagla123 commented on #30
What about the training videos @daver78 ?

[2017-10-25 01:29] daver78 commented on #30
@paagla123 We can def do training videos; but if you're in the moment, and trying to edit that text just like the other text, how do you know what to do?  It will be frustrating.

[2017-10-25 01:30] daver78 commented on #139
@paagla123 OK.  What part is unclear?  Maybe you don't have access to the revised UI for this portion.  Is that the issue?

[2017-10-25 01:30] paagla123 commented on #140
@jiewsone great job so far. Some issues noted:
1) Display of seed emails for send test is jumbled up
2) The test email sender list not functional. Let's chat today's call.
3) Program does not launch. @jiewsone do you need help from @paweenwich for that?

[2017-10-25 01:31] daver78 commented on #152
@paagla123 As noted above:

The signup process is comprised of two pages right now:

`signUp.php`: First page (if they don't go any further, at least we have some lead info)

`signUp_ccInfo.php`: Second page with CC info

For now, I want to use https://stripe.com to handle payments. We may need to change this in the future but it should be the easiest and most developer-friendly way to get started

[2017-10-25 01:32] daver78 commented on #147
Putting in backlog.

[2017-10-25 01:32] #147 closed

[2017-10-25 01:40] paagla123 opened #164 "[Email Edit] Copy and Paste problem"
When we copy and paste into the summernote portion from an external application such as word, the formatting in our edit window breaks. We should have a way to paste special. Also need to bring in unformatted text - without bullets for example. The summernote controls arre not always easy to access. @jiewsone I can show on phone tonight.

[2017-10-25 01:43] paagla123 commented on #152
@daver78 I am sorry, but I don;t see the link to the signup process here. I have the one for your codeanywhere env - but I would assume we would merge them into stage.

[2017-10-25 02:47] daver78 commented on #152
@paagla123 The links load fine for me.  You must not be typing it correctly:

[http://davincistage.mindfireis.com/admin/signUp.php](http://davincistage.mindfireis.com/admin/signUp.php)

... and ...

[http://davincistage.mindfireis.com/admin/signUp_ccInfo.php](http://davincistage.mindfireis.com/admin/signUp_ccInfo.php)

[2017-10-25 02:48] daver78 commented on #152
@paagla123 To be clear, this is ready for assignment.  You should look to see if you have any questions (read the above notes too), and then let me know if anything needs clarification.

If not, let's rock'n'roll.

[2017-10-25 02:58] daver78 opened #165 "When duplicating email #1 for #2 and 3, alert User re: best-practices"
We give Users the advice to create a second and third email to lift engagement.  Our template directs them how to do this, and makes it easy.  We should do a better job alerting them to the fact that they should probably modify their subject line and body copy a bit, somewhere in these areas:

![image](https://user-images.githubusercontent.com/7561473/31978278-7b0c863c-b8f5-11e7-8c85-28fbf8ed796b.

[2017-10-25 03:05] daver78 opened #166 "Give User way to "SHARE" email with a colleague, where the colleague can tweak text and then say "OK I'm ready""
Given the insight-provoking experience watching @Mcfarsheed and @paagla123 converse for ~2 hours to get an email right, it gave rise to the idea that perhaps the following is useful:

1- Someone like @paagla123 launches a campaign, say, Promote a Blog Post.

2- He configures everything based on assets provided to him by the marketer (or his boss, his client, etc.)

3- At some point in the process,

[2017-10-25 03:07] daver78 commented on #166
@paagla123 and @Mcfarsheed What do you think?

@javpowell What do you think of this based on your personal experiences?

[2017-10-25 03:08] Mcfarsheed commented on #166
Fantastic!

[2017-10-25 03:09] Mcfarsheed commented on #166
I think it's great!

[2017-10-25 03:11] daver78 commented on #166
@Mcfarsheed Part of me wonders why the "you" in this scenario doesn't just log into DV and do it yourself.  But my answer to myself is that if you're @paagla123's boss, or @paagla123's client, @paagla123 likely doesn't want to expose you to everything else in DV.

Am I making sense?

Yes, DV is easy.  But there are still reasons why @paagla123 would only want to bring you into the workflow/approva

[2017-10-25 03:19] coa0329 commented on #159
@paagla123

Please purchase the certificate and send the information to Chay to install them.

[2017-10-25 03:20] daver78 commented on #162
@paagla123 Shouldn't matter.  If you use the feature toggle, only the specified users will see it in the UI.

[2017-10-25 03:21] jiewsone commented on #77
@paagla123 Sorry, I forgot to update you. I already fix on stage.

[2017-10-25 03:28] coa0329 commented on #163
@daver78 Fixed on stage.

[2017-10-25 04:31] coa0329 commented on #132
@daver78

I see in the code you use the same js (example editPromoteBlog.js) for both version.

Can we seperate them ?